<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>OpenAlt z.s. &#187; lasergame</title>
	<atom:link href="http://OFFLINEZIP.wpshotag/lasergame/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description></description>
	<lastbuilddate>Fri, 12 Jun 2020 19:26:35 +0000</lastbuilddate>
	<language>cs-CZ</language>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Pozvánka na Laser Game a 113. sraz příznivců spolku OpenAlt</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-laser-game-a-na-113-sraz-priznivcu-spolku-openalt-brno/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-laser-game-a-na-113-sraz-priznivcu-spolku-openalt-brno/#comments</comments>
		<pubdate>Tue, 03 Feb 2015 15:26:25 +0000</pubdate>
		<dc:creator><![CDATA[Martix]]></dc:creator>
				<category><![CDATA[Setkání]]></category>
		<category><![CDATA[lasergame]]></category>
		<category><![CDATA[Pivovarský klub]]></category>
		<category><![CDATA[Sharingham]]></category>
		<category><![CDATA[sraz]]></category>

		<guid ispermalink="false">https://openalt.org/?p=302</guid>
		<description><![CDATA[Tentokrát jsme pro vás naplánovali dvě akce (2v1): pravidelný pražský i brněnský sraz příznivců open source, v Brně navíc dlouho slibovanou Laser Game. Přijďte se před večeří bezbolestně rozstřílet! Rezervovali jsme taktickou arénu v Laser Game v Brně na Hybešově: http://lasergamebrno.cz/cs/takticka-arena/ Akce je vhodná i pro ty, kteří Laser Game nikdy nehráli. Obsluha všem hráčům [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Tentokrát jsme pro vás naplánovali dvě akce (2v1): pravidelný pražský i brněnský sraz příznivců open source, v Brně navíc dlouho slibovanou Laser Game. <span class="fsl">Přijďte se před večeří bezbolestně rozstřílet!</span><br />
<span id="more-302"></span></p>
<p><span class="fsl">Rezervovali jsme taktickou arénu v Laser Game v Brně na Hybešově: <a href="http://lasergamebrno.cz/cs/takticka-arena/" target="_blank" rel="nofollow nofollow">http://lasergamebrno.cz/<wbr />cs/takticka-arena/</a></span></p>
<p>Akce je vhodná i pro ty, kteří Laser Game nikdy nehráli. Obsluha všem hráčům vysvětlí pravidla hry.</p>
<p>Datum: pátek 20. února<br />
Časy rezervace: 17:00, 17:20, 17:40, 18:00<br />
Cena: 95 Kč/hra (s ISIC 80 Kč)<br />
Vybavení: Doporučuje se pohodlné tmavé oblečení na převlečení, ve kterém vydžíte běhat po aréně. <img src="http://OFFLINEZIP.wpshowp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;" /> Nápoje jsou k dispozici na baru.</p>
<p><strong>Prosíme všechny zájemce, aby si podle svého uvážení vybrali časy rezervace.</strong> Každý si může libovolně vybrat 1-4 hry: <a href="http://doodle.com/qb62ghytgh6unb8k">http://doodle.com/<wbr />qb62ghytgh6unb8k</a></p>
<p><em> Je to důležité kvůli přehledu naplnění kapacity arén (minimalní i maximální). Platí se na konci, podle skutečného počtu odehraných her.</em></p>
<p>Mapa: <a href="https://www.openstreetmap.org/node/3328518284#map=19/49.18965/16.59926">https://www.openstreetmap.org/node/3328518284#map=19/49.18965/16.59926</a></p>
<p><span class="fsl">Facebook událost: <a href="https://www.facebook.com/events/1029895503703949/" rel="nofollow">https://www.facebook.com/<wbr />events/1029895503703949/</a></span></p>
<p>&nbsp;</p>
<p><span class="fsl">Po Laser Game se společně sejdeme v <strong>Restauraci Sharingham</strong>, která je zařízena ve středověkém rytířském stylu. Nabízí mezinárodní kuchyni, steaky a mnoho dalších specialit.</span><br />
<span class="fsl">A ti, co stihnou po Laser Game dojet do Prahy, budou vítání v útulném <strong>Pivovarském klubu</strong> v Pražském Karlíně. V nabídce bude nejen hojnost těžkých jídel, ale také množství vybraných druhů piv.</span></p>
<p><em>Rezervace je na pátek 20. února od 18:00.</em></p>
<p>Pokud bude někdo chtít přijít s přednáškou, ozvěte se na mail srazy at <a href="http://openalt.org/" target="_blank" rel="nofollow nofollow">openalt.org</a></p>
<p>&nbsp;</p>
<p>V Brně <a href="http://www.sharingham.cz/cs/2063-restaurace-brno-centrum" target="_blank" rel="nofollow nofollow">Restaurace Sharingham</a> | <a href="http://www.openstreetmap.org/node/2087582638#map=19/49.18613/16.59560" target="_blank" rel="nofollow nofollow">Vídeňská 1, Brno</a></p>
<p>V Praze <a href="http://www.pivovarskyklub.com/" target="_blank" rel="nofollow nofollow">Pivovarský klub</a> | <a href="http://www.openstreetmap.org/node/585219608#map=19/50.09050/14.44145" target="_blank" rel="nofollow nofollow">Křižíkova 17, Praha 8 &#8211; Karlín</a></p>
<p>&nbsp;</p>
<p><span class="fsl">Facebook událost</span>: <a href="https://www.facebook.com/events/1535689023378321">https://www.facebook.com/events/1535689023378321</a></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-laser-game-a-na-113-sraz-priznivcu-spolku-openalt-brno/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
