<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>OpenAlt z.s. &#187; Asides</title>
	<atom:link href="http://OFFLINEZIP.wpshoasides/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description></description>
	<lastbuilddate>Fri, 12 Jun 2020 19:26:35 +0000</lastbuilddate>
	<language>cs-CZ</language>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Planeta OpenAlt spuštěna</title>
		<link>http://OFFLINEZIP.wpshoasides/planeta-openalt/</link>
		<comments>http://OFFLINEZIP.wpshoasides/planeta-openalt/#comments</comments>
		<pubdate>Fri, 13 Mar 2015 12:48:07 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
		
		<guid ispermalink="false">https://openalt.org/?post_type=asides&#038;p=328</guid>
		<description><![CDATA[Naše planeta.openalt.org nemůže vyvážit ztrátu, kterou utrpěla Zeměplocha, ovšem u nás si můžete jak číst tak obsah dotvořit, pátku 13. navzdory. Díky patří JoeJoe a týmu Planet.]]></description>
				<content:encoded><![CDATA[<p>Naše <a href="http://planeta.openalt.org">planeta.openalt.org</a> nemůže vyvážit <a href="http://www.ceskenoviny.cz/zpravy/zemrel-terry-pratchett-prohral-boj-s-alzheimerovou-nemoci/1192013" target="_blank">ztrátu, kterou utrpěla Zeměplocha</a>, ovšem u nás si můžete jak číst tak obsah dotvořit, pátku 13. navzdory. Díky patří <a href="http://blog.mlich.cz/" target="_blank">JoeJoe</a> a týmu <a href="https://en.wikipedia.org/wiki/Planet_%28software%29" target="_blank">Planet</a>.</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshoasides/planeta-openalt/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>OpenAlt z.s. je oficiálně na světě</title>
		<link>http://OFFLINEZIP.wpshoasides/openalt-z-s-je-oficialne-na-svete/</link>
		<comments>http://OFFLINEZIP.wpshoasides/openalt-z-s-je-oficialne-na-svete/#comments</comments>
		<pubdate>Wed, 04 Feb 2015 18:28:46 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
		
		<guid ispermalink="false">https://openalt.org/?post_type=asides&#038;p=311</guid>
		<description><![CDATA[Konečně po téměř roce, a ano, přiznejme si to &#8211; vlastní &#8222;šikovností&#8220;, jsme registrováni jako OpenAlt z.s. Ať jsme otevřenosti přínosem!]]></description>
				<content:encoded><![CDATA[<p>Konečně po téměř roce, a ano, přiznejme si to &#8211; vlastní &#8222;šikovností&#8220;, jsme registrováni jako OpenAlt z.s. Ať jsme otevřenosti přínosem!</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshoasides/openalt-z-s-je-oficialne-na-svete/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
