<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>OpenAlt z.s. &#187; linux</title>
	<atom:link href="http://OFFLINEZIP.wpshotag/linux/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description></description>
	<lastbuilddate>Fri, 12 Jun 2020 19:26:35 +0000</lastbuilddate>
	<language>cs-CZ</language>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Pozvánka na 108. sraz příznivců otevřených technologií</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comments</comments>
		<pubdate>Sun, 14 Sep 2014 19:33:34 +0000</pubdate>
		<dc:creator><![CDATA[Fí]]></dc:creator>
				<category><![CDATA[Setkání]]></category>
		<category><![CDATA[geek]]></category>
		<category><![CDATA[linux]]></category>
		<category><![CDATA[openalt]]></category>
		<category><![CDATA[restaurace]]></category>
		<category><![CDATA[rozhovor]]></category>
		<category><![CDATA[sraz]]></category>
		<category><![CDATA[vláčky]]></category>

		<guid ispermalink="false">https://openalt.org/?p=82</guid>
		<description><![CDATA[Všem nadšencům a milovníkům otevřených technologií se na vědomost dává, že po 108. sejdeme se zase! Tentokrát 19. 9., jako obvykle po šesté. V Brně si můžete nechat pití přivézt vláčkem: Na jméno &#8222;OpenAlt&#8220; je rezervována Výtopna (Hlinky 972/34). Dejte vědět, kdo přijdete, ať kdyžtak můžeme obsluze avizovat či přidomlouvat další místa. V Praze zavítáme [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Všem nadšencům a milovníkům otevřených technologií se na vědomost dává, že po <strong>108.</strong> sejdeme se zase!<br />
Tentokrát <strong>19. 9.</strong>, jako obvykle <strong>po šesté</strong>.</p>
<p>V Brně si můžete nechat pití přivézt vláčkem:<br />
Na jméno &#8222;<strong>OpenAlt</strong>&#8220; je rezervována <a href="http://www.vytopna.cz/brno-hlinky/" target="_blank"><strong>Výtopna</strong></a> (<a href="http://www.openstreetmap.org/?mlat=49.19026&amp;mlon=16.58971#map=17/49.19026/16.58971" target="_blank">Hlinky 972/34</a>).<br />
Dejte vědět, kdo přijdete, ať kdyžtak můžeme obsluze avizovat či přidomlouvat další místa.</p>
<p>V Praze zavítáme do <strong>Lokalbloku</strong>.<br />
Nám. 14. října 10,<br />
Praha 5, 150 00<br />
<a href="http://lokalblok.cz/restaurace/?page_id=5">Lokalblok</a> (<a href="http://www.openstreetmap.org/node/296766835#map=19/50.07305/14.40501">Náměstí 14. října 10, Praha 5</a>)</p>
<div>Těšíme se na viděnou!<br />
OpenAlt</div>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/feed/</wfw:commentrss>
		<slash:comments>4</slash:comments>
		</item>
	</channel>
</rss>
