.openalt-nav {
  background-color: #28292a;
  color: #ffffff;
  border: 0; 
  margin: 0;
}

.openalt-nav a {
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;
}

.openalt-nav a.navbar-brand:hover, .openalt-nav .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #bf1f2e;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #d47a69;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #d47a69;
}

/*

.navbar-inverse .navbar-nav > .active > a, 
  background-color: #d47a69;
}
*/

.white-section, .red-section, .gray-section, .altering-section  {
  padding: 20px;
}

.altering-section:nth-child(2n) {
  background-color: #eeeeee;
}

.altering-section:nth-child(2n+1) {
  background-color: #ffffff;
}

.red-section {
    background-color: #c22e38;
    color: white;
}

.red-section a {
    color: #f09685;
    text-decoration: none;
}
.red-section a:hover {
    text-decoration: underline;
}


.white-section {
}

.gray-section {
    background-color: #28292a;
    color: #ffffff;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 35pt;
    font-weight: normal;
}

h3 {
    font-family: "Open Sans",sans-serif;
    font-size: 16pt;
    font-weight: 200;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
}

.subtitle {
  font-family: "Open Sans",sans-serif;
  font-size: 16pt;
  font-weight: lighter;
}

.subtitle-date {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 4vh;
    margin-top: 3vh;
}

.footer {
  text-align: center;
}

.openalt-history img {
    margin-right: 4pt;
    max-height: 50pt;
    vertical-align: middle;
    width: 100pt;
}

.venue-info {
    font-size: 11.4pt;
    font-weight: 300;
    line-height: 20pt;
    font-family: "Open Sans",sans-serif;
}

.partners img {
  max-height: 120px;
  max-width: 100%;
}

#stat {
    text-align: center;
    font-family: "Open Sans",sans-serif;
}

#stat .stat {
    color: #c22e38;
    font-size: 100px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInDown {
    animation-name: fadeInDown;
}

#stat .stat {
    color: #c22e38;
    font-size: 100px;
}
#stat .stat-info {
    font-size: 17pt;
}

#stat hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c22e38 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    width: 20px;
}

#benefits p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0 0 10px;
    line-height: 16pt;
}


blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #6b0a12;
  border-right: 2px solid #6b0a12;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #6b0a12;
  -webkit-box-shadow: 2px 2px 15px #6b0a12;
  box-shadow: 2px 2px 15px #6b0a12;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

#partners_footer {
    background: white none repeat scroll 0 0;
    border-top: 1px solid #28292a;
    bottom: 0;
    height: 44px;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    z-index: 3;
}


#partners_footer img {
  margin: 1px 5px;
  padding: 0;
  height: 41px;
}

.feedback_author::before {
    content: "-- ";
}
.feedback_author {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}


.feedback_msg {
    font-style: italic;
    margin-bottom: 4pt;
    margin-top: 24pt;
    padding-bottom: 0;
    text-align: left;
}



#main_buttons a, #main_buttons a:link, #main_buttons a:visited, #main_buttons a:hover, #main_buttons a:active {
    color: white;
    display: inline-block;
    font-size: 17pt;
    font-weight: 600;
    margin: 0 11pt 20pt 0;
    padding-bottom: 15pt;
    padding-top: 15pt;
    text-decoration: none;
    width: 190pt;
}

#secondary_buttons a, #secondary_buttons a:link, #secondary_buttons a:visited, #secondary_buttons a:hover, #secondary_buttons a:active {
    color: white;
    display: inline-block;
    font-size: 14pt;
    font-weight: 600;
    margin: 0 5pt 10pt 0;
    padding-bottom: 5pt;
    padding-top: 5pt;
    text-decoration: none;
    width: 150pt;
    text-align: center;
}


#main_buttons a:nth-child(n+1), #secondary_buttons a:nth-child(n+1) {
    background-color: #d47a69;
}
#main_buttons a:nth-child(n+2), #secondary_buttons a:nth-child(n+2) {
    background-color: #bf1f2e;
}
#main_buttons a:nth-child(n+3), #secondary_buttons a:nth-child(n+3) {
    background-color: #6b0a12;
}



#gallery ul {
    list-style: outside none none;
}

#gallery.one ul > li {
    height: 110px;
    width: 140px;
}
#gallery ul li {
    float: left;
    font-size: 70%;
    text-align: center;
}
#gallery ul li {
    display: inline;
}

.form-group {
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
}


.circle {
  position: absolute;
  width: 18pt;
  height: 18pt;
  border-radius: 50%;
}



.track0-fg, a:hover.track0-fg, .track0-fg a { color: #10753f; }
.track1-fg, a:hover.track1-fg, .track1-fg a { color: #2f62ae; }
.track2-fg, a:hover.track2-fg, .track2-fg a { color: #be1e2d; }
.track3-fg, a:hover.track3-fg, .track3-fg a { color: #57585a; }
.track4-fg, a:hover.track4-fg, .track4-fg a { color: #d37a6a; }
.track5-fg, a:hover.track5-fg, .track5-fg a { color: #92378b; }
.track6-fg, a:hover.track6-fg, .track6-fg a { color: #f57900; }
.track7-fg, a:hover.track6-fg, .track7-fg a { color: #000000; }
.track8-fg, a:hover.track7-fg, .track8-fg a { color: #edd400; }

.track0-btn { background-color: #10753f; color: #ffffff;  }
.track1-btn { background-color: #2f62ae; color: #ffffff;  }
.track2-btn { background-color: #be1e2d; color: #ffffff;  }
.track3-btn { background-color: #57585a; color: #ffffff;  }
.track4-btn { background-color: #d37a6a; color: #ffffff;  }
.track5-btn { background-color: #92378b; color: #ffffff;  }
.track6-btn { background-color: #f57900; color: #ffffff;  }
.track7-btn { background-color: #000000; color: #ffffff;  }
.track8-btn { background-color: #edd400; color: #000000;  }

:hover.track0-btn { background-color: #17a95b; color: #ffffff;  }
:hover.track1-btn { background-color: #4a7fce; color: #ffffff;  }
:hover.track2-btn { background-color: #e03848; color: #ffffff;  }
:hover.track3-btn { background-color: #747578; color: #ffffff;  }
:hover.track4-btn { background-color: #e0a398; color: #ffffff;  }
:hover.track5-btn { background-color: #ba4ab1; color: #ffffff;  }
:hover.track6-btn { background-color: #ff9731; color: #ffffff;  }
:hover.track7-btn { background-color: #1e1e1e; color: #ffffff;  }
:hover.track8-btn { background-color: #ffe829; color: #000000;  }

#schedule > table .program_track0, #schedule > table  td.program_track0 a { background-color: #10753f; color: #ffffff; }
#schedule > table .program_track1, #schedule > table  td.program_track1 a { background-color: #2f62ae; color: #ffffff; }
#schedule > table .program_track2, #schedule > table  td.program_track2 a { background-color: #be1e2d; color: #ffffff; }
#schedule > table .program_track3, #schedule > table  td.program_track3 a { background-color: #57585a; color: #ffffff; }
#schedule > table .program_track4, #schedule > table  td.program_track4 a { background-color: #d37a6a; color: #ffffff; }
#schedule > table .program_track5, #schedule > table  td.program_track5 a { background-color: #92378b; color: #ffffff; }
#schedule > table .program_track6, #schedule > table  td.program_track6 a { background-color: #f57900; color: #ffffff; }
#schedule > table .program_track7, #schedule > table  td.program_track7 a { background-color: #000000; color: #ffffff; }
#schedule > table .program_track8, #schedule > table  td.program_track8 a { background-color: #edd400; color: #000000; }


#schedule > table .program_linux {
    background-image: url("../img/linux.png");
    background-repeat: no-repeat;
    background-position: 99% 99%;
}

#schedule > table .program_vyber {
    background-image: url("../img/bookmark-solid.svg.png");
    background-repeat: no-repeat;
    background-position: 99% 99%;
}

#schedule > table td {
    position: relative;
}

#schedule > table .program_icon {
    position: absolute;
    bottom: 1px;
    right: 3px;
}

#schedule > table td .program_favicon > a {
    color: #fce94f;
}


#schedule > table {
  max-width: 100%;
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  padding: 3px;
  margin: 0 auto;
}

#schedule.openaire > table {
  max-width: 800px;
}

#schedule > table th, #schedule > table td {
  min-width: 100px;
}

#schedule > table td {
  padding: 3px 5px 3px 5px;
  width: 18.5%;
  background-color: #d1d2d4;
}

#schedule.openaire > table td {
  width: 100%;
}

#schedule > table th {
  padding: 5px 7px 5px 7px;
  text-align: center;
  min-width: 20px;
  width: 50px;
  background-color: #28292a;
  color: #ffffff;

}

#schedule > table td a {
/*  color: #ffffff; */
}

#schedule .speakers {
  font-weight: bold;
}
#schedule .topic {
}

#schedule > table .href_topic {
  z-index: 15;
}

#schedule .highlight_time {
  background-color: #c22e38;
}


.carousel-caption > h3 {
    font-weight: normal;
}

.carousel-caption > p {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7), -5px -5px 5px #000000;
}

.main-logo {
  max-width: 100%;
}


/** wall */
 
.feed_item {
  border: solid #aaaaaa 1px;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}

.feed_avatar {
  width: 60px;
  height: 60px;
  clear: left;
  float: left;
}
.feed_title {
  float: left;
  padding-left: 10px;
}
.feed_author {
  font-weight: bold;
}
.feed_time {
}
.feed_text {
  clear: left;
  padding-top: 10px;
}
.feed_image {
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.feed_type {
  width: 20px;
  height: 20px;
  float: right;
}


/* wall - end*/


#program_detail .event_title {
  font-weight: bold;
  font-size: 14pt;
}

#program_detail .participant_name {
  font-weight: bold;
  font-size: 12pt;
}

#program_detail .speaker_box  {
  width: 100%;
  clear: left;
}
#program_detail .avatar {
  width: 150px;
  height: 150px;
  float: left;
  padding: 10px;
  background-image: url("../avatars2/blank_boy.png");
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  background-clip: content-box;

}

#program_detail .speaker_data {
  padding: 10px;
}

.btn-circle {
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 17px 0;
  border-radius: 40px;
}

.conf-social {
  padding: 20px 0;
}

.postit {
    background-image: url("../img/postit.png");
    background-size: 100% 100%;
    display: none;
    height: 153px;
    width: 200px;
    left: 65%;
    position: absolute;
    top: 55px;
}


.pocetregistraci {
    font-size: 110%;
    left: 0;
    position: relative;
    text-align: center;
    top: 60px;
    transform: rotate(-11deg);
}

#reg_counter {
  font-weight: bold;
  font-size: 18pt;
}

@media (max-width: 500px) {
  .postit {
    height: 100px;
    width: 150px;
    left: 55%;
  }
  .pocetregistraci {
    font-size: 10pt;
    top: 30px;
  }


  #reg_counter {
    font-weight: bold;
    font-size: 14pt;
  }
}


a#button_always {
  padding: 5px 7px 5px 7px;
  color: #ffffff;
  background-color: #bf1f2e;
  border: solid #6b0a12 1px;

  position: fixed;
  text-align: center;
  vertical-align: middle;
  right: 20px;
  bottom: 50px;
  z-index: 100;
}

a:hover#button_always {
  text-decoration: none;
  background-color: #d47a69;

}

input:required {
}

input:invalid, textarea:invalid {
    border-color: rgba(255,0,0,0.7);
}


@media print {
    h3 {
        margin: 0;
        padding-top: 0;
    }
    #partners_footer {
        display: none;
    }

    #schedule > table  { 
        page-break-after: always; 
        font-size: 50%; 
    }
    a[href]:after {
      content: none !important;
    }

    #schedule > table {
        border-collapse: collapse;
    }

    #schedule > table .program_favicon {
        display:none;
    }
    a#button_always {
        display:none;
    }
    td,th {
        padding: 0;
        margin: 0;
        border: solid #cccccc 1px;
        border-collapse: collapse;
    }
    #secondary_buttons {
        display:none;
    }

    @page  
    { 
        size: auto;   /* auto is the initial value */ 
    
        /* this affects the margin in the printer settings */ 
        margin: 5mm 5mm 5mm 5mm;  
    } 

    body  
    { 
        /* this affects the margin on the content before sending to printer */ 
        margin: 0px;  
    } 
}

.program_table tr:first-child th {
    height: 25px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
