<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>OpenAlt z.s. &#187; Nezařazené</title>
	<atom:link href="http://OFFLINEZIP.wpshocategory/nezarazene/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description></description>
	<lastbuilddate>Fri, 12 Jun 2020 19:26:35 +0000</lastbuilddate>
	<language>cs-CZ</language>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Pozvánka na 112. sraz příznivců open source</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-112-sraz-priznivcu-open-source-praha/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-112-sraz-priznivcu-open-source-praha/#comments</comments>
		<pubdate>Sun, 11 Jan 2015 09:02:21 +0000</pubdate>
		<dc:creator><![CDATA[Jan Mareš]]></dc:creator>
				<category><![CDATA[Nezařazené]]></category>

		<guid ispermalink="false">https://openalt.org/?p=190</guid>
		<description><![CDATA[Již tento pátek (16.1.) se opět můžeme setkat při 112. srazu příznivců open source a otevřeného myšlení v kouzelné pražské Kozlovně nebo v přátelském brněnském pohostinství U Bílého beránka a podělit se o svá předsevzetí do vražedně vzrušujícího roku. 😉 Začátek v 18h! V Brně U Bílého beránka &#124; Štefánikova 85/16, Brno V Praze Kozlovna &#124; Lidická [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Již tento pátek (16.1.)</strong> se opět můžeme setkat při 112. srazu příznivců open source a otevřeného myšlení v kouzelné pražské <a href="http://www.kozlovna.eu">Kozlovně</a> nebo v přátelském brněnském pohostinství <a title="U Bílého beránka" href="http://www.ubilehoberanka.cz/">U Bílého beránka</a> a podělit se o svá předsevzetí do vražedně vzrušujícího roku. <img src="https://s.w.org/images/core/emoji/72x72/1f609.png" alt="😉" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>
<p><strong>Začátek v 18h!</strong></p>
<p>V Brně <a href="http://www.ubilehoberanka.cz/">U Bílého beránka</a> | <a href="http://www.openstreetmap.org/?mlat=49.20918&amp;mlon=16.60376#map=17/49.20918/16.60376">Štefánikova 85/16, Brno</a><br />
V Praze <a href="http://www.kozlovna.eu">Kozlovna</a> | <a href="http://www.openstreetmap.org/#map=19/50.07239/14.40734">Lidická 20, Praha 5</a></p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-112-sraz-priznivcu-open-source-praha/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pozvánka na vzpomínkovou akci na Aarona Swartze</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-vzpominkovou-akci-na-aarona-swartze/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-vzpominkovou-akci-na-aarona-swartze/#comments</comments>
		<pubdate>Sun, 11 Jan 2015 08:57:33 +0000</pubdate>
		<dc:creator><![CDATA[Jan Mareš]]></dc:creator>
				<category><![CDATA[Nezařazené]]></category>

		<guid ispermalink="false">https://openalt.org/?p=192</guid>
		<description><![CDATA[Spolek OpenAlt pořádá v pondělí 12. ledna vzpomínkové promítání biografického snímku Internetový chlapec: Příběh Aarona Swartze. Po filmu následuje diskuzní panel o autorských právech a otevřeném přístupu se zajímavými hosty. Akce se uskuteční v brněnském kině Scala. Více na http://kino.openalt.org.]]></description>
				<content:encoded><![CDATA[<p>Spolek OpenAlt pořádá <strong>v pondělí 12. ledna</strong> vzpomínkové promítání biografického snímku <strong>Internetový chlapec: Příběh Aarona Swartze</strong>. Po filmu následuje diskuzní panel o autorských právech a otevřeném přístupu se zajímavými hosty.</p>
<p>Akce se uskuteční v brněnském kině Scala. Více na <a href="http://kino.openalt.org">http://kino.openalt.org</a>.</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-vzpominkovou-akci-na-aarona-swartze/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>pokus &#8211; logo</title>
		<link>http://OFFLINEZIP.wpshopokus-logo/</link>
		<comments>http://OFFLINEZIP.wpshopokus-logo/#comments</comments>
		<pubdate>Mon, 29 Sep 2014 15:55:38 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
				<category><![CDATA[Nezařazené]]></category>

		<guid ispermalink="false">https://openalt.org/?p=88</guid>
		<description><![CDATA[Odznak/logo do profilový fotky?]]></description>
				<content:encoded><![CDATA[<p><script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1502763703312158',
      xfbml      : true,
      version    : 'v2.1',
      fid        : '713859178668642'
    });
  };
  (function(d, s, id){
     alert(d);
     debugger;
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
$fid = "713859178668642"
</script></p>
<h1 style='margin-left:20px;'>
  Odznak/logo do profilový fotky?</h1>
<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
<p><img src="https://graph.facebook.com/<?= $fid ?>/picture?type=large&#8220;><br />
<img src="https://graph.facebook.com/713859178668642/picture?type=large"></p>
<div id="fb-root"></div>
<p><input type="button" value="Login" onclick="Login();" /></p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopokus-logo/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Konference OpenAlt (loni LinuxAlt) &#8211; hlasování o programu</title>
		<link>http://OFFLINEZIP.wpshokonference-openalt-loni-linuxalt-hlasovani-o-programu/</link>
		<comments>http://OFFLINEZIP.wpshokonference-openalt-loni-linuxalt-hlasovani-o-programu/#comments</comments>
		<pubdate>Tue, 23 Sep 2014 11:15:42 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
				<category><![CDATA[Nezařazené]]></category>

		<guid ispermalink="false">https://openalt.org/?p=91</guid>
		<description><![CDATA[Podoba programu 9. ročníku konference OpenAlt (dříve LinuxAlt) čeká do 1. října na vaši volbu. Hlasování vás bude stát chvíli času &#8211; sešlo se 62 témat. Tímto za sebe i budoucí účastníky děkujeme všem, co jsou připraveni se 1. a 2. listopadu 2014 podělit o své vědomosti a dovednosti s open source nadšenci. Program i [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Podoba programu 9. ročníku konference <strong>OpenAlt</strong> (dříve LinuxAlt) čeká do <strong>1. října</strong> na vaši volbu. <a href="http://www.openalt.cz/2014/anketa">Hlasování</a> vás bude stát chvíli času &#8211; sešlo se 62 témat. Tímto za sebe i budoucí účastníky děkujeme všem, co jsou připraveni se <strong>1. a 2. listopadu 2014</strong> podělit o své vědomosti a dovednosti s <a href="http://www.openalt.cz/2013/sbornik#open-source-neni-jen-software">open source</a> nadšenci. Program i registraci zveřejníme 8. října.</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshokonference-openalt-loni-linuxalt-hlasovani-o-programu/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>test_acb</title>
		<link>http://OFFLINEZIP.wpshotest_acb/</link>
		<comments>http://OFFLINEZIP.wpshotest_acb/#comments</comments>
		<pubdate>Fri, 22 Aug 2014 11:45:54 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
				<category><![CDATA[Nezařazené]]></category>

		<guid ispermalink="false">https://openalt.org/?p=69</guid>
		<description><![CDATA[varianta 970&#215;480: varianta 473&#215;310: &#8222;aktuální&#8220; den (15.9.) 473&#215;310:]]></description>
				<content:encoded><![CDATA[<p>varianta 970&#215;480:<br />
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vumgi3ct48n4qto9fbvd3ajp04%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Europe%2FPrague&#038;dates=20140915/20141012" style=" border-width:0 " width="970" height="480" frameborder="0" scrolling="no"></iframe><br />
<br />
varianta 473&#215;310:<br />
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vumgi3ct48n4qto9fbvd3ajp04%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Europe%2FPrague&#038;dates=20140915/20141012" style=" border-width:0 " width="473" height="310" frameborder="0" scrolling="no"></iframe></p>
<p>
&#8222;aktuální&#8220; den (15.9.) 473&#215;310:<br />
<iframe src="https://www.google.com/calendar/embed?mode=DAY&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vumgi3ct48n4qto9fbvd3ajp04%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Europe%2FPrague&#038;dates=20140915/20141015" style=" border-width:0 " width="473" height="310" frameborder="0" scrolling="no"></iframe></p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshotest_acb/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pozvánka na 107. sraz příznivců otevřených technologií</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-107-sraz-priznivcu-otevrenych-technologii/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-107-sraz-priznivcu-otevrenych-technologii/#comments</comments>
		<pubdate>Tue, 12 Aug 2014 15:09:35 +0000</pubdate>
		<dc:creator><![CDATA[Rada]]></dc:creator>
				<category><![CDATA[Nezařazené]]></category>

		<guid ispermalink="false">https://openalt.org/?p=46</guid>
		<description><![CDATA[Milí Linuxáci a spřátelené duše, zveme vás na další, srpnový, sraz příznivců otevřených technologií. Trousit se můžete začít jako obvykle, zhruba v 18 hodin (15. srpna), a zdravé jádro to bude dle předchozích zkušeností táhnout až do chvíle, kdy si nebudou jisti, zda jsou pozdní hodiny večerní, či brzké hodiny ranní. V Brně &#124; Palackého 162 [&#8230;]]]></description>
				<content:encoded><![CDATA[<div style="color: #222222;">Milí Linuxáci a spřátelené duše,</div>
<div style="color: #222222;"></div>
<div style="color: #222222;">zveme vás na další, srpnový, sraz příznivců otevřených technologií.<br />
Trousit se můžete začít jako obvykle, zhruba v <strong>18 hodin (<strong>15. srpna</strong>)</strong>, a zdravé jádro to bude dle předchozích zkušeností táhnout až do chvíle, kdy si nebudou jisti, zda jsou pozdní hodiny večerní, či brzké hodiny ranní.</div>
<div style="color: #222222;"></div>
<div style="color: #222222;">V Brně | <a href="http://osm.org/go/0J6gsE3l?m=">Palackého 162</a> tentokrát vyzkoušíme, jestli je hospůdka Velorex skutečně wi-fi free, nebo na <a href="http://www.restauracevelorex.cz/o-nas/" target="_blank">webu</a> kecaj <img src="http://OFFLINEZIP.wpshowp-includes/images/smilies/simple-smile.png" alt=":)" class="wp-smiley" style="height: 1em; max-height: 1em;" /></div>
<div style="color: #222222;"></div>
<div style="color: #222222;">v Praze | <a href="http://osm.org/go/0J0lShCi?m=">Mikovcova 4</a> pivní radovánky od malých českých pivovarů v <a href="http://www.notabene-restaurant.cz/">Nota Bene</a>, třeba od Únětického pivovaru nebo pivovaru Matuška.</div>
<div style="color: #222222;"></div>
<p><span style="color: #222222;">Těšíme se na viděnou!</span></p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-107-sraz-priznivcu-otevrenych-technologii/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
