<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Komentáře: Pozvánka na 114. sraz příznivců open source</title>
	<atom:link href="http://OFFLINEZIP.wpshopozvanka-na-114-sraz-priznivcu-spolku-openalt/feed/" rel="self" type="application/rss+xml" />
	<link>http://OFFLINEZIP.wpshopozvanka-na-114-sraz-priznivcu-spolku-openalt/</link>
	<description></description>
	<lastbuilddate>Thu, 14 May 2015 08:05:38 +0000</lastbuilddate>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Od: Sraz příznivců open source - Linux E X P R E S</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-114-sraz-priznivcu-spolku-openalt/#comment-479</link>
		<dc:creator><![CDATA[Sraz příznivců open source - Linux E X P R E S]]></dc:creator>
		<pubdate>Thu, 14 May 2015 08:05:38 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=341#comment-479</guid>
		<description><![CDATA[[&#8230;] OpenAlt﻿, známý především stejnojmennou konferencí, již pořádá, vás zve na sraz&#160;příznivců open source﻿. Koná se&#160;v pátek 20. března 2015 od 18 hodin﻿, a to na dvou místech. V [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] OpenAlt﻿, známý především stejnojmennou konferencí, již pořádá, vás zve na sraz&nbsp;příznivců open source﻿. Koná se&nbsp;v pátek 20. března 2015 od 18 hodin﻿, a to na dvou místech. V [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
