<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
    <h3 class="section">
      Program
    </h3><p>Sobota</p><table style="border-collapse: collapse; "><td></td><th>A112</th><th>A113</th><th>D0206</th><th>D0207</th><th>D105</th><th>E104</th><th>E105</th><th>E112</th><tr><td>09:00</td><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td rowspan="1"><span class="track0"></span><span>OpenAlt:</span> Keynote</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>09:30</td><td rowspan="4"><span class="track5"></span><span>Jakub Kadlčík:</span> COPR - Váš repozitář balíčků pro Fedoru</td>
<td rowspan="2"><span class="track2"></span><span>Lukas Vrabec:</span> SELinux nekouše!</td>
<td rowspan="2"><span class="track5"></span><span>Martin Večeřa, Pavel Macík:</span> PerfCake: Make your performance testing easier</td>
<td rowspan="2"><span class="track1"></span><span>Kamila Balcarová:</span> Montessori otevřený vzdělávací systém 21. století</td>
<td rowspan="2"><span class="track5"></span><span>Víťa Beran:</span> Co a jak dnes počítače vidí?</td>
<td rowspan="10"><span class="track0"></span><span>OpenAlt:</span> Laboratoř spolupráce a komunikace</td>
<td rowspan="4"><span class="track6"></span><span>OpenAlt:</span> The Internet's Own Boy: The Story of Aaron Swartz</td>
<td rowspan="2"><span class="track3"></span><span>Zdeněk Materna:</span> ROS - operační systém pro roboty</td>
</tr>
<tr><td>10:00</td>







</tr>
<tr><td>10:30</td>
<td rowspan="2"><span class="track0"></span><span>Jan Pospíšil:</span> Štafetový běh Mono, Python, Azure, IoT aneb musíme tam všichni</td>
<td rowspan="2"><span class="track5"></span><span>Petr Hodač:</span> Textové transformace - sed, tr, awk</td>
<td rowspan="2"><span class="track1"></span><span>Miroslav Suchý:</span> Naučte své děti programovat</td>
<td rowspan="4"><span class="track5"></span><span>Michal Hradiš:</span> Konvoluční neuronové sítě</td>


<td rowspan="2"><span class="track4"></span><span>Pavel Studeník:</span> Vývoj aplikací pro Ubuntu Phone</td>
</tr>
<tr><td>11:00</td>







</tr>
<tr><td>11:30</td><td rowspan="4"><span class="track0"></span><span>OpenAlt:</span> Laboratoř spolupráce a komunikace</td>
<td rowspan="4"><span class="track5"></span><span>Honza Horak:</span> Jak zkontejnerizovat aplikaci</td>
<td rowspan="2"><span class="track5"></span><span>Tomáš Vondra:</span> Výkon PostgreSQL na EXT4, XFS, F2FS, BTRFS a ZFS</td>
<td>&nbsp;</td>


<td rowspan="2"><span class="track6"></span><span>OpenAlt:</span> Your Face Is A Saxophone</td>
<td rowspan="2"><span class="track3"></span><span>Petr Stehlík:</span> Arduino digitální multimetr</td>
</tr>
<tr><td>12:00</td>


<td rowspan="1"><span class="track0"></span><span>František Churý:</span> Colivingové projekty v Brně i ve světě</td>




</tr>
<tr><td>12:30</td>

<td rowspan="2"><span class="track5"></span><span>Mariusz Ferdyn:</span> Open Source in Microsoft Azure</td>
<td rowspan="2"><span class="track0"></span><span>Jan Boček:</span> Otevřená data: kudy cesta nevede?</td>
<td rowspan="2"><span class="track5"></span><span>Václav Dajbych:</span> Jak těžit data z webových stránek a vidět při tom aplikované kaskádové styly</td>

<td rowspan="2"><span class="track6"></span><span>OpenAlt:</span> Your Face Is A Saxophone</td>
<td rowspan="2"><span class="track3"></span><span>Josef Jebavý:</span> Banana Pi R1</td>
</tr>
<tr><td>13:00</td>







</tr>
<tr><td>13:30</td><td rowspan="8"><span class="track5"></span><span>Václav Müller:</span> Udělejme si vlastní Linuxovou hru v C++</td>
<td rowspan="2"><span class="track5"></span><span>Petr Hodač:</span> Finty v shellu </td>
<td rowspan="2"><span class="track5"></span><span>Jan Pacner:</span> Nový programovací jazyk Dao</td>
<td rowspan="1"><span class="track0"></span><span>Chris Ward:</span> Jaké to je vyvíjet kambodžský IDOS aneb cestování s dopadem</td>
<td rowspan="1"><span class="track5"></span><span>Michal Stanke, Martin Stransky:</span> Firefox - demo a novinky</td>

<td rowspan="4"><span class="track6"></span><span>OpenAlt:</span> Pioneer One S1E01-S1E03</td>
<td rowspan="2"><span class="track3"></span><span>Miro Hrončok:</span> e-NABLE: 3D vytiskněte pomocnou ruku</td>
</tr>
<tr><td>14:00</td>


<td rowspan="1"><span class="track0"></span><span>Anna Bromová:</span> Komunitní bikesharing Rekola</td>
<td rowspan="1"><span class="track5"></span><span>Michal Strnad:</span> ownCloud pod kapotou</td>



</tr>
<tr><td>14:30</td>
<td rowspan="2"><span class="track5"></span><span>Michal Strnad:</span> Nasazujeme vlastní instanci ownCloudu</td>
<td rowspan="2"><span class="track5"></span><span>Michal Švamberg:</span> Úvod do centralizované automatické konfigurace v jazyce CFEngine</td>
<td rowspan="1"><span class="track0"></span><span>Ondřej Profant:</span> Otevřená města</td>
<td rowspan="2"><span class="track5"></span><span>Samuel Šramko, Milan Čapoun:</span> Programování webových aplikací je challenge!</td>
<td rowspan="4"><span class="track1"></span><span>Jan Řehák, Jan Markel:</span> Prodej se neverbální komunikací</td>

<td rowspan="2"><span class="track3"></span><span>Martin Holec:</span> Industra Lab</td>
</tr>
<tr><td>15:00</td>


<td rowspan="2"><span class="track0"></span><span>Jiri Ulip:</span> Open Data v Brně</td>




</tr>
<tr><td>15:30</td>
<td rowspan="4"><span class="track0"></span><span>Miroslav Suchý:</span> Jak vytvářet mapu v OpenStreetMap</td>
<td rowspan="2"><span class="track5"></span><span>Tomáš Tomeček:</span> Čo je Open Container a runc?</td>

<td rowspan="2"><span class="track5"></span><span>Jiří Eischmann:</span> Fedora Workstation: okno do světa linuxového desktopu</td>

<td rowspan="4"><span class="track6"></span><span>OpenAlt:</span> Pioneer One S1E04-S1E06</td>
<td rowspan="2"><span class="track5"></span><span>Miroslav Lábr, Ladislav Hagara, Marek Brychta, Petr Hvižď:</span> Processing 3.0 a p5.js</td>
</tr>
<tr><td>16:00</td>


<td rowspan="1"><span class="track0"></span><span>Tomáš Kejzlar:</span> Děčín - 15 let soužití s open source</td>




</tr>
<tr><td>16:30</td>

<td rowspan="2"><span class="track5"></span><span>Ján Lieskovský:</span> The methods of sandboxing and isolation</td>
<td rowspan="2"><span class="track0"></span><span>Ondřej Profant:</span> Opensource ve veřejné správě</td>
<td rowspan="2"><span class="track5"></span><span>Petr Krčmář:</span> Instalace Debianu pomocí debootstrap</td>
<td rowspan="2"><span class="track0"></span><span>Petr Holík:</span> Příprava Lightning Talks: Příprava projevu</td>

<td rowspan="2"><span class="track4"></span><span>Daniel Vrátil:</span> Plasma Mobile</td>
</tr>
<tr><td>17:00</td>







</tr>
</table><p>Neděle</p><table style="border-collapse: collapse; "><td></td><th>A112</th><th>A113</th><th>D0206</th><th>D0207</th><th>D105</th><th>E104</th><th>E105</th><th>E112</th><tr><td>09:30</td><td rowspan="14"><span class="track3"></span><span>Štěpán Bechynský:</span> Arduino 101</td>
<td rowspan="2"><span class="track5"></span><span>Pavel Šnajdr:</span> Ovládněte svůj linuxový VPS</td>
<td rowspan="2"><span class="track5"></span><span>Ondrej Hamada:</span> OpenNebula: stavíme si vlastní cloud pro vývoj a testovaní</td>
<td rowspan="2"><span class="track0"></span><span>Michal Kubáň:</span> Otevřená data: zdroj příležitostí, nápadů a inovací pro Českou republiku v 21. století</td>
<td rowspan="2"><span class="track5"></span><span>Václav Müller:</span> V Linuxu postaru v novém</td>
<td rowspan="6"><span class="track0"></span><span>Petr Holík:</span> Příprava Lightning Talks: Ladění projevu</td>
<td rowspan="3"><span class="track6"></span><span>OpenAlt:</span>  TPB AFK: The Pirate Bay Away From Keyboard</td>
<td rowspan="2"><span class="track2"></span><span>Radovan Vránsky:</span> Ako sa (ne)stať obeťou sociálneho inžinierstva.</td>
</tr>
<tr><td>10:00</td>







</tr>
<tr><td>10:30</td>
<td rowspan="2"><span class="track3"></span><span>Jirka Folta:</span> Open-sourcing pečení kváskového chleba (BFS - bread from the scratch)</td>
<td rowspan="2"><span class="track5"></span><span>Ladislav Domin:</span> OpenSource DMS - COAR-DMS</td>
<td rowspan="2"><span class="track5"></span><span>Václav Pavlín:</span> Historie opensource</td>
<td rowspan="2"><span class="track2"></span><span>Ondřej Caletka:</span> Bezpečný e-mail bezpečnější díky DANE</td>


<td rowspan="2"><span class="track4"></span><span>Pavel Machek:</span> Mainlinový kernel na telefonu</td>
</tr>
<tr><td>11:00</td>





<td rowspan="1"><span class="track6"></span><span>OpenAlt:</span> L5</td>

</tr>
<tr><td>11:30</td>
<td rowspan="10"><span class="track0"></span><span>OpenAlt:</span> Linux Professional Institute</td>
<td rowspan="2"><span class="track5"></span><span>Jan Viktorin:</span> Systém DPDK</td>
<td rowspan="2"><span class="track0"></span><span>Martin Holec:</span> Couchsurfing a travel hacking</td>
<td rowspan="2"><span class="track5"></span><span>Jaroslav Řezník, Dan Horák:</span> AArch64 a POWER8 - nové architektury pro Vaše linuxové servery</td>

<td rowspan="6"><span class="track6"></span><span>OpenAlt:</span> Demoscéna</td>
<td rowspan="1"><span class="track2"></span><span>Martin Strbačka:</span> Turris:Lite</td>
</tr>
<tr><td>12:00</td>






<td rowspan="1"><span class="track2"></span><span>Anonymizováno:</span> Praktická stránka bezpečnosti s Kali Linuxom</td>
</tr>
<tr><td>12:30</td>

<td rowspan="2"><span class="track5"></span><span>Věroš Kaplan:</span> Icinga2 - co je nového</td>
<td rowspan="2"><span class="track1"></span><span>Michal Černý:</span> Open source v e-learningu</td>
<td rowspan="1"><span class="track5"></span><span>Lukáš Jelínek:</span> LinuxEXPRES, OpenOffice.cz</td>
<td rowspan="3"><span class="track0"></span><span>OpenAlt:</span> Laboratoř spolupráce a komunikace 2</td>

<td rowspan="2"><span class="track2"></span><span>Martin Žádník:</span> Jak se měří síťové toky</td>
</tr>
<tr><td>13:00</td>



<td rowspan="1"><span class="track1"></span><span>Petr Holík:</span> Science slam</td>



</tr>
<tr><td>13:30</td>

<td rowspan="2"><span class="track5"></span><span>Radovan Semančík:</span> Open source Identity Management</td>
<td rowspan="2"><span class="track0"></span><span>Pavel Machek:</span> Na mape uz neni misto</td>
<td rowspan="2"><span class="track0"></span><span>Michal Lorenz:</span> Komunitní informatika: proč je důležitá společenská dimenze technologií?</td>


<td rowspan="2"><span class="track3"></span><span>Ondřej Šesták:</span> Mlab: je ještě místo pro další elektronickou stavebnici?</td>
</tr>
<tr><td>14:00</td>




<td rowspan="1"><span class="track5"></span><span>Adam Šamalík, Josef Stříbný, Petr Hracek:</span> Fedora Developer Portal</td>


</tr>
<tr><td>14:30</td>

<td rowspan="2"><span class="track5"></span><span>Tomáš Babej:</span> FreeIPA - únik pred krízou identity</td>
<td rowspan="2"><span class="track0"></span><span>Jakub Harašta:</span> Otevřený přístup k právu</td>
<td rowspan="2"><span class="track0"></span><span>OpenAlt:</span> Lightning Talks</td>
<td rowspan="4"><span class="track5"></span><span>Adam Šamalík, Josef Stříbný, Petr Hracek:</span> Fedora Developer Portal Workshop</td>
<td rowspan="4"><span class="track6"></span><span>OpenAlt:</span> Blender Open Movies</td>
<td rowspan="2"><span class="track3"></span><span>Miroslav Jaroš:</span> Internet of things: The complete solution</td>
</tr>
<tr><td>15:00</td>







</tr>
<tr><td>15:30</td>

<td rowspan="2"><span class="track5"></span><span>Michal A. Valášek:</span> Microsoft ASP.NET 5: nová open source platforma</td>
<td rowspan="1"><span class="track0"></span><span>Miroslav Suchý:</span> Crowdfunding aneb jak jsem si řekl o pět mega</td>
<td rowspan="2"><span class="track5"></span><span>Jaromír Hradílek, Bára Ančincová:</span> Chytré testování produktové dokumentace</td>


<td rowspan="1"><span class="track3"></span><span>Miroslav Lábr, Ladislav Hagara:</span> Domácí laserový střelecký simulátor HomeLESS 2015</td>
</tr>
<tr><td>16:00</td>


<td rowspan="1"><span class="track0"></span><span>Tomáš Arnot:</span> Design zaměřený na občana</td>



<td rowspan="1"><span class="track2"></span><span>Dominik Malčík:</span> Privacy on the Internet</td>
</tr>
</table></div>
  <div class="dummy_section">
  </div>
  <div class="dummy_section">
  </div>
<div class="no_bottom_padding">
    <div id="talks">
      <div>
 