<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body><h2>Sobota</h2><h3>A112</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/copr-vas-repozitar-balicku-pro-fedoru"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a>  9:30 - 11:30
</td><td><span>Jakub Kadlčík:</span> COPR - Váš repozitář balíčků pro Fedoru</td></tr>

<tr><td>11:30 - 13:30
</td><td><span>OpenAlt:</span> Laboratoř spolupráce a komunikace</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/udelejme-si-vlastni-linuxovou-hru-v-c"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="http://openfun.eu/openalt/"><img src="../img/icons/web-b.png" style="vertical-align: middle;"></a> 13:30 - 17:30
</td><td><span>Václav Müller:</span> Udělejme si vlastní Linuxovou hru v C++</td></tr>

</table><h3>A113</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/selinux-nekouse"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Lukas%20Vrabec%20-%20SELinux%20nekouse.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Lukas Vrabec:</span> SELinux nekouše!</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/stafetovy-beh-mono-python-azure-iot-aneb-musime-tam-vsichni"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="https://github.com/pospanet/OpenAlt_2015"><img src="../img/icons/web-b.png" style="vertical-align: middle;"></a> 10:30 - 11:30
</td><td><span>Jan Pospíšil:</span> Štafetový běh Mono, Python, Azure, IoT aneb musíme tam všichni</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/jak-zkontejnerizovat-aplikaci"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Honza%20Horak%20-%20How%20to%20Containerize%20an%20Application.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 11:30 - 13:30
</td><td><span>Honza Horak:</span> Jak zkontejnerizovat aplikaci</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/finty-v-shellu"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Petr%20Hodac%20-%20Finty%20v%20bashi.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 13:30 - 14:30
</td><td><span>Petr Hodač:</span> Finty v shellu </td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/nasazujeme-vlastni-instanci-owncloudu"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> 14:30 - 15:30
</td><td><span>Michal Strnad:</span> Nasazujeme vlastní instanci ownCloudu</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/jak-vytvaret-mapu-v-openstreetmap"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Miroslav%20Suchy%20-%20osm.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 15:30 - 17:30
</td><td><span>Miroslav Suchý:</span> Jak vytvářet mapu v OpenStreetMap</td></tr>

</table><h3>D0206</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/perfcake-make-your-performance-testing-easier"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Martin%20Vecera%20Pavel%20Macik%20-%20PerfCake%20Make%20your%20performance%20testing%20easier.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Martin Večeřa, Pavel Macík:</span> PerfCake: Make your performance testing easier</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/textove-transformace-sed-tr-awk"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Petr%20Hodac%20-%20sed.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 10:30 - 11:30
</td><td><span>Petr Hodač:</span> Textové transformace - sed, tr, awk</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/vykon-postgresql-na-ext4-xfs-f2fs-btrfs-a-zfs"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Tomas%20Vondra%20-%20Postgresql.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 11:30 - 12:30
</td><td><span>Tomáš Vondra:</span> Výkon PostgreSQL na EXT4, XFS, F2FS, BTRFS a ZFS</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/open-source-in-microsoft-azure"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Mariusz%20Ferdyn%20-%20Open%20Source%20in%20Microsoft%20Azure.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:30 - 13:30
</td><td><span>Mariusz Ferdyn:</span> Open Source in Microsoft Azure</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/novy-programovaci-jazyk-dao"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Jan%20Pacner%20-%20dao.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 13:30 - 14:30
</td><td><span>Jan Pacner:</span> Nový programovací jazyk Dao</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/uvod-do-centralizovane-automaticke-konfigurace-v-jazyce-cfengine"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Michal%20Svamberg%20-%20Uvod%20do%20centralizovane%20automaticke%20konfigurace%20v%20jazyce%20CFEngine.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:30 - 15:30
</td><td><span>Michal Švamberg:</span> Úvod do centralizované automatické konfigurace v jazyce CFEngine</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/co-je-open-container-a-runc"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Tomas%20Tomecek%20-%20Co%20je%20Open%20Container%20a%20runc.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 15:30 - 16:30
</td><td><span>Tomáš Tomeček:</span> Čo je Open Container a runc?</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/the-methods-of-sandboxing-and-isolation"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Jan%20Lieskovsky%20-%20the_methods_of_sandboxing_and_isolation.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 16:30 - 17:30
</td><td><span>Ján Lieskovský:</span> The methods of sandboxing and isolation</td></tr>

</table><h3>D0207</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/montessori-otevreny-vzdelavaci-system-21-stoleti"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Kamila%20Balcarova%20-%20Seznameni%20s%20Montessori_kzzmp.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Kamila Balcarová:</span> Montessori otevřený vzdělávací systém 21. století</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/naucte-sve-deti-programovat"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Miroslav%20Suchy%20-%20Naucte%20sve%20deti%20programovat.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 10:30 - 11:30
</td><td><span>Miroslav Suchý:</span> Naučte své děti programovat</td></tr>

<tr><td><a href="../data/Frantisek%20Chury%20-%20Colivingove%20projekty%20v%20Brne%20i%20ve%20svete.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:00 - 12:30
</td><td><span>František Churý:</span> Colivingové projekty v Brně i ve světě</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/otevrena-data-kudy-cesta-nevede"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Jan%20Bocek%20-%20Otevrena%20data%20kudy%20cesta%20nevede.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:30 - 13:30
</td><td><span>Jan Boček:</span> Otevřená data: kudy cesta nevede?</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/jake-to-je-vyvijet-kambodzsky-idos-aneb-cestovani-s-dopadem"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Chris%20Ward%20-%20Jake%20to%20je%20vyvijet%20kambodzsky%20IDOS%20aneb%20cestovani%20s%20dopadem.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 13:30 - 14:00
</td><td><span>Chris Ward:</span> Jaké to je vyvíjet kambodžský IDOS aneb cestování s dopadem</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/komunitni-bikesharing-rekola"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Anna%20Bromova%20-%20Komunitni%20bikesharing%20Rekola.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:00 - 14:30
</td><td><span>Anna Bromová:</span> Komunitní bikesharing Rekola</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/otevrena-mesta"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Ondrej%20Profant%20-%20otevrena%20mesta.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:30 - 15:00
</td><td><span>Ondřej Profant:</span> Otevřená města</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/open-data-v-brne"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Ulip_Jiri-Open_Data_v_Brne.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 15:00 - 16:00
</td><td><span>Jiri Ulip:</span> Open Data v Brně</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/decin-15-let-souziti-s-open-source"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Tomas%20Kejzlar%20-%20opensource-decin.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 16:00 - 16:30
</td><td><span>Tomáš Kejzlar:</span> Děčín - 15 let soužití s open source</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/opensource-ve-verejne-sprave"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Ondrej%20Profant%20-%20OSS%20ve%20verejne%20sprave.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 16:30 - 17:30
</td><td><span>Ondřej Profant:</span> Opensource ve veřejné správě</td></tr>

</table><h3>D105</h3><table><tr><td> 9:00 -  9:30
</td><td><span>OpenAlt:</span> Keynote</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/co-a-jak-dnes-pocitace-vidi"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Vita%20Beran%20-%20Co%20a%20jak%20dnes%20pocitace%20vidi.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Víťa Beran:</span> Co a jak dnes počítače vidí?</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/konvolucni-neuronove-site"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Michal%20Hradis%20-%20Konvolucni%20neuronove%20site.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 10:30 - 12:30
</td><td><span>Michal Hradiš:</span> Konvoluční neuronové sítě</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/jak-tezit-data-z-webovych-stranek-a-videt-pri-tom-aplikovane-kaskadove-styly"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Vaclav%20Dajbych%20-%20ApplyCSS.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:30 - 13:30
</td><td><span>Václav Dajbych:</span> Jak těžit data z webových stránek a vidět při tom aplikované kaskádové styly</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/firefox-demo-a-novinky"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Michal%20Stanke%20Martin%20Stransky%20-%20Firefox%20-%20demo%20a%20novinky.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 13:30 - 14:00
</td><td><span>Michal Stanke, Martin Stransky:</span> Firefox - demo a novinky</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/owncloud-pod-kapotou"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Michal%20Strnad%20-%20owncloud.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:00 - 14:30
</td><td><span>Michal Strnad:</span> ownCloud pod kapotou</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/programovani-webovych-aplikaci-je-challenge"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Samuel%20Sramko%20-%20Webove%20programovani%20je%20challenge.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:30 - 15:30
</td><td><span>Samuel Šramko, Milan Čapoun:</span> Programování webových aplikací je challenge!</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/fedora-workstation-okno-do-sveta-linuxoveho-desktopu"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Jiri%20Eischmann%20-%20problemy-linuxoveho-desktopu.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 15:30 - 16:30
</td><td><span>Jiří Eischmann:</span> Fedora Workstation: okno do světa linuxového desktopu</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/instalace-debianu-pomoci-debootstrap"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Petr%20Krcmar%20-%20Instalace%20Debianu%20pomoci%20debootstrap.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 16:30 - 17:30
</td><td><span>Petr Krčmář:</span> Instalace Debianu pomocí debootstrap</td></tr>

</table><h3>E104</h3><table><tr><td> 9:30 - 14:30
</td><td><span>OpenAlt:</span> Laboratoř spolupráce a komunikace</td></tr>

<tr><td>14:30 - 16:30
</td><td><span>Jan Řehák, Jan Markel:</span> Prodej se neverbální komunikací</td></tr>

<tr><td>16:30 - 17:30
</td><td><span>Petr Holík:</span> Příprava Lightning Talks: Příprava projevu</td></tr>

</table><h3>E105</h3><table><tr><td> 9:30 - 11:30
</td><td><span>OpenAlt:</span> The Internet's Own Boy: The Story of Aaron Swartz</td></tr>

<tr><td>11:30 - 12:30
</td><td><span>OpenAlt:</span> Your Face Is A Saxophone</td></tr>

<tr><td>12:30 - 13:30
</td><td><span>OpenAlt:</span> Your Face Is A Saxophone</td></tr>

<tr><td>13:30 - 15:30
</td><td><span>OpenAlt:</span> Pioneer One S1E01-S1E03</td></tr>

<tr><td>15:30 - 17:30
</td><td><span>OpenAlt:</span> Pioneer One S1E04-S1E06</td></tr>

</table><h3>E112</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/ros-operacni-system-pro-roboty"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Zdenek%20Materna%20-%20ROS.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Zdeněk Materna:</span> ROS - operační systém pro roboty</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/vyvoj-aplikaci-pro-ubuntu-phone"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Pavel%20Studenik%20-%20Ubuntu%20Phone.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 10:30 - 11:30
</td><td><span>Pavel Studeník:</span> Vývoj aplikací pro Ubuntu Phone</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/arduino-digitalni-multimetr"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Petr%20Stehlik%20-%20Arduino%20Digitalni%20Multimetr.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 11:30 - 12:30
</td><td><span>Petr Stehlík:</span> Arduino digitální multimetr</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/banana-pi-r1"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Josef%20Jebavy%20-%20Banana%20pi.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:30 - 13:30
</td><td><span>Josef Jebavý:</span> Banana Pi R1</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/e-nable-3d-vytisknete-pomocnou-ruku"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Miro%20Hroncok%20-%20enable.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 13:30 - 14:30
</td><td><span>Miro Hrončok:</span> e-NABLE: 3D vytiskněte pomocnou ruku</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/industra-lab"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Martin%20Holec%20-%20Industra%20Lab.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:30 - 15:30
</td><td><span>Martin Holec:</span> Industra Lab</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/processing-3-0-a-p5-js"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Ladislav%20Hagara%20-%20Processing-3.0-a-p5.js-OpenAlt-2015.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 15:30 - 16:30
</td><td><span>Miroslav Lábr, Ladislav Hagara, Marek Brychta, Petr Hvižď:</span> Processing 3.0 a p5.js</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/plasma-mobile"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Daniel%20Vratil%20-%20plasma-mobile.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 16:30 - 17:30
</td><td><span>Daniel Vrátil:</span> Plasma Mobile</td></tr>

</table><h2>Neděle</h2><h3>A112</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/arduino-101"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a>  9:30 - 16:30
</td><td><span>Štěpán Bechynský:</span> Arduino 101</td></tr>

</table><h3>A113</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/ovladnete-svuj-linuxovy-vps"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Pavel Šnajdr:</span> Ovládněte svůj linuxový VPS</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/open-sourcing-peceni-kvaskoveho-chleba-bfs-bread-from-the-scratch"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="https://github.com/pholta/BFS"><img src="../img/icons/web-b.png" style="vertical-align: middle;"></a> 10:30 - 11:30
</td><td><span>Jirka Folta:</span> Open-sourcing pečení kváskového chleba (BFS - bread from the scratch)</td></tr>

<tr><td>11:30 - 16:30
</td><td><span>OpenAlt:</span> Linux Professional Institute</td></tr>

</table><h3>D0206</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/opennebula-stavime-si-vlastni-cloud-pro-vyvoj-a-testovani"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Ondrej%20Hamada%20-%20OpenNebula.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Ondrej Hamada:</span> OpenNebula: stavíme si vlastní cloud pro vývoj a testovaní</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/opensource-dms-coar-dms"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Ladislav%20Domin%20-%20OpenSource%20DMS%20-%20COAR-DMS.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 10:30 - 11:30
</td><td><span>Ladislav Domin:</span> OpenSource DMS - COAR-DMS</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/system-dpdk"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Jan%20Viktorin%20-%20DPDK.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 11:30 - 12:30
</td><td><span>Jan Viktorin:</span> Systém DPDK</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/icinga2-co-je-noveho"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Veros%20Kaplan%20-%20Icinga2.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:30 - 13:30
</td><td><span>Věroš Kaplan:</span> Icinga2 - co je nového</td></tr>

<tr><td><a href="../data/Radovan%20Semancik%20-%20Open%20source%20Identity%20Management.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 13:30 - 14:30
</td><td><span>Radovan Semančík:</span> Open source Identity Management</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/freeipa-unik-pred-krizou-identity"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Tomas%20Babej%20-%20FreeIPA.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:30 - 15:30
</td><td><span>Tomáš Babej:</span> FreeIPA - únik pred krízou identity</td></tr>

<tr><td><a href="../data/Michal%20A.%20Valasek%20-%20ASP.NET%205.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 15:30 - 16:30
</td><td><span>Michal A. Valášek:</span> Microsoft ASP.NET 5: nová open source platforma</td></tr>

</table><h3>D0207</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/otevrena-data-zdroj-prilezitosti-napadu-a-inovaci-pro-ceskou-republiku-v-21-stoleti"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Milan%20Kuban%20-%20Otevrena%20data.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Michal Kubáň:</span> Otevřená data: zdroj příležitostí, nápadů a inovací pro Českou republiku v 21. století</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/historie-opensource"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Vaclav%20Pavlin%20-%20Historie%20Open%20Source.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 10:30 - 11:30
</td><td><span>Václav Pavlín:</span> Historie opensource</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/couchsurfing-a-travel-hacking"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> 11:30 - 12:30
</td><td><span>Martin Holec:</span> Couchsurfing a travel hacking</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/open-source-v-e-learningu"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Michal%20Cerny%20-%20Open%20source%20v%20e-learningu.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:30 - 13:30
</td><td><span>Michal Černý:</span> Open source v e-learningu</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/na-mape-uz-neni-misto"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Pavel%20Machek%20-%20plna_mapa.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 13:30 - 14:30
</td><td><span>Pavel Machek:</span> Na mape uz neni misto</td></tr>

<tr><td><a href="../data/Jakub%20Harasta%20-%20Otevreny%20pristup%20k%20pravu.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:30 - 15:30
</td><td><span>Jakub Harašta:</span> Otevřený přístup k právu</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/crowdfunding-aneb-jak-jsem-si-rekl-o-pet-mega"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Miroslav%20Suchy%20-%20crowdfunding.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 15:30 - 16:00
</td><td><span>Miroslav Suchý:</span> Crowdfunding aneb jak jsem si řekl o pět mega</td></tr>

<tr><td><a href="../data/Tomas%20Arnot%20-%20Pristupnejsi%20stat.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 16:00 - 16:30
</td><td><span>Tomáš Arnot:</span> Design zaměřený na občana</td></tr>

</table><h3>D105</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/v-linuxu-postaru-v-novem"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Vaclav%20Muller%20-%20Linux%20postaru%20v%20novem.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Václav Müller:</span> V Linuxu postaru v novém</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/bezpecny-e-mail-bezpecnejsi-diky-dane"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Ond%C5%99ej%20Caletka%20-%20Bezpecnejsi_e-mail.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 10:30 - 11:30
</td><td><span>Ondřej Caletka:</span> Bezpečný e-mail bezpečnější díky DANE</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/aarch64-a-power8-nove-architektury-pro-vase-linuxove-servery"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Jaroslav%20Reznik%20-%20AArch64%20a%20POWER8%20-%20nove%20architektury%20pro%20Vase%20linuxove%20servery.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 11:30 - 12:30
</td><td><span>Jaroslav Řezník, Dan Horák:</span> AArch64 a POWER8 - nové architektury pro Vaše linuxové servery</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/linuxexpres-openoffice-cz"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Lukas%20Jelinek%20-%20LE%20OO.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:30 - 13:00
</td><td><span>Lukáš Jelínek:</span> LinuxEXPRES, OpenOffice.cz</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/science-slam"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> 13:00 - 13:30
</td><td><span>Petr Holík:</span> Science slam</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/komunitni-informatika-proc-je-dulezita-spolecenska-dimenze-technologii"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Michal%20Lorenz%20-%20Komunitni%20informatika%20proc%20je%20dulezita%20spolecenska%20dimenze%20technologii.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 13:30 - 14:30
</td><td><span>Michal Lorenz:</span> Komunitní informatika: proč je důležitá společenská dimenze technologií?</td></tr>

<tr><td>14:30 - 15:30
</td><td><span>OpenAlt:</span> Lightning Talks</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/chytre-testovani-produktove-dokumentace"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Bara%20Ancincova%20and%20Jaromir%20Hradilek%20-%20Chytre%20testovani%20produktove%20dokumentace.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 15:30 - 16:30
</td><td><span>Jaromír Hradílek, Bára Ančincová:</span> Chytré testování produktové dokumentace</td></tr>

</table><h3>E104</h3><table><tr><td> 9:30 - 12:30
</td><td><span>Petr Holík:</span> Příprava Lightning Talks: Ladění projevu</td></tr>

<tr><td>12:30 - 14:00
</td><td><span>OpenAlt:</span> Laboratoř spolupráce a komunikace 2</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/fedora-developer-portal"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Strzibny%20-%20Fedora%20Developer%20Portal.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:00 - 14:30
</td><td><span>Adam Šamalík, Josef Stříbný, Petr Hracek:</span> Fedora Developer Portal</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/fedora-developer-portal-workshop"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> 14:30 - 16:30
</td><td><span>Adam Šamalík, Josef Stříbný, Petr Hracek:</span> Fedora Developer Portal Workshop</td></tr>

</table><h3>E105</h3><table><tr><td> 9:30 - 11:00
</td><td><span>OpenAlt:</span>  TPB AFK: The Pirate Bay Away From Keyboard</td></tr>

<tr><td>11:00 - 11:30
</td><td><span>OpenAlt:</span> L5</td></tr>

<tr><td>11:30 - 14:30
</td><td><span>OpenAlt:</span> Demoscéna</td></tr>

<tr><td>14:30 - 16:30
</td><td><span>OpenAlt:</span> Blender Open Movies</td></tr>

</table><h3>E112</h3><table><tr><td><a href="http://www.superlectures.com/openalt2015/ako-sa-ne-stat-obetou-socialneho-inzinierstva"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Radovan%20Vransky%20-%20Ako%20sa%20nestat%20obetou%20socialneho%20inzinierstva.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a>  9:30 - 10:30
</td><td><span>Radovan Vránsky:</span> Ako sa (ne)stať obeťou sociálneho inžinierstva.</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/mainlinovy-kernel-na-telefonu"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Pavel%20Machek%20-%20nokia_n900.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 10:30 - 11:30
</td><td><span>Pavel Machek:</span> Mainlinový kernel na telefonu</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/turris-lite"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Martin%20Strbacka%20-%20Turris_lite.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 11:30 - 12:00
</td><td><span>Martin Strbačka:</span> Turris:Lite</td></tr>

<tr><td><a href="../data/Anonymizovano001%20-%20Kali%20linux.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:00 - 12:30
</td><td><span>Anonymizováno:</span> Praktická stránka bezpečnosti s Kali Linuxom</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/jak-se-meri-sitove-toky"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Martin%20Zadnik%20-%20networkflows.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 12:30 - 13:30
</td><td><span>Martin Žádník:</span> Jak se měří síťové toky</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/mlab-je-jeste-misto-pro-dalsi-elektronickou-stavebnici"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Ond%C5%99ej%20Sestak%20-%20Mlab.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 13:30 - 14:30
</td><td><span>Ondřej Šesták:</span> Mlab: je ještě místo pro další elektronickou stavebnici?</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/internet-of-things-the-complete-solution"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Miroslav%20Jaros%20-%20Internet%20of%20things%20The%20complete%20solution.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 14:30 - 15:30
</td><td><span>Miroslav Jaroš:</span> Internet of things: The complete solution</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/domaci-laserovy-strelecky-simulator-homeless-2015"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Ladislav%20Hagara%20-%20HomeLESS.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 15:30 - 16:00
</td><td><span>Miroslav Lábr, Ladislav Hagara:</span> Domácí laserový střelecký simulátor HomeLESS 2015</td></tr>

<tr><td><a href="http://www.superlectures.com/openalt2015/privacy-on-the-internet"><img src="../img/icons/video-b.png" style="vertical-align: middle;"></a> <a href="../data/Dominik%20Malcik%20-%20Privacy%20on%20the%20Internet.pdf"><img src="../img/icons/slides-b.png" style="vertical-align: middle;"></a> 16:00 - 16:30
</td><td><span>Dominik Malčík:</span> Privacy on the Internet</td></tr>

</table><br/> <br/>stats: <br/>68 <img src="../img/icons/slides-b.png" style="vertical-align: middle;">  / 3 <img src="../img/icons/web-b.png" style="vertical-align: middle;">  / 25 - <br/>72 <img src="../img/icons/video-b.png" style="vertical-align: middle;"> 