<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>OpenAlt z.s. &#187; Článek</title>
	<atom:link href="http://OFFLINEZIP.wpshocategory/clanek/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description></description>
	<lastbuilddate>Fri, 12 Jun 2020 19:26:35 +0000</lastbuilddate>
	<language>cs-CZ</language>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Nanotechnologie, aneb jak se žije na pomezí mezi kvantovou mechanikou a kvantovou fyzikou</title>
		<link>http://OFFLINEZIP.wpshonanotechnologie-aneb-jak-se-zije-na-pomezi-mezi-kvantovou-mechanikou-a-kvantovou-fyzikou/</link>
		<comments>http://OFFLINEZIP.wpshonanotechnologie-aneb-jak-se-zije-na-pomezi-mezi-kvantovou-mechanikou-a-kvantovou-fyzikou/#comments</comments>
		<pubdate>Wed, 03 Jun 2015 03:00:40 +0000</pubdate>
		<dc:creator><![CDATA[Jan Pacner]]></dc:creator>
				<category><![CDATA[Článek]]></category>

		<guid ispermalink="false">https://openalt.org/?p=453</guid>
		<description><![CDATA[Již se vám někdy podařilo vnímat všemi smysly, snad kromě chuti, atmosféru extrémně nízkých teplot, extrémně malých rozměrů a extrémně přívětivých lidí? Nám ano! Navštívili jsme Ústav fyzikálního inženýrství VUTBR (Vysoké učení technické v Brně) a bylo to skutečně povznášející. 5.3.2015 jsme se vydali navštívit tajuplné alchymistické místo na FSI VUTBR. V 16:30 v budově [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Již se vám někdy podařilo vnímat <strong>všemi</strong> smysly, snad kromě chuti, atmosféru extrémně nízkých teplot, extrémně malých rozměrů a extrémně přívětivých lidí? Nám ano! Navštívili jsme <a href="http://physics.fme.vutbr.cz/">Ústav fyzikálního inženýrství VUTBR</a> (Vysoké učení technické v Brně) a bylo to skutečně povznášející.<br />
<span id="more-453"></span></p>
<p>5.3.2015 jsme se vydali navštívit tajuplné alchymistické místo na FSI VUTBR. V 16:30 v budově A2 a dveřích 508 mělo vše začít. Po krátké debatě jsme se ihned vrhli na nanotechnologie. Procházeli jsme tamějším pracovištěm a se zájmem naslouchali výkladu k mnoha popisujícím výzkum, pročítali je a při pohledu na popis řízené změny směru stáčení magnetického víru si představovali např. jak by bylo krásné mít v počítačích univerzální <a href="http://en.wikipedia.org/wiki/Volatile_memory">nevolatilní</a> (trvalou) rychlou paměť namísto aktuální pomalé paměťové hierarchie (obsahující super-pomalý pevný disk). Následovala individuální přednáška od specialisty, který nám demonstroval různé metody práce s nanotechnologiemi a principy na pozadí (základní principy jsou jen dva: skládání/přidávání a oddělování/odebírání).</p>
<p>Poté jsme prošmejdili malinkaté pracoviště s <a href="http://www.sclsensortech.com/11.0.html">piezo-rezistivní čtečkou atomů</a>, která je schopná číst až na atomární úroveň. Tato hračka funguje za normálního tlaku a teploty. Jenom je třeba bedýnku pořádně zatížit několika kg a zavěsit na gumové úpony z auto-potřeb. A pak přijde to „nejdůležitější“ &#8211; nainstalovat open source SW <a href="http://gxsm.sourceforge.net/">Gnome X Scanning Microscopy</a> a může se začít dvoufázově skenovat. První průjezd ve větší vzdálenosti pro zjištění, kam až lze s jehlou mající na špičce pouze jeden atom zajet, a druhý průjezd již v těsné blízkosti, kde lze přečíst atom po atomu. Toto pracoviště skýtá též další pozoruhodná díla jako např. téměř sériovou, avšak poctivě ruční výrobu jehel s atomárními špičkami z drátku (pomocí stříhání a trhání současně či pomocí elektrochemického leptáním pro lépe definovaný celkový tvar hrotu) nebo <a href="https://files.openalt.org/index.php/apps/gallery/public/GHFfYAKsBSUnZ9g#IMG_20150305_175933.jpg">DYI</a> <a href="https://files.openalt.org/index.php/apps/gallery/public/GHFfYAKsBSUnZ9g#IMG_20150305_175939.jpg">odvětrávač zplodin</a> (za sloupem vlevo je ta čtečka atomů) vznikajících při pájení, nebo výraznou cedulku s upozorněním „Pozor na PRSA!“ (<a href="http://www.sclsensortech.com/11.0.html">Piezo-Resistive Sensing Active</a>).</p>
<p>Jako zlatý hřeb večera přišlo přísně střežené pracoviště s <a href="https://files.openalt.org/index.php/apps/gallery/public/GHFfYAKsBSUnZ9g#IMG_20150305_181632.jpg">předepsaným oblečením</a>. Na tomto místě si student usmyslí, že potřebuje dokonale rovnou destičku z atomů prvku A, na ní dva atomy prvku B na souřadnicích [x, y] a [x+5, y-3], nebo že potřebuje nanostrukturu ve tvaru poháru atd. a v této laboratoři chvíli běhá mezi přístroji, případně pár dní počká a potřeba je naplněna. Pro studium a řízení slouží <a href="https://files.openalt.org/index.php/apps/gallery/public/GHFfYAKsBSUnZ9g#IMG_20150305_183453.jpg">počítačová stanice</a> napojená na proprietární (uzavřený) mikroskop (není k němu k dispozici otevřený návrh hardware ani zdrojové kódy ovládacího software).</p>
<p>A přitom jsou tyto hrátky s jednotlivými atomy na dosah vlastně každému &#8211; na FSI VUTBR se totiž řídí pravidlem, že pokud má člověk zájem, je mu to bez okolků umožněno. Má to samozřejmě i druhou stránku, a sice, že studenti zůstávají v laboratořích příliš dlouho a stejně jako bývá <a href="http://www.root.cz/clanky/komiks-rozbresk/">zvykem v IT</a>, jsou poté nevyspalí, přepracovaní a unavení.</p>
<p>Mnohé přístrojové vybavení (zejména ty prostorově největší a nejsložitější přístroje) je navrhováno strojírenskými studenty jako diplomové práce a přístroje mají hodnotu několika miliónů korun za každý přístroj. Ostatní přístroje jsou proprietární. Někde nalezneme odčerpaný vzduch a teploty okolo 4 <a href="http://cs.wikipedia.org/wiki/Kelvin">kelvinů</a> (ano, skutečně čtyři, není to překlep), jinde hrátky s grafenem a mnohými dalšími a dokonce i zajímavějšími látkami. Místní laserový spektroskop patří mezi několik málo celosvětově nejmodernějších kusů. Tento spektroskop byl také navržen na FSI ve spolupráci i s dalšími fakultami. Trochu překvapující fakt je, že na řídících stanicích pro takovéto přístroje běží všude operační systémy Microsoft Windows (zahlédnuty verze 7 nebo novější). Stabilita těchto stanic je klíčová pro několikadenní/několikatýdenní nepřetržitý provoz, ale i zde platí, že dokud člověk nezažije ztrátu dat, tak zálohovat (nebo používat stabilní systémy) nezačne.<br />
A takto vnímali výlet někteří účastníci exkurze:<br />
Láďa: Mě nano-alchymisté nadchli nejen tím, s čím si „hrají“, ale i jaký duch v jejich „dílně“ panuje. Komentář k prvému nechám na povolanějších a odkážu na<span style="line-height: 1.5;"> </span><a style="line-height: 1.5;" href="https://youtu.be/Hc805bQe4yo?list=PL1y47zLr2scVRw7Yzk9Gdpfmy6YP__5vP">přednášku Petra Dvořáka</a><span style="line-height: 1.5;">. V podstatě vše, co v ní typově zahlédnete, bylo na Ústavu fyzikálního inženýrství k vidění, byť na obrázcích nejsou ty samé HW kousky, jako mají na fakultě. Čert ví proč.</span></p>
<p>A jeho osoba je pojítkem k druhému, neb je jedním z autorů koncepce, kdy studenti učí ty o rok mladší, čímž si sami zopakují látku a zároveň mají v živé paměti, jaká jsou úskalí a co je stěžejní. Peciválství se tu nepěstuje a zahraniční stáže jsou naprostou samozřejmostí, stejně jako společné surfování (ne po Netu ale u móóře).</p>
<p>Navíc fungují systémem 24&#215;7 a k mašinkám za x mega mají studenti přímý přístup. Žádný „operátor zařízení“, kterého musíte složitě žádat a který pak páchá něco, u čeho nezná kontext. Pěkně na svém a klidně od atomu. Není divu, když musí adepty nano-alchymie čas od času násilím vykopat, aby nezapomněli, jak vypadá slunce. Pravda, přístroje tímto poněkud trpí a dříve odkráčí do HW nebe, zato vědě to dělá moc dobře (viz. <a href="http://www.ceitec.cz/selected-ceitec-publications-2q-2013/t1435">článek</a>) v <a href="https://en.wikipedia.org/wiki/Nature_Nanotechnology">Nature Nanotechnology</a>. A o to jde.</p>
<p>Honza: Před dvěma hodinami jsem stál s bílou čepicí, modrými návleky na boty a dlouhým bílým kabátem (nežádejte mě o fotografie &#8211; pár jsem jich udělal, ale mě na nich nenajdete) v laboratoři nanotechnologií na FSI VUTBR jako účastník privátní exkurze. Byly tam např. stroje s rozměry okolo 6x4x3m, které si hrály s elektrony, ionty atd. za teploty okolo 4 kelvinů (dost zima, brrr) a které dělají tuto laboratoř jednou z vedoucích laboratoří na celém světě (např. <a href="http://www.fei.com/">firma FEI</a>, která má výzkumné a vývojové oddělení právě v Brně, produkuje 1/3 celosvětové produkce mikroskopů &#8211; včetně elektronových mikroskopů a nanotechnologických optických nástrojů). Je to skutečně úchvatné vidět zařízení hrající si s atomy způsobem, že jednoduše „pokládají“ atomy na souřadnice, na kterých je chcete mít. Samozřejmě je za tím mnoho teorie, ale ta nevypadala tak složitě jako věci, se kterými jsem se setkal ve svém IT životě. Rozhodně mohu studium fyziky na této fakultě doporučit. Lidé jsou tam velice vstřícní, přátelští, nadšení a nápomocní.</p>
<p>A proč je vlastně toto místo alchymistické? Právě proto, že na pomezí kvantové mechaniky a kvantové fyziky přestávají být spolehlivé simulační metody ve stávajících nástrojích, a tedy se ve skutečnosti jedná především o výzkum metodou pokus-omyl. Po tomto zjištění mohu jen a pouze doporučit užší spolupráci s <a href="http://www.fit.vutbr.cz/">FIT VUTBR</a>, protože tamější výzkum na poli simulací je hodně pokročilý, a ze své zkušenosti si troufám tvrdit, že by oblast simulací výrazně fyzikům pomohla a fakultě informačních technologií rozšířila portfolio její působnosti.</p>
<p>Bude-li zájem, akci je možné zopakovat!</p>
<p><a href="https://files.openalt.org/index.php/apps/gallery/public/GHFfYAKsBSUnZ9g">Galerie fotografií z akce.</a></p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshonanotechnologie-aneb-jak-se-zije-na-pomezi-mezi-kvantovou-mechanikou-a-kvantovou-fyzikou/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Laser game &#8211; interview</title>
		<link>http://OFFLINEZIP.wpsholaser-game-interview/</link>
		<comments>http://OFFLINEZIP.wpsholaser-game-interview/#comments</comments>
		<pubdate>Mon, 16 Mar 2015 14:35:49 +0000</pubdate>
		<dc:creator><![CDATA[Jiří Beránek]]></dc:creator>
				<category><![CDATA[Článek]]></category>

		<guid ispermalink="false">https://openalt.org/?p=337</guid>
		<description><![CDATA[Na únorový sraz jsme si pro vás připravili trochu pohybu formou Laser game. Z této akce pro vás nyní přinášíme malé interview se dvěma účastníky této akce. Ta proběhla nad očekávání úspěšně. Měli bychom ji brzy zopakovat, co vy na to? V létě protáhneme těla na beach volejbalu, při špatném počasí zase dáme někdy bowling a padl i [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="https://openalt.org/wp-content/uploads/2015/03/logo-white1.jpg"><img class=" size-full wp-image-339 alignleft" src="https://openalt.org/wp-content/uploads/2015/03/logo-white1.jpg" alt="logo-white[1]" width="180" height="141" /></a>Na únorový sraz jsme si pro vás připravili trochu pohybu formou Laser game. Z této akce pro vás nyní přinášíme malé interview se dvěma účastníky této akce. Ta proběhla nad očekávání úspěšně. Měli bychom ji brzy zopakovat, co vy na to? V létě protáhneme těla na beach volejbalu, při špatném počasí zase dáme někdy bowling a padl i návrh na motokáry. Co vy, napadá vás něco zajímavého, čím zpestřit naše srazy?</p>
<p><span id="more-337"></span></p>
<p><strong>Jak se ti líbilo na laser game?</strong></p>
<p><strong>Honza:</strong> Úplně skvěle, nikdy v životě jsem nic takového nehrál. Představoval jsem si to teda jinak, a to, že tam bude více světlo.</p>
<p><strong> Byla tam mlha?</strong></p>
<p><strong>Honza:</strong> Na některých místech ano a byla i možnost přikoupit si nějakou superhustou mlhu, ale to jsme nakonec neudělali. Já bych se tam asi už ztratil.</p>
<p><strong>To zní, dost nebezpečně, nezabili jste se tam?</strong></p>
<p><strong>Honza:</strong> Očekával jsem, že se něco podobného stane, ale nic se naštěstí nestalo, až na jeden incident, na který jsem přišel asi až po hodině. A to, že Laca někdo píchnul zbraní do oka, ale ani on o tom nevěděl. Nakonec se mu tam vybarvil obří monokl. Ta zbraň tě nezabije, nezničí ti oči, ale pěkně ti je zfialoví.</p>
<p><strong>Kdo vyhrál?</strong></p>
<p><strong>Honza:</strong> To je těžká otázka, nakonec jsme měli jen tři hry, protože jsme to časově nestíhali a kromě toho bychom vše ani nezvládli uběhat. První hra byl death match &#8211; všichni proti všem. Druhá hra byla týmová na vlajky. Musela jsi dobýt cizí vlajku a bránit tu svoji. A to bylo zajímavé, protože jsme už byli rozehraní, a ty týmy, co jsme postavili, byly vyrovnané. To se povedlo trefit, aniž bychom se příliš znali na základě té první hry. Druhou hru jsme vyhráli my. V týmu jsem byl já, Zuzka, Martix, Laco a ještě jeden klučina, co si už nevzpomenu na jméno. Oni tam přišli i Piráti, kteří byli zjevně velice pokročilí hráči. My jsme s Lacem bránili naši základnu, což bylo nejdůležitější strategické rozhodnutí, protože jsme to ubránili a nakonec i vyhráli. Třetí hra se hrála na agenty. Všichni hráči se rozdělí na dvě části &#8211; jedna z nich jsou agenti a ostatní jsou proti agentům. Agentů může být jeden, dva, i více, my jsme měli dva. Takhle vběhneš do tý arény a první, kdo tě jako agenta střelí, od tebe převezme tu babu a je agent na tobě. Takže to je docela rychlý a hodně se to střídalo. Agenti jsou dobří, protože se všichni musejí strašně rychle hýbat a pořád se to mění, což byl velice povedný bod té hry. Tuhle hru vyhrál borec, co to hraje strašně často a hned za ním pak byli ti Piráti. Taky bylo super u té třetí hry, že už jsme chápali herní principy a znali jsme tu herní mapu. A když jsme skončili, tak byli všichni opravdu unavení.</p>
<p><strong>Takže pivo potom na srazu přišlo vhod?</strong></p>
<p><strong>Honza:</strong> No, ten džus, co jsem měl, byl dobrý :). Konečně jsem ale rozhýbal všechny moje kosti a kolena po dlouhé době a cítil jsem to pak ještě dva dny.</p>
<p><strong>Takže úspěšná akce?</strong></p>
<p><strong>Honza: </strong>Jasně!</p>
<p><a href="https://openalt.org/wp-content/uploads/2015/03/openalt-laser-game.jpg"><img class="alignnone size-medium wp-image-345" src="https://openalt.org/wp-content/uploads/2015/03/openalt-laser-game-300x201.jpg" alt="openalt laser game" width="300" height="201" /></a></p>
<p><strong>Jak se ti líbilo na laser game?</strong></p>
<p><strong>Zuzka:</strong> V pohodě, jen hrát proti chlapům je asi těžší. Ale jinak je super, že se dělají takové společné aktivity. Původně jsem tam ani nechtěla jít, protože jsem byla nemocná, ale kluci mne pak přesvědčili. A stálo to za to.</p>
<p><strong>Bylo to těžké držet s nimi krok?</strong></p>
<p><strong>Zuzka:</strong> Ne že těžké, ale těžko se hraje proti chlapům, když jsi baba a nemáš s tím žádné zkušenosti. A asi jsou i zdatnější. Já jsem teda zvyklá střílet ze zbraně, chodíme občas na střelnici, jenže zbraň na laser game nemá zpětný ráz, tak to byl nezvyk. Hlavně to, že se ta zbraň musí držet oběma rukama. Když víš, že to nemá zpětný ráz, tak to chceš pak držet jen jednou rukou, v tu chvíli ti to ale nestřílí.</p>
<p><strong>Která hra se ti nejvíc líbila?</strong></p>
<p><strong>Zuzka:</strong> Já jsem byla jen na dvou. Agenti byli asi nejlepší. Na té první jsem nebyla a ta druha byla taková&#8230; Museli jsme se oživovat pod takovými krystaly a druhý tým si stoupl k nim a hned nás po oživení zase zabili. My jsem se o to taky snažili, ale nějak nám to pak už nevyšlo a nemohli jsme s tím v podstatě nic dělat. Ale když jsme pak hráli každý sám za sebe, tak to bylo lepší.</p>
<p><strong>Hrála jsi někdy laser game předtím?</strong></p>
<p><strong>Zuzka:</strong> Ne, ale jako malí jsme měli s bráchou takové podobné vesty a pistole, bylo to něco na způsob laser game, co nám koupili rodiče a pak jsme běhali po bytě a rozbíjeli ho. Dětské časy, to mi ta laser game připomněla.</p>
<p><iframe src="https://www.youtube.com/embed/5TLla1Nr5Qc" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpsholaser-game-interview/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>LED logo OpenAltu</title>
		<link>http://OFFLINEZIP.wpsholed-logo-openaltu/</link>
		<comments>http://OFFLINEZIP.wpsholed-logo-openaltu/#comments</comments>
		<pubdate>Sat, 31 Jan 2015 10:17:19 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
				<category><![CDATA[Článek]]></category>

		<guid ispermalink="false">https://openalt.org/?p=209</guid>
		<description><![CDATA[Tento článek je napsán na základě prezentace, na které jsem představil upravenou verzi OpenAlt loga. Toto logo bylo vytvořeno pro účely propagace konference i sdružení OpenAlt. Na začátku byla myšlenka a bohužel nebyla moje. Zrodilo se OpenAlt svítící logo. &#160; Autor: Itchy &#124; Editor: Bára &#124; Vztekání se s WP: Laďa A toto logo mne zaujalo [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><img id="Obrzek14graphic" class=" alignleft" style="float: left; margin: 5px 5px 5px 5px;" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img1.png" alt="Obrázek14" width="100" />Tento článek je napsán na základě prezentace, na které jsem představil upravenou verzi OpenAlt loga. Toto logo bylo vytvořeno pro účely propagace konference i sdružení OpenAlt.</p>
<p>Na začátku byla myšlenka a bohužel nebyla moje. Zrodilo se OpenAlt svítící logo.</p>
<p><span id="more-209"></span></p>
<p>&nbsp;</p>
<p>Autor: Itchy | Editor: Bára | Vztekání se s WP: Laďa</p>
<table>
<tbody>
<tr>
<td><img id="Obrzek1graphic" class="frameGraphics alignleft" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img3.png" alt="Obrázek1" /></td>
<td><img id="Obrzek2graphic" class="frameGraphics" style="float: left; width: 80%;" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img2.png" alt="Obrázek2" /></td>
</tr>
</tbody>
</table>
<p>A toto logo mne zaujalo natolik, že jsem se rozhodl jej trochu vylepšit. Přeci jen mělo to pár chyb:</p>
<ul>
<li>Lepenka nezajistila dobrý kontakt a logo blikalo nebo nesvítilo vůbec.</li>
<li>Baterka s LED se v logu posouvala a LED se občas schovávala za plný segment, také při posouvání se občas kontakt rozpojil.</li>
<li>A v neposlední řadě v obvodu nebyl odpor pro omezení proudu LED a ta se značně přehřívala.</li>
</ul>
<div style="text-align: center; width: 50%;"><img id="Obrzek3graphic" class="frameGraphics" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img4.png" alt="Obrázek3" /></div>
<p>Takže jsem se jal vylepšovat a prvně jsem do obvodu přidal odpor pro omezení proudu LED. Když už jsem byl v přidávání, přidal jsem také více LED, aby to hezky svítilo. Dále jsem pro lepší manipulaci s baterií přidal držák na baterii. A výsledné schema vypadá takto.</p>
<div style="text-align: left; width: 150%;"><img id="Obrzek4graphic" class="frameGraphics" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img5.png" alt="Obrázek4" /></div>
<p>No a aby to celé bylo moderní a COOL, celé zapojení jsem provedl formou PCB, tedy deskou plošného spoje, na kterou se součástky připájí a bude to celé hezky držet pohromadě.</p>
<p class="Standard"><span xml:lang="cs-CZ">PCB jsem pak navrhl v SW Eagle (sice nesvobo</span><span xml:lang="cs-CZ">d</span><span xml:lang="cs-CZ">ný SW, ale má free verzi a funguje stejně jak na widlích tak v linuxu, dostupný zde: </span><a class="Internet20link" href="http://www.cadsoftusa.com/"><span xml:lang="cs-CZ">http://www.cadsoftusa.com/</span></a><span xml:lang="cs-CZ">).</span></p>
<div style="text-align: left; width: 150%;"><img id="Obrzek5graphic" class="frameGraphics" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img6.png" alt="Obrázek5" /></div>
<p>Jak Martix správně rýpl, jde to navrhnout i v KiCad, ale já s Eaglem již nějakou dobu pracuji a mám ověřené i generování dat. Navíc výrobce má pro Eagle přímou podporu. Ale snad příště.</p>
<p class="Standard"><span xml:lang="cs-CZ">A když jsem již zmínil výrobu PCB tak ta proběhla v Číně. PCB bylo objednáno zde: </span><a class="Internet20link" href="http://imall.iteadstudio.com/open-pcb/pcb-prototyping.html"><span xml:lang="cs-CZ">http://imall.iteadstudio.com/open-</span></a><a class="Internet20link" href="http://imall.iteadstudio.com/open-pcb/pcb-prototyping.html"><span xml:lang="cs-CZ">pcb/pcb-prototyping.html</span></a></p>
<div style="text-align: left; width: 150%;"><img id="Obrzek6graphic" class="frameGraphics" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img7.png" alt="Obrázek6" /></div>
<p>Objednal jsem výrobu 10ks panelů 5&#215;5 cmm, což odpovídá 4 pcb kruhového tvaru (dia 2,5cm), dvou vrstvé PCB s prokovy, pocínovanými pady, 1,6mm tloušťky a 100% e-tast.</p>
<p>Ještě jeden malý krok zpět, před objednáním PCB jsem si ještě ověřil sestavu (PCB, komponenty, držák baterie), jestli není někde mechanický problém. Výsledek vypadal uspokojivě.</p>
<div style="text-align: center; width: 50%;"><img id="Obrzek7graphic" class="frameGraphics" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img8.png" alt="Obrázek7" /></div>
<p class="Standard"><span xml:lang="cs-CZ">PCB a držák byly modelovány v </span><span xml:lang="cs-CZ">Openscad, LED a odpory jsem stáhnul na </span><a class="Internet20link" href="https://grabcad.com/"><span xml:lang="cs-CZ">https://grabcad.com/</span></a><span xml:lang="cs-CZ">, </span><span xml:lang="cs-CZ">kde jsou dostupné různé modely </span><span xml:lang="cs-CZ">součástí.</span> <span xml:lang="cs-CZ">A vše jsem složil do sestavy ve FreeCAD.</span></p>
<p>No a po nějaké době mi dorazil balík z Číny. A co v něm bylo? No kupodivu PCB v požadovaném tvaru a kvalitě.</p>
<div style="text-align: center;"><img id="Obrzek8graphic" class="frameGraphics" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img9.jpg" alt="Obrázek8" /></div>
<p>Jen tedy malá poznámka ke kvalitě: Objednal jsem pocínování padů a dorazilo to s pozlacením. No útěchou budiž, že pozlacení je mnohem dražší, než je pocínování.<br />
Celkově však výsledek odpovídá návrhu. To že je to v celku, je dáno požadavky výrobce, kdy panel (více PCB na jedné desce) nesmí být nijak předělen. A protože na 5&#215;5 cm se vešly 4 loga, budeme si je musit oddělit sami.<br />
Ale to nebyl celý obsah balíku, tedy spíš balíčku. Protože Číňané podporují open-source k deseti kusům přidali jeden navíc a přidali i další dva PCB, které jsou také open-source.</p>
<table>
<tbody>
<tr>
<td><img id="Obrzek9graphic" style="width: 70%;" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img11.jpg" alt="Obrázek9" /></td>
<td><img id="Obrzek10graphic" class="frameGraphics" style="width: 70%;" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img10.jpg" alt="Obrázek10" /></td>
</tr>
</tbody>
</table>
<p>Toto je například měřič vlhkosti hlíny. Stačí přidat pár součástek a vaše kytky budou mít pohodlí jak nikdy před tím.</p>
<table>
<tbody>
<tr>
<td><img id="Obrzek11graphic" style="width: 70%;" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img12.jpg" alt="Obrázek11" /></td>
<td><img id="Obrzek12graphic" class="frameGraphics" style="width: 70%;" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img13.jpg" alt="Obrázek12" /></td>
</tr>
</tbody>
</table>
<p>A toto by někteří mohli i znát. Pokud ne, tak nápověda je na pravém obrázku.</p>
<p>Takže nyní máme své svítící logo,</p>
<div style="text-align: center;"><img id="Obrzek13graphic" class="frameGraphics" src="https://openalt.org/wp-content/uploads/2015/01/OpenAlt_logo_clanek_edits-img14.jpg" alt="Obrázek13" width="20%" /></div>
<p>A na kolik takováto sranda vyjde?</p>
<ul>
<li>Výroba PCB v Číně 9,9 USD + 3,9 USD poštovné
<ul>
<li>Placeno přes PayPal 318.43 CZK</li>
<li>Počet panelů 11, počet PCB na panelu 4, počet PCB celkem 44 → cena jednoho PCB 7,237 CZK</li>
</ul>
</li>
<li>Komponenty:
<ul>
<li>LED červená 1 ks 2,545 CZK</li>
<li>LED oranžová 2 ks 4,356 CZK</li>
<li>LED žlutá 3 ks 7,859 CZK</li>
</ul>
<ul>
<li>Rezistor 1k3 6ks 2,425 CZK</li>
<li>Držák baterie 1 ks 3,458 CZK</li>
<li>Baterie (IKEA) 1ks 6,125 CZK</li>
</ul>
</li>
<li><span style="color: red;">Cena za kus 34 CZK</span> (cenu plastu neznám)</li>
<li>Cena za práci kvalifikovaného HW design engineera v €
<ul>
<li>Na to OpenAlt nemá ☺</li>
</ul>
</li>
</ul>
<p>A to je asi tak vše co jsem k tomuto tématu prezentoval a co jsem chtěl napsat i zde.</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpsholed-logo-openaltu/feed/</wfw:commentrss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
