<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Komentáře k OpenAlt z.s. &#187; Languages &#187; Čeština</title>
	<atom:link href="http://OFFLINEZIP.wpshocomments/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description></description>
	<lastbuilddate>Thu, 14 May 2015 08:05:38 +0000</lastbuilddate>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Komentář k příspěvku Pozvánka na 114. sraz příznivců open source od Sraz příznivců open source - Linux E X P R E S</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-114-sraz-priznivcu-spolku-openalt/#comment-479</link>
		<dc:creator><![CDATA[Sraz příznivců open source - Linux E X P R E S]]></dc:creator>
		<pubdate>Thu, 14 May 2015 08:05:38 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=341#comment-479</guid>
		<description><![CDATA[[&#8230;] OpenAlt﻿, známý především stejnojmennou konferencí, již pořádá, vás zve na sraz&#160;příznivců open source﻿. Koná se&#160;v pátek 20. března 2015 od 18 hodin﻿, a to na dvou místech. V [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] OpenAlt﻿, známý především stejnojmennou konferencí, již pořádá, vás zve na sraz&nbsp;příznivců open source﻿. Koná se&nbsp;v pátek 20. března 2015 od 18 hodin﻿, a to na dvou místech. V [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Komentář k příspěvku LED logo OpenAltu od vesp</title>
		<link>http://OFFLINEZIP.wpsholed-logo-openaltu/#comment-440</link>
		<dc:creator><![CDATA[vesp]]></dc:creator>
		<pubdate>Thu, 19 Feb 2015 15:17:19 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=209#comment-440</guid>
		<description><![CDATA[A co fotky, jak vypadá svítící finální výrobek? :o)]]></description>
		<content:encoded><![CDATA[<p>A co fotky, jak vypadá svítící finální výrobek? :o)</p>
]]></content:encoded>
	</item>
	<item>
		<title>Komentář k příspěvku Pozvánka na 108. sraz příznivců otevřených technologií od George1</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comment-5</link>
		<dc:creator><![CDATA[George1]]></dc:creator>
		<pubdate>Mon, 15 Sep 2014 18:34:01 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=82#comment-5</guid>
		<description><![CDATA[Přijdu !]]></description>
		<content:encoded><![CDATA[<p>Přijdu !</p>
]]></content:encoded>
	</item>
	<item>
		<title>Komentář k příspěvku Pozvánka na 108. sraz příznivců otevřených technologií od kavol</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comment-4</link>
		<dc:creator><![CDATA[kavol]]></dc:creator>
		<pubdate>Mon, 15 Sep 2014 13:00:29 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=82#comment-4</guid>
		<description><![CDATA[hau, konečně mi to zas po nějaký době vychází, a vy takhle ... to nemůžeme jít někam, kde mají pivo?]]></description>
		<content:encoded><![CDATA[<p>hau, konečně mi to zas po nějaký době vychází, a vy takhle &#8230; to nemůžeme jít někam, kde mají pivo?</p>
]]></content:encoded>
	</item>
	<item>
		<title>Komentář k příspěvku Pozvánka na 108. sraz příznivců otevřených technologií od Ladislav Nešněra</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comment-3</link>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
		<pubdate>Mon, 15 Sep 2014 10:26:22 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=82#comment-3</guid>
		<description><![CDATA[A já budu strojvedoucí! (Otec říkal &quot;fíra&quot;. A ten to musí vědět, když to celý život dělal)]]></description>
		<content:encoded><![CDATA[<p>A já budu strojvedoucí! (Otec říkal &#8222;fíra&#8220;. A ten to musí vědět, když to celý život dělal)</p>
]]></content:encoded>
	</item>
	<item>
		<title>Komentář k příspěvku Pozvánka na 108. sraz příznivců otevřených technologií od Skvedo</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comment-2</link>
		<dc:creator><![CDATA[Skvedo]]></dc:creator>
		<pubdate>Sun, 14 Sep 2014 22:02:15 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=82#comment-2</guid>
		<description><![CDATA[Já se rád stavím.]]></description>
		<content:encoded><![CDATA[<p>Já se rád stavím.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
