@charset "UTF-8";
@media all {
body { font-family: sans-serif; color: black; background-color: white; /*background-image:url(../grafiken/bg.png);*/ }
p,dt,dd,blockquote,.maxwidth {max-width:45em; }
.nomaxwidth { max-width:none; }
p,dt,dd,blockquote { text-align:justify; }
dt {padding-bottom:0.1em; margin-bottom:0.1em;}
dd > p {padding-top:0.1em; margin-top:0.1em; padding-bottom:0.2em; margin-bottom:0.2em; }
h3,h4,h5,h6 { padding-left:0; }
h3 { margin-left:0.77em; }
h4,h5,h6 { margin-left:0.91em; }
table {
border-collapse:collapse;
empty-cells:show;
margin:0.2em 0 0.8em 0;
padding:0.2em;
text-align:left;
background-color:white;
vertical-align:top;
table-layout:auto;
border:0;
}
thead, tbody, tfoot, tr {
border:inherit;
padding:inherit;
vertical-align:inherit;
background-color:inherit;
}
td {
padding:inherit;
vertical-align:inherit;
border:inherit;
background-color:inherit;
}
th {
padding:inherit;
text-align:center;
vertical-align:inherit;
border:inherit;
font-weight:bold;
background-color:inherit;
}
table.borders { border:1px solid black; }
ol { padding:0.1em; margin:0.3em;margin-left:2.5em; }
ul { padding:0.1em; margin:0.3em;margin-left:1.5em; }
li { padding-top:0.1em; margin-top:0; padding-bottom:0.1em; margin-bottom:0; }
img { margin:1em 1em 0.2em 1em; }
img,img.noborders { border:0; }
img.borders { border:1px solid black; }
img.banner { vertical-align: middle; margin: 0; }
h1,h2,h3,h4,h5,h6 { margin-top:2em;margin-bottom:0;font-weight:bold; }
p { font-size:100%;padding-top:0.1em; margin-top:0.2em; padding-bottom:0.1em; margin-bottom:0.2em; }

#logoimg { width:300px; height:140px; float:left; margin:20px 0 0 20px; border:0; }
#logoindent { padding-left:400px; }
#subline { font-size:120%; font-weight:bold; text-align:center; margin:0; padding:0 0 2em 0; max-width:none; border:0; }
#nav { line-height:200%; text-align:left; margin:2em 0; padding:1em 0; border-top:1px solid black; border-bottom:1px solid black; max-width:none; clear:both; }
#nav a, #nav span { margin-left:3em; }
h1 { font-size:200%; font-weight:bold; text-align:center; margin:2em 0 0.5em 0; }
h2 { font-size:120%; font-weight:bold; }
h3 { font-size:110%; font-weight:bold; }
#nolinkstothispage { margin:1em 0; padding:0 0 1em 0; text-align:center; font-size:150%; font-weight:bold; border-bottom:2px solid black; max-width:none; }

#bigsponsors { border:0; padding:0 0 2em 0; float:left; }
.bigsponsor { border:1px solid black; width:330px; height:250px; padding:0; margin:2em 20px 0 0; float:left; overflow:hidden; background-image:none; background-color:transparent; }
#smallsponsors { border:0; padding:0 0 2em 0; float:left; }
.smallsponsor { border:1px solid black; width:220px; height:150px; padding:0; margin:2em 20px 0 0; float:left; overflow:hidden; background-image:none; background-color:transparent; }
.clear { clear:both; }
#bigsponsorhint, #smallsponsorhint { margin-top:3em; font-size:75%; }
a:link.sponsorlink, a:visited.sponsorlink, a:hover.sponsorlink { background-color:transparent;text-decoration:none; }
.bigfullsizeimage { width:330px; height:250px; padding:0; margin:0; }
.smallfullsizeimage { width:220px; height:150px; padding:0; margin:0; }

#seitenende { visibility:hidden; }

sub,sup { font-size:50%; }
blockquote { margin-left:1em;font-style:italic; }
q { font-style:italic; }
li > p { margin:0; }
h1 + h2,h2 + h3,h3 + h4 { margin-top:0.3em; }
.aufzaehlung_stichwort { font-style:italic;text-decoration:underline;font-size:110%; }
.aufzaehlung_url { margin-left:4em; }
.beispiel { margin: 2em; border: 1px solid black; padding: 1em; display:table; }
.blockcenter { margin-left:auto;margin-right:auto; }
.center { text-align:center; }
.einleitung { margin-bottom:0.1em; }
.h3-block { margin-left:1em; padding-left:0.5cm; border-left:1px dashed black;margin-bottom:1em; }
.indent { margin-left:3em; }
.klein { font-size:85%; }
.marginbottom { margin-bottom:2em; }
.margintop { margin-top: 1em; }
.name { font-style:italic; }
.nowrap { white-space:nowrap; }
p.bild { text-align:center; }
p.bildunterschrift { border-bottom:1px solid #c1c1c1;padding-bottom:1em;padding-left:2em;margin-left:2em;margin-bottom:1em;font-style:italic; }
.einleitung + * { margin-top:0.2em; }
a:link { color:#2c4fff;text-decoration:underline; }
a:visited { color:#2c4fff;text-decoration:underline; }
a:hover { color:white;background-color:#0303ed;text-decoration:underline; }
a:hover.nohover { background-color:transparent;text-decoration:none; }
a.wikipedia:before { content: "(WP:)Â "; font-size: 65%; vertical-align: baseline; }
}
@media screen {
body { color: black; background-color: white; }
a:link { color:#2c4fff;text-decoration:underline; }
a:visited { color:#2c4fff;text-decoration:underline; }
a:hover { color:white;background-color:#6969da;text-decoration:underline;background-image:url(../images/hover-bg.png);background-repeat:repeat-x;background-position:top; }
a:hover.nohover { background-color:transparent;text-decoration:none;background-image:none; }
a:link.nolink, a:visited.nolink { color:black; text-decoration:none; background-color:transparent; background-image:none; }
a:hover.nolink { color:black; text-decoration:underline; background-color:transparent; background-image:none; }
}
@media (min-width:550px) and (max-width: 640px) {
#logoimg { width:300px; height:140px; float:left; margin:0; border:0; }
#logoindent { padding-left:310px; }
h1 { font-size:150%; margin:0.2em 0 0.5em 0; }
.hide_on_small_screen { display:none; }
#nav { line-height:250%; margin:0.5em 0; padding:0.3em 0; }
#subline { padding:0 0 0.5em 0; }
}
@media (max-width: 549px) {
#logoimg { width:300px; height:140px; float:none; margin:0; border:0; }
#logoindent { padding-left:0; }
h1 { margin:0.2em 0 0.5em 0; }
.hide_on_small_screen { display:none; }
#nav { line-height:250%; margin:0.5em 0; padding:0.3em 0; }
#subline { padding:0 0 0.5em 0; }
#nav a, #nav span { margin:0 3em 0 0; }
.indent { margin-left:1.5em; }
}
@media print {
.noprint { display:none; }
.printonlyblock { display:block; }
.printonlyinline { display:inline; }
.printonlytable { display:table; }
a:link,a:visited { color:black;text-decoration:none; }
}
