@use "sass:map";

/**
 * Styles specific to individual pages, i.e. content in _pages
 */

.home-page {
  #index-carousel {
    height: 300px;

    @media (min-width: map.get($grid-breakpoints, "md")) {
      height: 450px;
    }
  }
}

.media-page {
  blockquote {
    position: relative;
    padding-left: 4rem;

    &::before {
      content: '\201C';
      position: absolute;
      top: -1rem;
      left: 0;
      font-size: 5rem;
      color: $gray-300;
    }
  }

  figcaption {
    &::before {
      content: '--';
    }
  }
}

.partneri-page {
  $partners-card-target-height: 180px;
  $partners-card-logo-padding-vertical: 0.5rem;
  $partners-card-logo-padding-horizontal: 3rem;

  --partners-card-target-height: #{calc($partners-card-target-height / 3)};
  @media (min-width: map.get($grid-breakpoints, "md")) {
    --partners-card-target-height: #{calc($partners-card-target-height)};
  }

  .partners-cards {
    .card {
      a.link-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        width: 100%;

        min-height: var(--partners-card-target-height);
        padding: $partners-card-logo-padding-vertical $partners-card-logo-padding-horizontal;
  
        img {
          height: 100%;
          max-height: var(--partners-card-target-height);
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}