<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Komentáře: Pozvánka na 108. sraz příznivců otevřených technologií</title>
	<atom:link href="http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/feed/" rel="self" type="application/rss+xml" />
	<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/</link>
	<description></description>
	<lastbuilddate>Thu, 14 May 2015 08:05:38 +0000</lastbuilddate>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Od: George1</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comment-5</link>
		<dc:creator><![CDATA[George1]]></dc:creator>
		<pubdate>Mon, 15 Sep 2014 18:34:01 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=82#comment-5</guid>
		<description><![CDATA[Přijdu !]]></description>
		<content:encoded><![CDATA[<p>Přijdu !</p>
]]></content:encoded>
	</item>
	<item>
		<title>Od: kavol</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comment-4</link>
		<dc:creator><![CDATA[kavol]]></dc:creator>
		<pubdate>Mon, 15 Sep 2014 13:00:29 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=82#comment-4</guid>
		<description><![CDATA[hau, konečně mi to zas po nějaký době vychází, a vy takhle ... to nemůžeme jít někam, kde mají pivo?]]></description>
		<content:encoded><![CDATA[<p>hau, konečně mi to zas po nějaký době vychází, a vy takhle &#8230; to nemůžeme jít někam, kde mají pivo?</p>
]]></content:encoded>
	</item>
	<item>
		<title>Od: Ladislav Nešněra</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comment-3</link>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
		<pubdate>Mon, 15 Sep 2014 10:26:22 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=82#comment-3</guid>
		<description><![CDATA[A já budu strojvedoucí! (Otec říkal &quot;fíra&quot;. A ten to musí vědět, když to celý život dělal)]]></description>
		<content:encoded><![CDATA[<p>A já budu strojvedoucí! (Otec říkal &#8222;fíra&#8220;. A ten to musí vědět, když to celý život dělal)</p>
]]></content:encoded>
	</item>
	<item>
		<title>Od: Skvedo</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comment-2</link>
		<dc:creator><![CDATA[Skvedo]]></dc:creator>
		<pubdate>Sun, 14 Sep 2014 22:02:15 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=82#comment-2</guid>
		<description><![CDATA[Já se rád stavím.]]></description>
		<content:encoded><![CDATA[<p>Já se rád stavím.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
