.openalt-nav {
  background-color: #28292a;
  color: #ffffff;
  border: 0; 
  margin: 0;
}

.openalt-nav a {
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;
}

.openalt-nav a.navbar-brand:hover, .openalt-nav .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #bf1f2e;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #d47a69;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #d47a69;
}

/*

.navbar-inverse .navbar-nav > .active > a, 
  background-color: #d47a69;
}
*/

.white-section, .red-section, .gray-section, .altering-section  {
  padding: 20px;
}

.altering-section:nth-child(2n) {
  background-color: #eeeeee;
}

.altering-section:nth-child(2n+1) {
  background-color: #ffffff;
}

.red-section {
    background-color: #c22e38;
    color: white;
}

.red-section a {
    color: #f09685;
    text-decoration: none;
}
.red-section a:hover {
    text-decoration: underline;
}


.white-section {
}

.gray-section {
    background-color: #28292a;
    color: #ffffff;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 35pt;
    font-weight: normal;
}

h3 {
    font-family: "Open Sans",sans-serif;
    font-size: 16pt;
    font-weight: 200;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
}

.subtitle {
  font-family: "Open Sans",sans-serif;
  font-size: 16pt;
  font-weight: lighter;
}

.subtitle-date {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 4vh;
    margin-top: 3vh;
}

.footer {
  text-align: center;
}

.openalt-history img {
    margin-right: 4pt;
    max-height: 50pt;
    vertical-align: middle;
    width: 100pt;
}

.venue-info {
    font-size: 11.4pt;
    font-weight: 300;
    line-height: 20pt;
    font-family: "Open Sans",sans-serif;
}

.partners img {
  max-height: 120px;
  max-width: 100%;
}

#stat {
    text-align: center;
    font-family: "Open Sans",sans-serif;
}

#stat .stat {
    color: #c22e38;
    font-size: 100px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInDown {
    animation-name: fadeInDown;
}

#stat .stat {
    color: #c22e38;
    font-size: 100px;
}
#stat .stat-info {
    font-size: 17pt;
}

#stat hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c22e38 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    width: 20px;
}

#benefits p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0 0 10px;
    line-height: 16pt;
}


blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #6b0a12;
  border-right: 2px solid #6b0a12;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #6b0a12;
  -webkit-box-shadow: 2px 2px 15px #6b0a12;
  box-shadow: 2px 2px 15px #6b0a12;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

#partners_footer {
    background: white none repeat scroll 0 0;
    border-top: 1px solid #28292a;
    bottom: 0;
    height: 44px;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#partners_footer img {
  margin: 1px 5px;
  padding: 0;
  height: 41px;
}

.feedback_author::before {
    content: "-- ";
}
.feedback_author {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}


.feedback_msg {
    font-style: italic;
    margin-bottom: 4pt;
    margin-top: 24pt;
    padding-bottom: 0;
    text-align: left;
}



#main_buttons a, #main_buttons a:link, #main_buttons a:visited, #main_buttons a:hover, #main_buttons a:active {
    color: white;
    display: inline-block;
    font-size: 17pt;
    font-weight: 600;
    margin: 0 11pt 20pt 0;
    padding-bottom: 15pt;
    padding-top: 15pt;
    text-decoration: none;
    width: 190pt;
}

#main_buttons a:nth-child(n+1) {
    background-color: #d47a69;
}
#main_buttons a:nth-child(n+2) {
    background-color: #bf1f2e;
}

#main_buttons a:nth-child(n+3) {
    background-color: #6b0a12;
}

#gallery ul {
    list-style: outside none none;
}

#gallery.one ul > li {
    height: 110px;
    width: 140px;
}
#gallery ul li {
    float: left;
    font-size: 70%;
    text-align: center;
}
#gallery ul li {
    display: inline;
}

.form-group {
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
}


.circle {
  position: absolute;
  width: 18pt;
  height: 18pt;
  border-radius: 50%;
}



.track0-fg, a:hover.track0-fg { color: #10753f; }
.track1-fg, a:hover.track1-fg { color: #2f62ae; }
.track2-fg, a:hover.track2-fg { color: #be1e2d; }
.track3-fg, a:hover.track3-fg { color: #57585a; }
.track4-fg, a:hover.track4-fg { color: #d37a6a; }
.track5-fg, a:hover.track5-fg { color: #92378b; }
.track6-fg, a:hover.track6-fg { color: #000000; }
.track7-fg, a:hover.track7-fg { color: #edd400; }

.carousel-caption > h3 {
    font-weight: normal;
}

.carousel-caption > p {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7), -5px -5px 5px #000000;
}

.main-logo {
  max-width: 100%;
}


/** wall */
 
.feed_item {
  border: solid #aaaaaa 1px;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}

.feed_avatar {
  width: 60px;
  height: 60px;
  clear: left;
  float: left;
}
.feed_title {
  float: left;
  padding-left: 10px;
}
.feed_author {
  font-weight: bold;
}
.feed_time {
}
.feed_text {
  clear: left;
  padding-top: 10px;
}
.feed_image {
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.feed_type {
  width: 20px;
  height: 20px;
  float: right;
}


/* wall - end*/

#schedule > table {
    max-width: 100%;
    width: 100%;
  border-spacing: 4px;
  border-collapse: separate;
}

#schedule > table th, #schedule > table td {
  min-width: 100px;
}

#schedule > table td {
  padding: 3px 5px 3px 5px;
  width: 12%;
  background-color: #d1d2d4;
}

#schedule > table th {
  padding: 5px 7px 5px 7px;
  text-align: center;
  min-width: 20px;
  width: 50px;
  background-color: #28292a;
  color: #ffffff;

}

#schedule > table td a {
  color: #000000;
}

#schedule .speakers {
  font-weight: bold;
}
#schedule .topic {
}

#program_detail .event_title {
  font-weight: bold;
  font-size: 14pt;
}

#program_detail .participant_name {
  font-weight: bold;
  font-size: 12pt;
}

#program_detail .speaker_box  {
  width: 100%;
  clear: left;
}
#program_detail .avatar {
  width: 150px;
  float: left;
  padding: 10px;
}

#program_detail .speaker_data {
  padding: 10px;
}

.btn-circle {
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 17px 0;
  border-radius: 40px;
}

.conf-social {
  padding: 20px 0;
}

.postit {
    background-image: url("../img/postit.png");
    display: none;
    height: 153px;
    left: 65%;
    position: absolute;
    top: 55px;
    width: 200px;
}

.pocetregistraci {
    font-size: 110%;
    left: 0;
    position: relative;
    text-align: center;
    top: 60px;
    transform: rotate(-11deg);
}

#reg_counter {
  font-weight: bold;
  font-size: 18pt;
}

a#button_always {
  padding: 5px 7px 5px 7px;
  color: #ffffff;
  background-color: #bf1f2e;
  border: solid #6b0a12 1px;

    position: fixed;
    text-align: center;
    vertical-align: middle;
    right: 20px;
    bottom: 50px;
}

a:hover#button_always {
  text-decoration: none;
  background-color: #d47a69;

}