<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Komentáře: LED logo OpenAltu</title>
	<atom:link href="http://OFFLINEZIP.wpsholed-logo-openaltu/feed/" rel="self" type="application/rss+xml" />
	<link>http://OFFLINEZIP.wpsholed-logo-openaltu/</link>
	<description></description>
	<lastbuilddate>Thu, 14 May 2015 08:05:38 +0000</lastbuilddate>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Od: vesp</title>
		<link>http://OFFLINEZIP.wpsholed-logo-openaltu/#comment-440</link>
		<dc:creator><![CDATA[vesp]]></dc:creator>
		<pubdate>Thu, 19 Feb 2015 15:17:19 +0000</pubdate>
		<guid ispermalink="false">https://openalt.org/?p=209#comment-440</guid>
		<description><![CDATA[A co fotky, jak vypadá svítící finální výrobek? :o)]]></description>
		<content:encoded><![CDATA[<p>A co fotky, jak vypadá svítící finální výrobek? :o)</p>
]]></content:encoded>
	</item>
</channel>
</rss>
