<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>OpenAlt z.s. &#187; sumář</title>
	<atom:link href="http://OFFLINEZIP.wpshocategory/sumar_/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description></description>
	<lastbuilddate>Fri, 12 Jun 2020 19:26:35 +0000</lastbuilddate>
	<language>cs-CZ</language>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Sumář 007</title>
		<link>http://OFFLINEZIP.wpshosumar-007/</link>
		<comments>http://OFFLINEZIP.wpshosumar-007/#comments</comments>
		<pubdate>Mon, 13 Apr 2015 12:54:22 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
				<category><![CDATA[sumář]]></category>

		<guid ispermalink="false">https://openalt.org/?p=430</guid>
		<description><![CDATA[Nastala vhodná konstelace pro další sumarizující nepravidelník. Tak že stalo se: postupně udoláváme byrokracii a podobné fuj nezbytnosti. V praxi to znamená, že máme podáno daňové přiznání (iVir). Téže osobě vděčíme za aktualizovanou podobu darovací smlouvy a pokud to snad někteří nevědí, tak i za většinu administrace technického zázemí pronikáme na Wiki (hledej OpenAlt). Velmi [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Nastala vhodná konstelace pro další sumarizující nepravidelník. Tak že<span id="more-430"></span></p>
<p>stalo se:</p>
<ol>
<li>postupně udoláváme byrokracii a podobné fuj nezbytnosti. V praxi to znamená, že máme podáno daňové přiznání (iVir). Téže osobě vděčíme za aktualizovanou podobu darovací smlouvy a pokud to snad někteří nevědí, tak i za většinu administrace technického zázemí</li>
<li>pronikáme na <a href="https://cs.wikipedia.org/wiki/Wikipedie:Pod_re%C3%A1lnou_l%C3%ADpou/Brno,_18._b%C5%99ezna_2015">Wiki</a> (hledej OpenAlt). Velmi seriozní přístup od wikipedistů což? Na nás je konečně spáchat to nejúžasnější slovníkové heslo <img src="https://s.w.org/images/core/emoji/72x72/1f609.png" alt="😉" class="wp-smiley" style="height: 1em; max-height: 1em;" /></li>
<li>retweety nás těší např. <a href="https://twitter.com/OpenAlt/status/584065793035493376">zde</a> či <a href="https://twitter.com/OpenAlt/status/584408726746046464">tento</a></li>
<li>jsme oficiálními vydavateli = máme svou řadu ISBN s identifikátorem 978-80-88097</li>
<li>aprílový brainstorming na téma spolkový webu se na FITu opravdu sešel (Beryšek, Honza P., JoeJoe, Laďa, Šimon). Hlavní výstup – jen co webaři ukecají Drupal, aby nevypadal úplně fuj a zvládal aktuální obsah spolkového, bude spuštěn. Světlé zítřky nastanou iterací. Časosběrné snímky počmárané tabule dolujte z Honzy. Z vygómaného mám velmi dobrý dojem a určitě můžeme slíbit ten nejlepší openaltí web na světě</li>
<li>hraničí to se zázrakem, také na sebe nechal pořádně dlouho čekat, ale profily na web a vize činnosti jednotlivých členů máme sesbírány na 100%. Hlavní mámič &#8211; Laďa</li>
<li>dozvukem semináře pro ANNO JMK byly odpovědi na pár vznesených dotazů (iVir, Laďa) a nabídka vedení krátkého workshopu pro Writer a Calc</li>
<li><a href="https://forum.pirati.cz/brno-f748/programove-prohlaseni-rady-transparentnost-t27968.html#p389480">programové prohlášení</a> vedení Brna, které jsme mohli připomínkovat, stále nebylo odhlasováno (=nelze jej považovat za oficiální), ale známe jeho dohodnutou podobu</li>
<li>čtete-li si někdo <a href="https://files.openalt.org/public.php?service=files&amp;t=165b07fb944a65014d2088593ac0d6dc">zápisy </a><a href="https://files.openalt.org/public.php?service=files&amp;t=165b07fb944a65014d2088593ac0d6dc">z</a><a href="https://files.openalt.org/public.php?service=files&amp;t=165b07fb944a65014d2088593ac0d6dc"> rady</a>, tak by vás mohl zajímat, kdo je autor většiny z nich.. Chvíle napětí.. Ještě chvilku.. Už se to blíží.. Kdo sázel na Vespa vyhrává. Vyhrává dobrý pocit. (A možná příště začneme zapisovatele uvádět)</li>
<li>spřátelený OSMácký týdeník vychází opravdu pravidelně, tudíž zájemci si přidají tuto URL do oblíbených &#8211; http://www.weeklyosm.eu/cz/</li>
<li><a href="https://ukoly.openalt.org/">R</a><a href="https://ukoly.openalt.org/">edmine</a> přešel zcela pod naši režii, čímž děkujeme <a href="http://liberix.cz/">Liberixu</a> i <a href="http://vpsfree.cz/">vpsFREE</a>, kde nám to běží (Laďa, Vlastimil Ott)</li>
<li>neb je nám blízký openCloud i autor <a href="http://www.linuxexpres.cz/software/owncloud-8-rychlejsi-vyhledavani-dat-a-snazsi-sdileni">článku</a>, máme radost z toho Michalova veřejného počinu</li>
<li>oficiálně byla podána žádost o konání OpenAltu v prostorách FITu (Viktor – předseda SU FIT). Nyní je to v rukou právníků.</li>
<li>na konferenci <a href="http://www.security-session.cz/">Security Session</a> jsme se nepodíleli, ale byli jsme tam patrní ve třech exemplářích (Gedík, Laďa, Lukáš K.) a adoptujeme-li občasného návštěvníka srazů Radka D., tak ve čtyřech</li>
<li>distribuované duo Gedík &#8211; iVir využilo čas k rozchození <a href="https://cs.wikipedia.org/wiki/SPF">SFP</a>, <a href="https://en.wikipedia.org/wiki/DomainKeys_Identified_Mail">DKIM</a> a <a href="https://cs.wikipedia.org/wiki/Greylisting">greylistingu</a>. Snad se to projeví na poklesu spamu a naopak e-maily @openalt.org budou spolehlivěji nacházet adresáty. Při té příležitosti vyplulo na povrch zahazování e-mailů odesílaných z konfery na účty u Google (jj, jsou striktnější v dodržování pravidel)</li>
<li>Nejčerstvější novinkou (byť s historickými kořeny = podíleli se Beryšek, Gedík, Honza P., Pitel a snad i Liskin blahé paměti)  je pevné nomadické číslo na spolek a to u Odorik.cz. Chcete-li vytočit vylosovanou oběť (momentálně náčelník), případně skupinu osob (to jsme ještě nezkoušeli), pak si pište <span style="font-size: medium;">910 </span><span style="font-size: medium;">pak </span><span style="font-size: medium;">117 </span><span style="font-size: medium;">a nakonec</span><span style="font-size: medium;"> 377 </span><span style="font-size: medium;">(telemarketing nikdy nespí)</span></li>
</ol>
<p>probíhá:</p>
<ol>
<li>konečné uzavření kapitoly OpenAlt 2014 a rozjetí příprav na 2015</li>
<li>přechod webu na Drupal</li>
<li>jarní úklid v ownCloudu</li>
<li>naši dokumentaristé (Honza P., Martix, ..) by měli co nevidět uvolnit info o proběhlém (např. nanoAlchymisti, sraz, brainstorming k webu, ..)</li>
<li>snad vnitřní kvas, kam dál s těmi opensoursy. Zejména zvažujeme, zda se ujmout organizace <span class="author-g-m6gz122z5qulw6tz122z76a1"><a href="http://conference.libreoffice.org/">LibreOffice Conference</a> 2016</span></li>
</ol>
<p>chystá se:</p>
<ol style="list-style-type: lower-alpha;">
<li>13. 4. kdo si chce zablbnou a poznat Brno trochu jinak, tak <a href="http://trails.cryptomania.cz/">Cryptoania</a> otvírá trasu v Brně</li>
<li>15. 4. je další setkání <a href="https://cs.wikipedia.org/wiki/Wikipedie:Pod_re%C3%A1lnou_l%C3%ADpou/Brno,_15._dubna_2015">Pod reálnou lípou</a> (příští si už ošéfujte sami)</li>
<li>15. 4. to bude právě rok od fúze LvB – Openmobility. Nezapomeňte uctít, nejlépe nějakým open činem</li>
<li>17. 4. těšíme se na 115 sraz. V Brně se organizace ujal Lukáš K.</li>
</ol>
<p align="left">Mějte se otevřeně</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshosumar-007/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Sumář 006</title>
		<link>http://OFFLINEZIP.wpshosumar-006/</link>
		<comments>http://OFFLINEZIP.wpshosumar-006/#comments</comments>
		<pubdate>Mon, 23 Mar 2015 00:33:44 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
				<category><![CDATA[sumář]]></category>

		<guid ispermalink="false">https://openalt.org/?p=388</guid>
		<description><![CDATA[Drahé Alťačky a Alťáci, milí kolemjdoucí. Neb pár hlasů (myslím, že jich opravdu víc nebylo), se dožadovalo zřetelnější strukturu (rozuměj do očí bijící) a dostupnosti na webu, ať mají, čeho se jim žádalo (ostatní si to odskáčou za ty dva). stalo se: pouze ve dvou (Honza P., Laďa) jsme navštívili nano-alchymisty. Rozepisovat se nebudu, před [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Drahé Alťačky a Alťáci, milí kolemjdoucí.<br />
Neb pár hlasů (myslím, že jich opravdu víc nebylo), se dožadovalo zřetelnější strukturu (rozuměj do očí bijící) a dostupnosti na webu, ať mají, čeho se jim žádalo (ostatní si to odskáčou za ty dva).<span id="more-388"></span><br />
stalo se:</p>
<ol>
<li>pouze ve dvou (Honza P., Laďa) jsme navštívili <a href="http://physics.fme.vutbr.cz/ufi.php?Action=0&amp;Id=1455">nano-alchymisty</a>. Rozepisovat se nebudu, před vydáním je článeček</li>
<li>25. členem spolku se stal Lukáš K. Na srazech je už delší čas pravidelným hostem, tak by neměl být až tak neznámý (Praha se zdrží protestů ;-))</li>
<li>SU FI MUNI dle plánu 10.3. promítla Aaron a naši zástupci (Honza P., Laďa, Martix) podebatili s částí diváků a následně lehce U dřeváka popili. Nezáměrným efektem bylo navázání kontaktu s náčelníkem slovenské Wikimedie. Zda i ostatní kontakty budou mít delšího trvání je ve hvězdách</li>
<li>JoeJoe jede aneb <a href="http://planeta.openalt.org/" target="_blank">agregace</a> tématicky spřízněných blogů byla uvolněna, drobná vylepšení a dotvoření jsou v plánu. Obsahově to je na nás/návštěvnících</li>
<li>naplnilo se tušené a jarní pražská konference se ukázala být mimo naše aktuální organizační možnosti. Tak zas za rok, což neznamená, že by to do té doby mělo spát.</li>
<li>konečně máme i na webu nějakou <a href="https://openalt.org/laser-game-interview/">dokumentaci ze srazu</a>. Pokud se nemýlím, a já se nikdy nemýlím, tak se na tom podíleli Bára, Beryšek, Honza P. a Vesp</li>
<li>proběhl seminář pro <a href="http://www.annojmk.cz/">ANNO JMK</a> o FLOSS v neziskovkách. Dorazilo kolem čtyř desítek lidí a prý byli spokojeni. Z naší strany se zapojil též kde kdo (minimálně na návrhu obsahu). Jako obvykle to spolku přineslo vícero nového:</li>
</ol>
<ul>
<ul>
<li>trochu organizačního skřípění, tak dolaďujeme „procesy“ <img src="https://s.w.org/images/core/emoji/72x72/1f600.png" alt="😀" class="wp-smiley" style="height: 1em; max-height: 1em;" /></li>
<li>rozdali jsme „pár“ Live DVD s Fedorou 21 a samolepek (Gedík, Jirka E., Martin K., Řezza)</li>
<li>pocvičili jsme se v prezentování (Laďa, Martix), fotografování (Martix)</li>
<li>do spolkové pokladny přibude 3 000 Kč</li>
<li>máme propagační letáček (Martix). O tisk a dopravu se postaral Beryšek</li>
<li>šablonu pro prezentaci (Honza P.)</li>
<li>pokonzultovali jsme s ANNO JMK pár účetních věcí (iVir)</li>
<li>patrně budeme školit LO Writer a Calc</li>
<li>a necháme se překvapit, kam se to rozvine</li>
<li>až po akci jsme „objevili“ pár let existující webový <a href="http://www.omgubuntu.co.uk/2011/12/how-to-browse-the-ubuntu-software-centre-online">přehled SW</a> (dotaz sice padl včas, ale buď nebyl pochopen nebo si prostě někdo nevzpomněl). JoeJoe zvažuje, zda v rámci Red Hat Week zaměřit své úsilí právě na vznik obdoby pro Fedoru</li>
</ul>
</ul>
<ol start="8">
<li>navštívili jsme (Laďa, Martix) <a href="https://lists.openstreetmap.org/pipermail/talk-cz/2015-March/011531.html" target="_blank">sraz OSMáků</a> a narazili tam na některé známé tváře (Martin K.). Krom toho, že jsme se trochu uvedli do obrazu a navázali kontakt, se debatilo o prezentování brněnských dat na mapovém podkladu</li>
</ol>
<ul>
<ul>
<li>stav mírného pošťuchování v mezích zákona je shrnut <a href="https://lists.openstreetmap.org/pipermail/talk-cz/2015-March/011598.html">zde</a></li>
<li>mělo to odezvu a pronikli jsme do nadnárodního médiu <a href="http://www.weeklyosm.eu/cz/archives/2919">WeeklyOSM 242 CZ</a>, čímž vítáme Miroslava Suchého jako prvního kandidáta na přednášejícího pro OA 2015</li>
</ul>
</ul>
<ol start="9">
<li>náš wordpressí web doznává kosmetických úprav a vylepšení (JoeJoe, ?), ale cíl je určitě Drupal. Koho to zajímá, může se přidat do sledování <a href="https://ukoly.openalt.org/issues/2882" target="_blank">zde</a>.</li>
<li>máme za sebou <a href="https://openalt.org/pozvanka-na-114-sraz-priznivcu-spolku-openalt/" target="_blank">114. sraz</a>. Prahu „překvapivě“ páchali iVir a Vesp, Brno Beryšek (+vytuněnější cedulky OA – stojí samy!), na místě pak Martix a spousta jeho obětí ;-D</li>
</ol>
<ul>
<ul>
<li>z Prahy vznikla <a href="http://www.abclinuxu.cz/blog/xkucf03/2015/3/openalt-fotky-z-breznoveho-srazu" target="_blank">fotoreportáž</a> (Franta K.)</li>
<li>Brno se možná též s něčím vytasí. Rozhodně jsem dokázali nacpat cca 30 lidí do prostoru pro 20. Ať žije komprimace. Méně zábavné už byly neuhrazené položky na účtu za cca 120,- Kč (donoři Beryšek, Laďa) a omáčkou politá záda.</li>
</ul>
</ul>
<ol start="11">
<li>na úrovni děkana jsme zkoumali možnosti zrcadlení Wikipedie včetně Commons a úvah o převzetí jejího evropského hostingu na FITu. (Marek Blahuš &#8211; Wikimedia, Laďa). Aktuálně není problém technický, ale schází lidé na pokrytí. Sama fakulta to vnímá jako záležitost, ke které je možné se vrátit.</li>
<li>pěkně zafungovalo duo Gedík – iVir a z odhalené zranitelnosti serverů na POODLE jsme se v hodnocení na <a href="https://www.ssllabs.com/">https://www.ssllabs.com</a> vyšplhali k „A“ (pro A+ nám chybí lépe podepsaný &#8222;prostřední&#8220; klíč od StarComu)</li>
</ol>
<p>probíhá</p>
<ol start="1">
<li>stále nemáme oficiálně podánu žádost o prostory pro OA 2015 na FITu. Za nás je papír už dva týdny předán, ale SU FIT má problémy sehnat podpis garanta z řad zaměstnanců fakulty (příslib ale mají). Předjednáno to je však natolik, že nemusíme mít obavy o termín a prostory.</li>
<li>o prostorách, které má v držení Ústřední správa kolejí a menz, se jednalo ve čtvrtek 19.3., výsledek zatím nevíme</li>
<li>ISBN. Je to tak, stále nemáme, ale podmínky jsme splnili, teď už to je jen o České poště a formálním potvrzení</li>
<li>Fí hledala nějakou pomocnou ruku pro zpracování anket z OA 2014. Obávám se, že to je stále aktuální.. <img src="http://OFFLINEZIP.wpshowp-includes/images/smilies/frownie.png" alt=":-(" class="wp-smiley" style="height: 1em; max-height: 1em;" /></li>
<li>laškujeme se CRM značky <a href="https://en.wikipedia.org/wiki/Odoo">Odoo</a></li>
<li>pár staromilců se dožaduje vizitek, což nás donutilo řešit telefon na spolek a volba padla na VoIP a přesměrování na mobil demokraticky vybrané oběti</li>
<li>nikdo natolik tance a propagace chtivý, aby se chopil organizování OpenPlesu 2016, se nenašel, tak to na 98% pouštíme z hlavy</li>
<li>Pitel zkouší, jak moc by bylo snadné/obtížné vytvořit 3-5 min vzdělávací videa v Blenderu. Držme palce první možnosti</li>
</ol>
<p>chystá se:</p>
<ol start="1">
<li><a href="http://www.cityhack.cz/" target="_blank">Cityhack Brno 2015</a> je blíž a blíž – 27.3. Dle zákulisní informace se chystá tiskovka v Industře a měl by to být první konkrétní výkop otevřených dat Krna</li>
<li><a href="http://fedora.cz/udalosti/red-hat-cz-open-house-2015/" target="_blank">Red Hat OpenHouse 2015</a> přesně na apríla chystá chlebíčky (zaznělo i na srazu, tak že to je tutovka)</li>
<li>v dubnu to vypadá na uvolnění ownCloudu</li>
</ol>
<p>Za otevřenost otevřenější</p>
<p>Laďa</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshosumar-006/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
