<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>OpenAlt z.s. &#187; Setkání</title>
	<atom:link href="http://OFFLINEZIP.wpshocategory/setkani/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description></description>
	<lastbuilddate>Fri, 12 Jun 2020 19:26:35 +0000</lastbuilddate>
	<language>cs-CZ</language>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=4.2.28</generator>
	<item>
		<title>Pozvánka na 116. sraz příznivců open source</title>
		<link>http://OFFLINEZIP.wpshosraz_2015_05/</link>
		<comments>http://OFFLINEZIP.wpshosraz_2015_05/#comments</comments>
		<pubdate>Mon, 11 May 2015 10:39:42 +0000</pubdate>
		<dc:creator><![CDATA[Jiří Beránek]]></dc:creator>
				<category><![CDATA[Setkání]]></category>

		<guid ispermalink="false">https://openalt.org/?p=474</guid>
		<description><![CDATA[Zveme vás na květnový sraz příznivců open source a otevřeného myšlení, který se tentokrát bude konat v Praze a Brně ve dva různé dny. V Brně v pátek 15. května v hostinci U Dřeváka na ulici Bayerova 806/40 V Praze ve čtvrtek 14. května v pivním baru U Tučňáků na ulici náměstí 14. října 1278/1 Budeme se na [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Zveme vás na květnový sraz příznivců open source a otevřeného myšlení, který se tentokrát bude konat v Praze a Brně ve <strong>dva různé dny</strong>.<br />
V Brně <strong>v pátek 15. května</strong> v hostinci <a href="http://www.udrevaka.cz/" target="_blank">U Dřeváka</a> na ulici <a href="http://www.openstreetmap.org/node/452326805" target="_blank">Bayerova 806/40</a><br />
V Praze <strong>ve čtvrtek 14. května</strong> v pivním baru <a href="http://www.utucnaku.cz/" target="_blank">U Tučňáků</a> na ulici <a href="http://www.openstreetmap.org/node/71663473#map=19/50.07307/14.40785" target="_blank">náměstí 14. října 1278/1</a><br />
Budeme se na vás těšit.</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshosraz_2015_05/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pozvánka na 115. sraz příznivců open source</title>
		<link>http://OFFLINEZIP.wpshosraz_2015_04/</link>
		<comments>http://OFFLINEZIP.wpshosraz_2015_04/#comments</comments>
		<pubdate>Mon, 13 Apr 2015 19:50:56 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
				<category><![CDATA[Setkání]]></category>

		<guid ispermalink="false">https://openalt.org/?p=435</guid>
		<description><![CDATA[Srdečne vás pozývame, ako každý tretí piatok v mesiaci, dňa 17.04 na stretnutie  115. zrazu priaznivcov open source a otvoreného myslenia v tradičnej brnenskej reštaurácií Laguna a pražskej športovo ladenej reštaurácií Lokal Blok. Začiatok v 18h! Brno: reštaurácia Laguna na ulici Smetanova 2 Praha: reštaurácia Lokal Blok na ulici Náměstí 14. října]]></description>
				<content:encoded><![CDATA[<p><strong>Srdečne vás pozývame, ako každý tretí piatok v mesiaci, dňa 17.04</strong> na stretnutie  115. zrazu priaznivcov open source a otvoreného myslenia v tradičnej brnenskej reštaurácií Laguna a pražskej športovo ladenej reštaurácií Lokal Blok.<span id="more-435"></span><span id="more-435"></span><span id="more-435"></span></p>
<p><strong>Začiatok v 18h!</strong></p>
<p>Brno: reštaurácia <a href="http://restaurace-laguna.cz/restaurace-laguna/" target="_blank">Laguna</a> na ulici <a href="http://www.openstreetmap.org/node/476315630" target="_blank">Smetanova 2</a><br />
Praha: reštaurácia <a href="http://lokalblok.cz/restaurace/" target="_blank">Lokal Blok</a> na ulici <a href="http://www.openstreetmap.org/node/2309326372#map=19/50.07300/14.40502" target="_blank">Náměstí 14. října</a></p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshosraz_2015_04/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pozvánka na 114. sraz příznivců open source</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-114-sraz-priznivcu-spolku-openalt/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-114-sraz-priznivcu-spolku-openalt/#comments</comments>
		<pubdate>Mon, 16 Mar 2015 16:47:05 +0000</pubdate>
		<dc:creator><![CDATA[Jiří Beránek]]></dc:creator>
				<category><![CDATA[Setkání]]></category>

		<guid ispermalink="false">https://openalt.org/?p=341</guid>
		<description><![CDATA[Měsíc opět utekl jako voda a kvapem se nám blíží třetí pátek v měsíci březnu. Pro tentokrát si odpustíme týrání našich těl pohybem, neboť máme důležitější věci na práci. Každopádně se už na vás všechny 20. března od 18 hodin těšíme. Sraz se koná v pátek 20. března 2015 od 18 hodin Brněnská buňka zapluje [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Měsíc opět utekl jako voda a kvapem se nám blíží třetí pátek v měsíci březnu. Pro tentokrát si odpustíme týrání našich těl pohybem, neboť máme důležitější věci na práci. Každopádně se už na vás všechny 20. března od 18 hodin těšíme.<span id="more-341"></span></p>
<p>Sraz se koná v pátek 20. března 2015 od 18 hodin</p>
<p>Brněnská buňka zapluje do <a href="http://www.ukormidla.cz" target="_blank">restaurace U Kormidla</a> na ulici <a href="http://www.openstreetmap.org/node/3137268053" target="_blank">Kounicova 286/43</a>. Je zamluven malý salónek (20 míst), tak snad se vejdem <img src="http://OFFLINEZIP.wpshowp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>
<p>Pražská buňka obsadí lokál jménem <a title="Vinohradský parlament" href="http://www.vinohradskyparlament.cz" target="_blank">Vinohradský parlament</a> na ulici <a title="Korunní 1" href="http://www.openstreetmap.org/node/2393773882" target="_blank">Korunní 1, Praha 2 – Vinohrady</a>. Je to v podstatě na Náměstí Míru, tak to máme všichni blízko!</p>
<hr />
<p>&nbsp;</p>
<p>Abyste se náhodou při čekání na pátek nenudili, připravili jsme si pro vás něco málo čtení k číslu 114  <img src="http://OFFLINEZIP.wpshowp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>
<p>V automobilu <a title="ZIL" href="http://cs.wikipedia.org/wiki/ZIL" target="_blank">ZIL 114</a> jezdil komunistický prezident Gustav Husák.</p>
<p>Článek o tomto automobilu vyšel v <a title="ZIL 114 po Gustávu Husákovi" href="http://autotip.auto.cz/clanek/auto-tip-klassik/4220/zil-114-po-gustavu-husakovi.html" target="_blank">Auto TIPu 03/14</a>, bohužel článek není k dispozici zdarma.</p>
<p>Pořadové číslo našeho srazu nese také letoun <a title="Tupolev 114" href="http://cs.wikipedia.org/wiki/Tupolev_Tu-114" target="_blank">Tupolev 114</a> nebo také <a title="Lokomotiva řady 114" href="http://cs.wikipedia.org/wiki/Lokomotiva_114" target="_blank">Lokomotiva řady 114</a>.</p>
<p>Z novějších informací je tu supertěžký prvek s protonovým číslem 114 nazvaný <a title="Flerovium" href="http://cs.wikipedia.org/wiki/Flerovium" target="_blank">Flerovium</a> původně nazvaný jako <a title="Ununquadium" href="http://fyzmatik.pise.cz/1102-prvky-se-114-a-116-protony-v-jadre.html" target="_blank">Ununquadium</a>.</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-114-sraz-priznivcu-spolku-openalt/feed/</wfw:commentrss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Pozvánka na Laser Game a 113. sraz příznivců spolku OpenAlt</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-laser-game-a-na-113-sraz-priznivcu-spolku-openalt-brno/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-laser-game-a-na-113-sraz-priznivcu-spolku-openalt-brno/#comments</comments>
		<pubdate>Tue, 03 Feb 2015 15:26:25 +0000</pubdate>
		<dc:creator><![CDATA[Martix]]></dc:creator>
				<category><![CDATA[Setkání]]></category>
		<category><![CDATA[lasergame]]></category>
		<category><![CDATA[Pivovarský klub]]></category>
		<category><![CDATA[Sharingham]]></category>
		<category><![CDATA[sraz]]></category>

		<guid ispermalink="false">https://openalt.org/?p=302</guid>
		<description><![CDATA[Tentokrát jsme pro vás naplánovali dvě akce (2v1): pravidelný pražský i brněnský sraz příznivců open source, v Brně navíc dlouho slibovanou Laser Game. Přijďte se před večeří bezbolestně rozstřílet! Rezervovali jsme taktickou arénu v Laser Game v Brně na Hybešově: http://lasergamebrno.cz/cs/takticka-arena/ Akce je vhodná i pro ty, kteří Laser Game nikdy nehráli. Obsluha všem hráčům [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Tentokrát jsme pro vás naplánovali dvě akce (2v1): pravidelný pražský i brněnský sraz příznivců open source, v Brně navíc dlouho slibovanou Laser Game. <span class="fsl">Přijďte se před večeří bezbolestně rozstřílet!</span><br />
<span id="more-302"></span></p>
<p><span class="fsl">Rezervovali jsme taktickou arénu v Laser Game v Brně na Hybešově: <a href="http://lasergamebrno.cz/cs/takticka-arena/" target="_blank" rel="nofollow nofollow">http://lasergamebrno.cz/<wbr />cs/takticka-arena/</a></span></p>
<p>Akce je vhodná i pro ty, kteří Laser Game nikdy nehráli. Obsluha všem hráčům vysvětlí pravidla hry.</p>
<p>Datum: pátek 20. února<br />
Časy rezervace: 17:00, 17:20, 17:40, 18:00<br />
Cena: 95 Kč/hra (s ISIC 80 Kč)<br />
Vybavení: Doporučuje se pohodlné tmavé oblečení na převlečení, ve kterém vydžíte běhat po aréně. <img src="http://OFFLINEZIP.wpshowp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;" /> Nápoje jsou k dispozici na baru.</p>
<p><strong>Prosíme všechny zájemce, aby si podle svého uvážení vybrali časy rezervace.</strong> Každý si může libovolně vybrat 1-4 hry: <a href="http://doodle.com/qb62ghytgh6unb8k">http://doodle.com/<wbr />qb62ghytgh6unb8k</a></p>
<p><em> Je to důležité kvůli přehledu naplnění kapacity arén (minimalní i maximální). Platí se na konci, podle skutečného počtu odehraných her.</em></p>
<p>Mapa: <a href="https://www.openstreetmap.org/node/3328518284#map=19/49.18965/16.59926">https://www.openstreetmap.org/node/3328518284#map=19/49.18965/16.59926</a></p>
<p><span class="fsl">Facebook událost: <a href="https://www.facebook.com/events/1029895503703949/" rel="nofollow">https://www.facebook.com/<wbr />events/1029895503703949/</a></span></p>
<p>&nbsp;</p>
<p><span class="fsl">Po Laser Game se společně sejdeme v <strong>Restauraci Sharingham</strong>, která je zařízena ve středověkém rytířském stylu. Nabízí mezinárodní kuchyni, steaky a mnoho dalších specialit.</span><br />
<span class="fsl">A ti, co stihnou po Laser Game dojet do Prahy, budou vítání v útulném <strong>Pivovarském klubu</strong> v Pražském Karlíně. V nabídce bude nejen hojnost těžkých jídel, ale také množství vybraných druhů piv.</span></p>
<p><em>Rezervace je na pátek 20. února od 18:00.</em></p>
<p>Pokud bude někdo chtít přijít s přednáškou, ozvěte se na mail srazy at <a href="http://openalt.org/" target="_blank" rel="nofollow nofollow">openalt.org</a></p>
<p>&nbsp;</p>
<p>V Brně <a href="http://www.sharingham.cz/cs/2063-restaurace-brno-centrum" target="_blank" rel="nofollow nofollow">Restaurace Sharingham</a> | <a href="http://www.openstreetmap.org/node/2087582638#map=19/49.18613/16.59560" target="_blank" rel="nofollow nofollow">Vídeňská 1, Brno</a></p>
<p>V Praze <a href="http://www.pivovarskyklub.com/" target="_blank" rel="nofollow nofollow">Pivovarský klub</a> | <a href="http://www.openstreetmap.org/node/585219608#map=19/50.09050/14.44145" target="_blank" rel="nofollow nofollow">Křižíkova 17, Praha 8 &#8211; Karlín</a></p>
<p>&nbsp;</p>
<p><span class="fsl">Facebook událost</span>: <a href="https://www.facebook.com/events/1535689023378321">https://www.facebook.com/events/1535689023378321</a></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-laser-game-a-na-113-sraz-priznivcu-spolku-openalt-brno/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pozvánka na 111. sraz příznivců open source</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-111-sraz-priznivcu-open-source/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-111-sraz-priznivcu-open-source/#comments</comments>
		<pubdate>Mon, 08 Dec 2014 21:35:49 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
				<category><![CDATA[Setkání]]></category>

		<guid ispermalink="false">https://openalt.org/?p=176</guid>
		<description><![CDATA[Milí fandové open-source, zveme vás na vánoční sraz s magickým číslem 111, který se bude konat v pátek 19.12. v již několikráte prověřeném brněnském whiskey baru Valevil a pražské, povědomě znějící &#8222;PUTICE&#8220;. Máte-li chuť ještě před Vánoci pojíst, popít a otevřeně popovídat, je kde a s kým. Začátek jako obvykle v 18:00. v Brně &#124; [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Milí fandové open-source,<br />
<a href="https://openalt.org/wp-content/uploads/2014/12/tucnak_v_kiltu_big.jpg"><img class="alignright wp-image-418 size-thumbnail" style="float: right" src="https://openalt.org/wp-content/uploads/2014/12/tucnak_v_kiltu_big-150x150.jpg" alt="tucnak_v_kiltu_big" width="150" height="150" /></a><br />
zveme vás na vánoční sraz s magickým číslem 111, který se bude konat v pátek 19.12. v již několikráte prověřeném brněnském whiskey baru Valevil a pražské, povědomě znějící &#8222;PUTICE&#8220;. Máte-li chuť ještě před Vánoci pojíst, popít a otevřeně popovídat, je kde a s kým. Začátek jako obvykle v 18:00.</p>
<p>v Brně | <a title="Whisky Bar Valevil" href="http://www.whiskybarvalevil.cz/" target="_blank">Whiskey Bar Valevil</a> | <a title="Kopečná 14" href="http://www.openstreetmap.org/?mlat=49.19013&amp;mlon=16.60600#map=17/49.19013/16.60600" target="_blank">Kopečná 14</a><br />
v Praze | <a title="PUTICA" href="http://www.putica.cz/" target="_blank">PUTICA</a> | <a title="Anglická 81/24" href="http://www.openstreetmap.org/?mlat=50.07607&amp;mlon=14.43416#map=17/50.07607/14.43416" target="_blank">Anglická 81/24, Praha 2</a></p>
<p>Těšíme se na viděnou!</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-111-sraz-priznivcu-open-source/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pozvánka na 110. sraz příznivců open source</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-110-sraz-priznivcu-open-source/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-110-sraz-priznivcu-open-source/#comments</comments>
		<pubdate>Tue, 18 Nov 2014 07:19:34 +0000</pubdate>
		<dc:creator><![CDATA[Ladislav Nešněra]]></dc:creator>
				<category><![CDATA[Setkání]]></category>

		<guid ispermalink="false">https://openalt.org/?p=159</guid>
		<description><![CDATA[Milí Alťáci 😉 a duše nakloněné open source Zveme vás na listopadový sraz příznivců otevřeného přístupu nejen k technologiím. Trousit se můžete začít jako obvykle, zhruba od 18 hodin (21. listopadu), neb laserová decimace se odkládá. Snad se zdaří alespoň videomost Brno-Praha. Sejdeme se tedy: v Brně &#124; U Bílého beránka &#124; Štefánikova 85/16 v Praze [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Milí Alťáci <img src="https://s.w.org/images/core/emoji/72x72/1f609.png" alt="😉" class="wp-smiley" style="height: 1em; max-height: 1em;" /> a duše nakloněné open source</p>
<p>Zveme vás na listopadový sraz příznivců otevřeného přístupu nejen k technologiím.<br />
Trousit se můžete začít jako obvykle, zhruba od <strong>18 hodin </strong>(<strong><strong>21. listopadu</strong></strong>), neb laserová decimace se odkládá. Snad se zdaří alespoň videomost Brno-Praha. Sejdeme se tedy:</p>
<p>v Brně | <a title="U Bílého beránka" href="http://www.ubilehoberanka.cz/" target="_blank">U Bílého beránka</a> | <a title="Štefánikova 85/16" href="http://www.openstreetmap.org/?mlat=49.20918&amp;mlon=16.60376#map=17/49.20918/16.60376" target="_blank">Štefánikova 85/16</a><br />
v Praze | <a title="Lokalblok" href="http://lokalblok.cz/restaurace/?page_id=5" target="_blank">Lokalblok</a> | <a title="Náměstí 14. října 10" href="http://www.openstreetmap.org/node/296766835#map=19/50.07305/14.40501" target="_blank">Náměstí 14. října 10, Praha 5</a></p>
<p>Těšíme se na viděnou!</p>
<p>&nbsp;</p>
<hr />
<p>Doplněno:</p>
<ul>
<li>Jirka F. &#8211; <a href="http://i-pholta.rhcloud.com/?p=168">ownCloud na OpenShift</a></li>
</ul>
<hr />
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-110-sraz-priznivcu-open-source/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pozvánka na 109. sraz příznivců otevřených technologií</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-109-sraz-priznivcu-otevrenych-technologii/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-109-sraz-priznivcu-otevrenych-technologii/#comments</comments>
		<pubdate>Mon, 13 Oct 2014 10:21:11 +0000</pubdate>
		<dc:creator><![CDATA[Fí]]></dc:creator>
				<category><![CDATA[Setkání]]></category>

		<guid ispermalink="false">https://openalt.org/?p=140</guid>
		<description><![CDATA[Milí příznivci otevřených technologií je nám ctí vás pozvat na 109. sraz, tentokráte u zvířátek, ba co dím, u ptáků! 17. 10.od 18:00 se tedy sejdeme: &#160; Praha: v Potrefené huse &#160; Dukelských hrdinů 43 / 170 00 Praha 7 &#160; Brno: v Pivnici U Čápa &#160; Obilní trh 10 / 602 00 Brno Rezervace [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Milí příznivci otevřených technologií<br />
je nám ctí vás pozvat na <strong>109. sraz</strong>, tentokráte u zvířátek, ba co dím, u ptáků!</p>
<p><strong>17. 10.</strong>od <strong>18:00</strong> se tedy sejdeme:<br />
&nbsp; Praha: v <a href="http://www.potrefenahusa7.cz/" target="_blank"><strong>Potrefené huse</strong></a><br />
&nbsp; <a href="http://www.openstreetmap.org/?mlat=50.10040&amp;mlon=14.43299#map=17/50.10040/14.43299" target="_blank">Dukelských hrdinů 43</a> / 170 00 Praha 7</p>
<p>&nbsp; Brno: v <a href="http://www.pivnice-ucapa.cz/" target="_blank"><strong>Pivnici U Čápa</strong></a><br />
&nbsp; <a href="http://www.openstreetmap.org/?mlat=49.19965&amp;mlon=16.59814#map=17/49.19965/16.59814" target="_blank">Obilní trh 10</a> / 602 00 Brno</p>
<p>Rezervace na jméno <strong>OpenAlt</strong>.</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-109-sraz-priznivcu-otevrenych-technologii/feed/</wfw:commentrss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pozvánka na 108. sraz příznivců otevřených technologií</title>
		<link>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/</link>
		<comments>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/#comments</comments>
		<pubdate>Sun, 14 Sep 2014 19:33:34 +0000</pubdate>
		<dc:creator><![CDATA[Fí]]></dc:creator>
				<category><![CDATA[Setkání]]></category>
		<category><![CDATA[geek]]></category>
		<category><![CDATA[linux]]></category>
		<category><![CDATA[openalt]]></category>
		<category><![CDATA[restaurace]]></category>
		<category><![CDATA[rozhovor]]></category>
		<category><![CDATA[sraz]]></category>
		<category><![CDATA[vláčky]]></category>

		<guid ispermalink="false">https://openalt.org/?p=82</guid>
		<description><![CDATA[Všem nadšencům a milovníkům otevřených technologií se na vědomost dává, že po 108. sejdeme se zase! Tentokrát 19. 9., jako obvykle po šesté. V Brně si můžete nechat pití přivézt vláčkem: Na jméno &#8222;OpenAlt&#8220; je rezervována Výtopna (Hlinky 972/34). Dejte vědět, kdo přijdete, ať kdyžtak můžeme obsluze avizovat či přidomlouvat další místa. V Praze zavítáme [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Všem nadšencům a milovníkům otevřených technologií se na vědomost dává, že po <strong>108.</strong> sejdeme se zase!<br />
Tentokrát <strong>19. 9.</strong>, jako obvykle <strong>po šesté</strong>.</p>
<p>V Brně si můžete nechat pití přivézt vláčkem:<br />
Na jméno &#8222;<strong>OpenAlt</strong>&#8220; je rezervována <a href="http://www.vytopna.cz/brno-hlinky/" target="_blank"><strong>Výtopna</strong></a> (<a href="http://www.openstreetmap.org/?mlat=49.19026&amp;mlon=16.58971#map=17/49.19026/16.58971" target="_blank">Hlinky 972/34</a>).<br />
Dejte vědět, kdo přijdete, ať kdyžtak můžeme obsluze avizovat či přidomlouvat další místa.</p>
<p>V Praze zavítáme do <strong>Lokalbloku</strong>.<br />
Nám. 14. října 10,<br />
Praha 5, 150 00<br />
<a href="http://lokalblok.cz/restaurace/?page_id=5">Lokalblok</a> (<a href="http://www.openstreetmap.org/node/296766835#map=19/50.07305/14.40501">Náměstí 14. října 10, Praha 5</a>)</p>
<div>Těšíme se na viděnou!<br />
OpenAlt</div>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshopozvanka-na-108-sraz-priznivcu-otevrenych-technologii/feed/</wfw:commentrss>
		<slash:comments>4</slash:comments>
		</item>
	</channel>
</rss>
