/* Define font */

@font-face {
	font-family: FontAkkoPro;
	src: url(AkkoPro-Light.html);
}

/* begin Page */


#art-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    line-height:1.5;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #0F1419;
  background-color: #FFFFFF;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13;

}

.art-postcontent p
{
    margin: 12px 0 12px 0;

}

h1, h1 a, h1 a:link, h1 a:visited, h1:hover     /** Hlavny nadpis **/
{
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
  font-size: 24px;
}

h2, h2 a, h2 a:link, h2 a:visited, h2:hover
{
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
  font-size: 20px;
}

h3, h4, h5, h6,
h3 a, h4 a, h5 a, h6 a,
h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
  font-size: 18px;
}

.art-postcontent a
{
  margin:5px;
  text-decoration: none;
  color: #A30A0F;
}

.art-postcontent a:link
{
  text-decoration: none;
  color: #A30A0F;
}

.art-postcontent a:visited, .art-postcontent a.visited
{

  color: #A30A0F;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{

  text-decoration: underline;
  color: #D80E15;
}


.art-postcontent h1
{
   margin: 21px 0 21px 0;
   color: #A30A0F;

}

/*podnadpis v clanku*/
.art-postcontent h2
{
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
   color: #000;
   margin: 19px 0 19px 0;
   font-size: 18px;
}

.art-postcontent h3
{
   margin: 19px 0 19px 0;
  color: #41576C;
  font-size: 23px;
}

.art-postcontent h4
{
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
   color: #000;
   /* margin: 20px 0 20px 0; */
   font-size: 15px;
}

.art-postcontent h5
{
   margin: 26px 0 26px 0;
   color: #3D5266;
   font-size: 16px;
}

.art-postcontent h6
{
   margin: 35px 0 35px 0;
   color: #3D5266;
   font-size: 13px;
}

ul
{

  list-style-type: none;
}

ol
{

  list-style-position: inside;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}

#art-page-background-glare
{
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
}

#art-page-background-glare-image
{
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  background-image: url('images/page_gl.png');
  background-repeat: no-repeat;
  background-position: top center;
}

html:first-child #art-page-background-glare
{
  border: 1px solid transparent;/* Opera fix */
}



.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}


/* Image Assist module support */
body.img_assist
{
	background-color: #FFFFFF !important;
	color: #0F1419;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 25px;
  min-height: 25px;
}

.art-sheet-body
{
  position: relative;
  padding: 4px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}





.art-sheet-cc /* pozadie */
{
  position: absolute;
  top: 0px;
  left: 5px;
  right: 5px;
  bottom: 0px;
  background-color: #FFFFFF;
}

.art-sheet
{
  top: -4px !important;
  margin-bottom: -4px !important;
  cursor:auto;
  width: 1152px;
}


/* end Box, Sheet */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 141px;
  overflow: hidden;
}


div.art-header-center
{
	position: relative;
	width: 1144px;
	left:50%;
}



div.art-header-jpeg
{
  position: absolute;
  top: 0;
  left:-50%;
  width: 1144px;
  height: 141px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* end Header */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  left: 343px;
  top: 37px;
  width: 801px;
}

h1.art-logo-name
{
  display: block;
  text-align: left;
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
  font-size: 25px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
}


h2.art-logo-text,
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
}

h2.art-logo-text
{
  display: block;
  text-align: left;
}
/* end Logo */

/* begin Layout */
.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
.art-content-layout .art-content-layout{width: auto;margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublock-body
{                     /*poloha a pozadie menu*/
  position: relative;
  /* top: -25px;*/ 
  padding-left: 16px;
  padding-top: 10px;
  /*background-color: rgb(255,255,255);*/
  /* border: 1px dashed rgb(0,0,0); */
/* -webkit-box-shadow: 0px -2px 10px 0px ;
-moz-box-shadow: 0px -2px 10px 0px ;
box-shadow: 0px -2px 10px 0px 

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; */ 



}


.art-vmenublock
{
 /* margin: 8px; */ 
}



#search, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 4px;
}

/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px; 
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 36px;
  cursor: pointer;
  text-decoration: none; 
}

ul.art-vmenu li.art-vmenu-separator
{
  /* display: block;
  padding: 3px 0 3px 0;
  margin: 0;
  font-size: 1px; */
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 0px;
  height: 0;
  line-height: 0;
  border: none; 
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  height: 118px;
  font-weight: bold;
  background-image: url('images/vmenu_TL.png');
  background-repeat: no-repeat;
}

ul.art-vmenu a .l
{
  left: 0;         /*sirka tlacidla*/
  right: 19px;
}

ul.art-vmenu a .r
{
 width: 1164px;
  right: 0;
  clip: rect(auto, auto, auto, 1145px);
}

ul.art-vmenu a .t, ul.art-vmenu ul a
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
}

ul.art-vmenu a .t
{
  display: block;
  position:relative;
  top:0;
  line-height: 36px;
  color: #000000;
  padding: 0 12px 0 24px;
  margin-left:0;
  margin-right:0; 
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -82px;
}

ul.art-vmenu a.active .t        /*rozkliknute menu menu*/
{
  
  font-weight: bold;
  background-image: url('images/vmenu_TL.png');
  background-repeat: no-repeat;
  color: #99090e;
}

ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -41px;
}

ul.art-vmenu a:hover .t  /*ukazanie na menu*/
{
  /* text-shadow:5px 0px 12px #c10c12; */
  font-weight: bold;

  background-image: url('images/vmenu_TL.png'); 
  background-repeat: no-repeat;
  /* color: #c10c11; */
  color: #000000;
}


/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  /* font-weight: bold; */

  background-image: url('images/vmenu_TL.png');
  background-repeat: no-repeat;
  color: #99090e;
  
}

ul.art-vmenu ul a
{
  color: #000000;
}


ul.art-vmenu ul span, ul.art-vmenu ul span span
{

color: #000000;
   /* display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;*/
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 32px;
  /* color: #FCCACC; */
  color: #000000;
  font-size: 13px;
  margin-left: 28pt;
  

}

ul.art-vmenu ul
{
    margin:0 2px 0 2px;
    color: #000000;
}

ul.art-vmenu ul ul
{
  margin:0 0 0 0;
  color: #000000;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
  color: #000000; 
 }

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.art-vmenu ul li.art-vmenu-separator-first
{
  /*  padding-bottom:3px; */
}

ul.art-vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 50px;
}

ul.art-vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 75px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 100px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 125px;
}


ul.art-vmenu ul li a.active
{
  /* color: #DCE3EA; */
    color: #000000;
    font-weight: bold;
  background-position: 25px -50px;
}

ul.art-vmenu ul li li a.active
{
  background-position: 50px -50px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 75px -50px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 100px -50px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 125px -50px;
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  /* color: #DCE3EA; */
  color: #000000;
  font-weight: bold;
  background-position: 25px -25px;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  color: #000000;
  background-position: 50px -25px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 75px -25px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 100px -25px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -25px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-block-body
{
  position: relative;
  padding: 0;
}


.art-block
{
  margin: 10px;
}



#banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 10px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 0;
}

.art-blockheader, .art-blockheader h3.t
{
  position: relative;
  height: 34px;
}

.art-blockheader h3.t,
.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited,
.art-blockheader h3.t a:hover
{
  color: #000000;
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
  font-size: 16px;
}

.art-blockheader h3.t
{
  margin:0;
  padding: 0 62px 0 5px;
  white-space: nowrap;
  line-height: 24px;
}

.art-blockheader .l, .art-blockheader .r
{
  position: absolute;
  height: 31px;
  width: 156px;

   background-image: url('images/Line.png');

  background-repeat: no-repeat;
  background-position: center center;

}

.art-blockheader .l
{
  left: 58px;
  right: 10px;

}

.art-blockheader .r
{
  width: 1144px;
  right: 0;
  clip: rect(auto, auto, auto, 1102px);
}



.art-blockheader .t h2.subject
{
  height: 34px;
  color: #000000;
  font-size: 22px;
  margin:0;
  white-space: nowrap;
  line-height: 24px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 5px;
}


.art-blockcontent-body,
.art-blockcontent-body li,
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #2E3D4C;
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
  font-size: 16px;
}

.art-blockcontent-body p
{
  margin: 6px 0 6px 0;
}

.art-blockcontent-body a
{
  color: #A30A0F;

}

.art-blockcontent-body a:link
{
  color: #A30A0F;

}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #7691AD;
  text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #D80E15;
  text-decoration: none;

}

.art-blockcontent-body ul li
{
  line-height: 125%;
  color: #3D5266;

  padding: 0 0 0 10px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;

}

.art-blockcontent-body .calendar-calendar td a:visited, .art-blockcontent-body .calendar-calendar td a.visited
{
  color: #A30A0F;
}

.art-blockcontent-body  ul li
{
	margin: 0.2em 0;
}

.art-blockcontent-body .links li
{
  padding: 0 0 0 1em;
  background-image: none;
}

.art-blockcontent-body .calendar-calendar td a:hover
{
  text-decoration: underline;
}

.art-blockcontent-body table td.mini a
{
  font-weight: normal;
}

.art-blockcontent-body table td div.mini-day-on a
{
  text-decoration: underline;
}

.art-blockcontent-body .calendar-calendar td a
{
  text-decoration: none;
}
/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 34px;
  height: 34px;
  margin: 0 !important;
  padding: 0 16px !important;
  overflow: visible;
  cursor: default;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 34px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
}

.art-block select
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #7F5305 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #FFFFFF !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 112px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 11px;
}

.art-button-wrapper .art-button-r
{
  width: 411px;
  right: 0;
  clip: rect(auto, auto, auto, 400px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -39px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -78px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  padding: 10px;
}


.art-post
{
  margin: 5px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 0 #B2C2D1;
  margin: 2px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 0px #8099B3;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
  float:left;
}



fieldset
{
  margin: 1em 0;
  padding: 1em;
  border: solid 1px #8099B3;
  width: 95%;
}

/* BEGIN Flatcomments module support */

.comment-folded
{
	margin: 5px;
}

#comments .box span.art-button-wrapper
{
	margin: 0;
}

#comments .art-postcontent, #comments .art-postcontent p
{
	text-align: left;
}

/* END Flatcomments module support */
/* end Box, Post */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #73070B;
  margin: 0px 0 5px 0;
}

h2.art-postheader,
h2.art-postheader a,
h2.art-postheader a:link,
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
/* Nadpis clanku */

{
  font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
  font-size: 24px;
  color: #000000;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #8B090D;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{

  color: #5C7A99;
}


h2.art-postheader a:hover,  h2.art-postheader a.hovered
{


  color: #D80E15;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  color: #3D5266;
}

.art-postheadericons
{
  padding: 1px;

}

.art-postheadericons a, .art-postheadericons a:link
{
  text-decoration: none;
  color: #A30A0F;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  font-style: italic;
  font-weight: normal;
  color: #A30A0F;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  color: #D80E15;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
/*
.art-post ol, .art-post ul
{
  list-style-type: decimal;



}

.art-post li
{
  font-size: 13px;
  /* background-image: url(images/stvorec.png);
  background-repeat: no-repeat; */
  /* background-position: 0.4em; */
/*  background-color: #f2f2f2 ; 
  text-align: left;
}

/*.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 20em;
  padding: 0;
}

.art-post li
{
  color: #000000;

  padding: 0;
}


.art-post li
{

     padding: 1px 5px 6px 15px;    
}

.art-post ol>li
{
 /* background: none;*/
 /* padding-left: 0;/* overrides overflow for "ul li" and sets the default value 
  overflow: visible;
}

.art-post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 35px;/* makes "ul li" not to align behind the image if they are in the same line 
 
  overflow-x: visible;
  overflow-y: hidden;
}
*/



.mceContentBody ul li, ol ul li
{
  background-image: url('images/postbullets.html');
  background-repeat: no-repeat;
/*   padding-left: 35px; */
}
/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #230C01;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

.art-postcontent blockquote p
{
   margin: 2px 0 2px 15px;
}

.art-postcontent blockquote
{
   border: solid 0 #FC9764;
  margin: 10px 10px 10px 50px;
  padding: 0 0 0 0;
  background-color: #F2F2F2;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}



blockquote, .art-postcontent blockquote
{
  margin: 10px 10px 10px 50px !important;
  padding: 0 0 0 0 !important;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  color: #3D5266;
}

.art-postfootericons
{
  padding: 1px;

}

.art-postfootericons a, .art-postfootericons a:link
{
  text-decoration: none;
  color: #A30A0F;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{

  color: #A30A0F;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
  color: #D80E15;
}
/* end PostIcons, PostFooterIcons */



/* begin LayoutCell, sidebar1 */

.art-content-layout .art-sidebar1
{

  width: 255px;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */




/* end LayoutCell, content */

/* begin LayoutCell, sidebar2 */

.art-content-layout .art-sidebar2
{
  width: 255px;
}

/* end LayoutCell, sidebar2 */



/*
** HTML elements
*/

/* BEGIN FCKEditor, CKEditor, TinyMCE modules support*/
body.art-body-nostyle, body.cke_show_borders, #tinymce body, #tinymce body.mceContentBody, body.mceContentBody, #edit-body
{
	background-image: none;
	background-color: #FFFFFF !important;
font-family: Arial, Helvetica, Sans-Serif;
	font-size: 16px;
}
/* END FCKEditor, CKEditor modules support*/

table
{
	width: 100%;
}

ul li, .item-list ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;
}

ul.links li
{
	display: inline;
	background-image: none;
}

ul.menu li a.active
{
	font-weight: bold;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
}


/*#search-block-form input.form-text o riadok nizsie som zmzazal*/

#edit-name, #edit-pass, #edit-mail

{
	width: 90%;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.art-blockcontent
{
	width: 100% !important;
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
	padding-left: 1em;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.art-block-body .art-postheader
{
	display: none;
}

.art-block-body .art-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set background color for sticky table */
table.sticky-header
{
	background-color: #FFFFFF !important;
}
/* END Set background color for sticky table */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb
{
	margin: 1em 0 0 0.7em;
}
/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.art-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.art-postcontent .calendar-calendar ul li, .art-postcontent .calendar-calendar ol ul li,
.art-postcontent div.view div.views-admin-links ul li, .art-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

.art-postcontent ul.arttabs_primary li, .art-postcontent ul.arttabs_secondary li
{
  background-repeat: no-repeat;
  background-image: none;
}


/*begin Harmonogram */

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}

table.sivy
{
text-align: center;
font-weight: normal;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 13;

font-size: 11px;
color: #fff;
width: 680px;
background-color: #f2f2f2;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.sivy td
{
background-color: #f2f2f2;
color: #000;
padding: 4px;
text-align: left;
border: 0px #fff solid;
padding-left: 25px;


}

table.sivy td.hed
{
background-color: #f2f2f2;
font-family:  FontAkkoPro, Arial, Helvetica, Sans-Serif;
font-weight: bold;
font-size: 18px;
color: #94090D;
padding: 0px;
text-align: left;
border-bottom: 0px #fff solid;
padding-left: 10px;
}


/* end harmonogram */


/* Search form */
 /**
 * Header Search Box
 */

 #search {
 float: right;
	width: 300px;
}


/* Hides "Search this site:" label from search forms */
div#edit-search-theme-form-1-wrapper label,
div#edit-search-block-form-1-wrapper label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#search-block-form {                  /* celej searchbox */
display: inline-block;
height: 46px;
width: 234px;
background-image: url(images/searchbox.png);
border: 0 ;
background-repeat: no-repeat;
float: right;
margin-right: 5px;                 /* odsazení zprava */
margin-top: 1px;                 /* odsazení zvrchu */
}

#edit-search-block-form-1 {          /* pole v searchboxu, kam se píše */
margin-top: 5px;
background-color: transparent;
border: 0 transparent ;
margin-left: 9px;
font-family: calibri;
width: 186px;
}

#search-block-form .form-submit {    /* tlačítko k odeslání dotazu v searchboxu */
display: inline-block;
padding-top: 1px;
padding-right: 4px;
background: transparent ;
border: 0 ;
float: right;
}

/* search form */


/* Novinky */
p#novinky {
    color:#535353;
    font-family: Arial;
    font-size: 13px;
    text-align: justify;
    line-height: 18px;

}

p#novinky a {
    color:#c10c11;
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;

}

strong#novinkyDatum {
    position: absolute;
    padding-left: 22px;
    background-image: url(images/hodiny.png);
    background-repeat: no-repeat;
    color:#535353;
    font-family: Arial;
    font-size: 13px;

}
/* end novinky */

/* Social networks */

hr#social
{
display: block;
border: 0;
  width: 200px;
height: 5px;
background: url(images/hr.png); }

p#twitter
{
position: absolute;
padding-left: 35px;
border: 0;
background: url(images/twitter.png);
background-repeat: no-repeat;
}


p#facebook
{
position: absolute;
padding-left: 35px;
border: 0;
background: url(images/facebook.png);
background-repeat: no-repeat;

}



/* end Social networks*/

/* begin Footer */
#footer {
	clear:both;
	margin:0 auto;
	text-align:center;
	display: block;

  background-image: url('images/footerHorny.png');
  background-repeat: no-repeat;
  height: 225px;
  width: 1140px;
	}

#footer-inside {
width:950px;
margin:0 auto;
text-align:left;
min-height:212px;
padding-top:12px;}

#footer-bottom {
	clear:both;
	margin:0 auto;
	text-align:center;
	display: block;
	background-image: url('images/footerSpodny.png');
  background-repeat: no-repeat;
  height: 88px;
  width: 1140px;
}

#footer-bottom-inside {
    width:950px;
    margin:0 auto;
    text-align:left;
    min-height:50px;
    color:#535353;
    font-family: Arial;
    font-size: 12px;
    padding-top:27px;}

#footer-bottom-inside a {color:#970505;}


#footer h2{
	color: #8c94ac;
	background: transparent;
	font-size:22px;
	padding-left:0px;
}

#footer li{
	color: #ffffff;
	list-style: none;
}

#footer ul{
	padding-left: 0px;
}

#footer .content{
	color: #ffffff;
}

#footer-left{
	float:left;

	width: 300px;
	/*border:1px solid red;*/
	padding-left: 14px;
}

#footer-center{
	float:left;
	width: 300px;
	/*border:1px solid red;*/
	padding-left: 14px;
}

#footer-right{
	float:left;
	width: 300px;
	/*border:1px solid red;*/
	padding-left: 14px;
}

.footer-copyright{
	float: left;
}

.footer-links{
	float: right;
}

.footer-links a{
	color: #ffffff;
}


/* end Footer */
