html {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}
body > * {
  padding-top: 10pt;
  padding-bottom: 42pt;
}

td {
  vertical-align: top;
  
}

.dummy_section {
  padding: 0;
  margin: 0;
}
body > .dummy_section:nth-child(2),
body > *:nth-child(2) > *:first-child {
  margin-top: 27pt;  /* blank space under the stripe minus padding minus ??? */
}
/*
body > *:nth-last-child(2) {
  /*padding-bottom: 0;
  margin-bottom: 0;*/
}
*/

body > *:nth-child(2) .section {
  color: #28292a;
}
body > *:nth-child(3n+3) {
  background-color: #C22E38;
  color: white;
}
body > *:nth-child(3n+4) {
  background-color: #28292a;
  /*background-color: #D0D1D1;*/
  color: white;
}
a,
a:link {
  color: #F09685;
  /*font-weight: bolder;*/
  text-decoration: none;
}
a:visited {
  /*color: #981925;*/
  text-decoration: underline;
}
a:hover,
a:active {
  text-decoration: underline;
}
.narrow_paragraph {
  margin-left: auto;
  margin-right: auto;
  max-width: 450pt;
  text-align: justify;
}



#top_stripe {
/*min-height: 37pt;
  height: 37pt; */
  padding: 0;
  margin: 0;
  top: 0;
  position: fixed;
  width: 100%;
}
#top_stripe, #top_stripe * {
  background-color: #28292a;
  color: white;
  z-index: 10;
}
/* @media (min-width: 700pt) { */
  /*.segment:nth-of-type(1) {*/
  nav {
    width: 480pt;
  }
/* } */
/* responsive pure-CSS menu */
/*
#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #4C8FEC url(../img/menu-icon.png) center;
}
*/
@media only screen and (max-width: 710pt) and (max-height: 250pt) {
  #top_stripe nav, #top_stripe nav:active {
    max-height: 60vh;
    overflow-y: scroll;
    border-bottom: dashed #D47A69 5pt;
  }
  #header > img {
    height: 120pt;
    margin: 15pt 0 0 0;
  }
}
@media only screen and (max-width: 710pt) {
  /*
  #menu-icon {
    display:inline-block;
  }
  */ 
  #top_stripe nav, #top_stripe nav:active {
  /*, #top_stripe nav:focus { */
    display: none;
    position: absolute;
    left: 0;
    top: 37pt;
    max-width: 200pt;
    z-index: 10;
  }
  #top_stripe nav .segment {
    margin: 0;
  }
  #top_stripe nav .segment .page_link {
    text-align: center;
    width: 100%;
    padding: 0;
  }
  #top_stripe:hover nav {
    display: block;
  }
}
nav {
  display: inline-block;
}
.segment {
  display: inline-block;
  background-color: blue;
  height: 100%;
  padding-top: 0;
  margin-top: 0;
}
.segment:nth-last-of-type(-n+2) {
  margin-left: 15pt;
  text-align: left;
}
#top_stripe .segment * {
  vertical-align: middle;  /* for img */
  line-height: 37pt;  /* for the rest */
}
/* arbitrary sized icons are evil */
#top_stripe .segment img {
  max-height: 23pt;
}
#top_stripe .segment .ext_link img {
/*  max-height: 15pt; */
  max-height: 17pt;
}
#top_stripe .segment > * {
  display: inline-block;
  margin: 0;
  /*
  padding-top: auto;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: auto;
  */
}
#top_stripe a:link,
#top_stripe a:visited,
#top_stripe a:hover,
#top_stripe a:active {
  text-decoration: none;
  font-weight: 400;
}
#top_stripe .page_link_selected, #top_stripe .page_link_selected img {
  background-color: #BF1F2E;
}
#top_stripe .page_link {
  margin: 0;
  padding-right: 11pt;
  padding-left: 11pt;
  margin-right: -5pt;
}
#top_stripe .page_link, .lang_link {
  /*text-transform: uppercase;*/
  font-size: 12pt;
}
#top_stripe .page_link:hover, #top_stripe .page_link:hover img {
  background-color: #D47A69;
}
#top_stripe .ext_link {
  width: 18pt;
  text-align: center;
}
#top_stripe .ext_link:hover, #top_stripe .ext_link:hover img {
  background-color: #BF1F2E;
}



.urgent {
  color: red;
  font-size: 14pt;
  margin: 4pt auto;
}



#header {
  padding: 0;
/*
  height: 100%;
  display: table;
*/
  margin-left: auto;
  margin-right: auto;
}
#header > * {
  margin-left: auto;
  margin-right: auto;
}
#header_inner {
/*  display: table-cell; */
  vertical-align: top;
}
/*
#header_inner * {
  text-align: center;
}
*/
#header_inner img {
  /*width: 50vh;*/
  /* height: 40vh; */
  margin: 45pt 0 0 0;  /* top stripe height + N */
  /*margin: 1.5vh 0 0 0;*/
}
#header > #header_inner > p:nth-child(2),
#header > #header_inner > p:nth-child(4) {
  font-size: 16pt;
  /*font-size: 4vh;*/
  font-weight: lighter;
  margin-bottom: 0;
}
.time_range_big, .time_range_big a {
  font-size: 20pt;
  /*font-size: 5vh;*/
  font-weight: bold;
  /*margin-top: 8pt;*/
  margin-top: 3vh;
  /*margin-bottom: 15pt;*/
  margin-bottom: 4vh;
}



#main_buttons {
  display: block;
  margin: 4.5vh 0 0 0;
  vertical-align: middle;
}
#main_buttons a:nth-child(n) {
  background-color: #D47A69;
}
#main_buttons a:nth-child(2n) {
  background-color: #BF1F2E;
}
#main_buttons a:nth-child(3n) {
  background-color: #6B0A12;
}
#main_buttons a,
#main_buttons a:link,
#main_buttons a:visited,
#main_buttons a:hover,
#main_buttons a:active {
  color: white;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  font-size: 17pt;
  /*text-transform: uppercase;*/
  padding-top: 15pt;
  padding-bottom: 15pt;
  width: 190pt;
  margin: 0 11pt 20pt 0;
}
@media (min-width: 410pt) {
  #main_buttons a:nth-last-of-type(1),
  #main_buttons a:nth-last-of-type(1):link,
  #main_buttons a:nth-last-of-type(1):visited,
  #main_buttons a:nth-last-of-type(1):hover,
  #main_buttons a:nth-last-of-type(1):active {
    margin-right: 0;
  }
}



.feedback_msg {
  font-style: italic;
  text-align: left;
  margin-top: 24pt;
  margin-bottom: 4pt;
  padding-bottom: 0;
}
.feedback_author:before { content: "-- "; }
.feedback_author {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}



.section {
  /*text-transform: uppercase;*/
  font-size: 35pt;
  font-weight: normal;
  padding: 35pt 0 0 0;
  margin: 0 0 35pt 0;
}
#workshops .narrow_paragraph, #talks .narrow_paragraph {
  text-align: left;
  position: relative;  /* used for circle */
}
.event {
  display: block;
  max-width: 211pt;  /* 450 / 2 - 2 * 7 */
  margin: 0 7pt 0 0;
  float: left;
}
.event_title {
  /*text-transform: uppercase;*/
  font-size: 13pt;
  font-weight: bolder;
  margin: 25pt 0 5pt 0;
}
.participant_name {
  /*color: #C22E38;*/
  margin: 5pt 0 5pt 0;
  font-size: 11pt;
  font-weight: bolder;
  color: green;
}
.event_desc {
  font-size: 10pt;
  margin: 0;
  line-height: 13pt;
}
.event_reqs {
  /*text-transform: uppercase;*/
  font-size: 11pt;
  font-weight: bolder;
  margin: 6pt 0 3pt 0;
}
.event img {
  height: 14pt;
  margin: 10pt 14pt 10pt 0;
}
.not_clickable {
  /*pointer-events: none;
  cursor: default;*/
  display: none;
}
#talks     > div:nth-child(2n),
#talks     > div:nth-child(2n) *,
#workshops > div:nth-child(2n),
#workshops > div:nth-child(2n) * {
  background-color: #e8e7e8;
}
#talks > div, #workshops > div {
  padding: 35pt 0;
}
#talks     > div:first-child,
#workshops > div:first-child {
  padding-top: 0;
}
#talks     > div:last-child,
#workshops > div:last-child {
  padding-bottom: 0;
}

.circle {
  position: absolute;
  width: 18pt;
  height: 18pt;
  border-radius: 50%;
}
.track > h4 {
  color: green;
  font-size: 18pt;
  margin: 0 0 5pt 35pt;
  line-height: 18pt;
}
.track > p {
  font-size: 13pt;
  margin: 0 0 5pt 35pt;
}



#previous_runs img {
  width: 100pt;
  max-height: 50pt;
  vertical-align: middle;
  margin-right: 4pt;
}

#previous_runs span {
  display: inline-block;
  height: 50pt;
  float: left;
}
#previous_runs a {
  margin: auto 2.5pt;
  vertical-align: middle;
  line-height: 50pt;
}
#speakers > div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 42pt;
  margin-bottom: 120pt;
  max-width: 500pt;
  background-color: yellow;
}
.speaker {
  width: 200px;
  height: 300px; 
  margin: 5pt;
  float: left;
  font-size: 10pt;
}
.speaker img, img.speaker {
/*  height: 100px; */
  width: 100pt; 
  height: auto; 
}
.clear_float {
  clear: left;
}




#schedule > p {
  /*text-transform: uppercase;*/
  font-size: 18pt;
  font-weight: lighter;
}
#schedule table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
#schedule table tr th,
#schedule table tr td {
  background-color: #d1d2d4;
  color: black;
}
#schedule table tr td {
  padding: 0.5em;
  text-align: center;
  border: 5px solid white;
  /*border: 5px solid #C22E38;*/
  box-sizing: border-box;
}
#schedule table tr td span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
#schedule table tr td span:first-child {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  margin-bottom: 0.4em;
  background-color: black;
}
#schedule table tr td span:nth-child(2) {
  font-weight: bold;
}
#schedule table tr:first-child th,
#schedule table tr td:first-child {
  color: white;
  background-color: #28292a;
  padding: 1em;
  font-weight: bold;
  border: none;
}
#schedule table tr:first-child th img {
  height: 1.1em;
  margin-right: 0.4em;
  vertical-align: bottom;
}
#schedule .href_topic {
  color: #000000;
}
#schedule table tr td:first-child img {
  width: 1.1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25em;
  padding-left: 2em;
  padding-right: 2em;
}
#schedule table tr td:first-child span {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
#schedule table tr:last-child td {
  border-bottom: none;
}
#schedule table tr td:last-child {
  border-right: none;
}


/*
#venue a:hover, #feedback a:hover {
  color: #6B0A12;
}
*/
#venue {
  padding: 0;
  margin: 0;
}
#venue > p {
  /*text-transform: uppercase;*/
  font-weight: 300;
  font-size: 12.4pt;
  line-height: 20pt;
}
#map_div {
  height: 232pt;  
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
#map_div img {
  min-width: 100%;
  padding: 0;
  margin: 20pt 0 0 0;
  position: absolute;
  transform: translate(-50%, 0);
}



.propagation {
  margin: 14pt auto;
  max-width: 600pt;
}
.img_example {
  height: auto;
  width: auto;
  max-height: 160px;
  max-width: 160px;
  vertical-align: middle;
}



.with_icon {
  display: inline-block;
  line-height: 32px;
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}



body > .section_partners {
  padding: 10pt 0;
}
.partner_levels {
  text-align: center;
}
.partner_levels h4 {
  font-size: 22pt;
  font-weight: normal;
  /*text-transform: uppercase;*/
}

.partners_table td {
  padding-top: 10px;
  text-align: left;
  font-size: 11pt;
}

.partner_levels img {
/*  height: 50pt; */
  width: 180px;
  margin: 15pt;
}

.partners_table  .partner_level {
  font-weight: 200;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-size: 16pt;
  text-transform: uppercase;
  padding-top: 20px;
}



#partners * {
  margin: 0 3px;
  padding: 0;
  height: 44px;
}
#partners {
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  border-top: solid white 3pt;
  border-bottom: solid white 3pt;
  vertical-align: middle;
  text-align: center;
  background: none repeat scroll 0 0 white;
}



#footer {
  margin: 0 0 51px 0;  /* 44px +2*3px -2px */
  padding: 0;
  background-color: #28292a;
}
#footer * {
  color: white;
  font-size: 10pt;
  text-align: left;
}
#footer > div {
  padding: 25pt 0;
}
#footer > div > * {
  width: 225pt;  /* 450 / 2 */
  display: inline-block;
  vertical-align: top;
  line-height: 18pt;
}
#footer > div > *:last-child {
  margin-left: -5pt;
  text-align: right;
}


#stat .stat {
    color: #c22e38;
    font-size: 100px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInDown {
    animation-name: fadeInDown;
}

#stat .stat {
    color: #c22e38;
    font-size: 100px;
}
#stat .stat-info {
    font-size: 17pt;
}

hr {
    border: 0;
    border-top: 1px solid #c22e38;
    width: 20px;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #6b0a12;
  border-right: 2px solid #6b0a12;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #6b0a12;
  -webkit-box-shadow: 2px 2px 15px #6b0a12;
  box-shadow: 2px 2px 15px #6b0a12;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
/*  padding-right: 15px;
  padding-left: 15px;
*/
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

.motto {
  font-style: italic;
}

#schedule  .track0,  /* also a circle */
#talks     .track0 .circle,  /* make it more specific than html * */
#workshops .track0 .circle { background-color: #10753f; }
#talks     .track0 h4,
#workshops .track0 h4,
#talks     .track0 .participant_name,
#workshops .track0 .participant_name { color: #10753f; }
#schedule table tr td span.track0 {
  background-color: #10753f;
}
#schedule  .track1,
#talks     .track1 .circle,
#workshops .track1 .circle { background-color: #2f62ae; }
#talks     .track1 h4,
#workshops .track1 h4,
#talks     .track1 .participant_name,
#workshops .track1 .participant_name { color: #2f62ae; }
#schedule table tr td span.track1 {
  background-color: #2f62ae;
}
#schedule  .track2,
#talks     .track2 .circle,
#workshops .track2 .circle { background-color: #be1e2d; }
#talks     .track2 h4,
#workshops .track2 h4,
#talks     .track2 .participant_name,
#workshops .track2 .participant_name { color: #be1e2d; }
#schedule table tr td span.track2 {
  background-color: #be1e2d;
}

#schedule  .track3,
#talks     .track3 .circle,
#workshops .track3 .circle { background-color: #57585a; }
#talks     .track3 h4,
#workshops .track3 h4,
#talks     .track3 .participant_name,
#workshops .track3 .participant_name { color: #57585a; }
#schedule table tr td span.track3 {
  background-color: #57585a;
}

#schedule  .track4,
#talks     .track4 .circle,
#workshops .track4 .circle { background-color: #d37a6a; }
#talks     .track4 h4,
#workshops .track4 h4,
#talks     .track4 .participant_name,
#workshops .track4 .participant_name { color: #d37a6a; }
#schedule table tr td span.track4 {
  background-color: #d37a6a;
}
#schedule  .track5,
#talks     .track5 .circle,
#workshops .track5 .circle { background-color: #92378b; }
#talks     .track5 h4,
#workshops .track5 h4,
#talks     .track5 .participant_name,
#workshops .track5 .participant_name { color: #92378b; }
#schedule table tr td span.track5 {
  background-color: #92378b;
}

#schedule  .track6,
#talks     .track6 .circle,
#workshops .track6 .circle { background-color: black; }
#talks     .track6 h4,
#workshops .track6 h4,
#talks     .track6 .participant_name,
#workshops .track6 .participant_name { color: black; }

#schedule table tr td span.track6 {
  background-color: black; /* << FIXME */
}


.event_custom {
  width: 50%;
  text-align: left;
}

.anchor{

    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
.speakers_avatar_outer {
  width: 170px;
  height: 170px;
  float: left;
}
.speakers_avatar {
  width: 150px;
  height: auto;
}

.speakers_avatar_outer p {
 margin: 3px;
}

#gallery ul { 
  list-style: none; 
  padding: 0; 
}
#gallery ul li { 
  display: inline; 
}
#gallery ul > li > a > img {
  border: 0px solid #eeeeee;
  border-width: 0;
}


#gallery ul li { 
  float: left;
  font-size: 70%;
  overflow: none; 
  text-align: center;
}

#gallery.one ul > li > a > img {
  width: 130px;
}

#gallery.one ul > li  {
  height: 110px;
  width: 140px;
}


#gallery.multi  ul> li > a > img {
  width: 170px;
}


#gallery.multi ul > li  {
  height: 150px;
  width: 180px;
}
