body {
  padding: 0px;
}
.starter-template {
  text-align: center;
  padding: 40px 15px;
}

.container {
  padding: 40px 0px; 
}
 

h1 {
/*  font-variant: small-caps; */
 text-transform: uppercase;
  font-family: "Open Sans",sans-serif;
  text-align: center;
}

#about {
  background-color: #28292A;
  color: #d0d0cf;
}
#news {
  background-color: #ffffff;
  color: #000000;
}

#schedule {
  background-color: #be1621;
  color: #ffffff;
}
#schedule a {
  color: #ffffff;
}

#schedule-workshop {
  background-color: #ffffff;
  color: #000000;
}

#speakers {
  background-color: #636362;
  color: #ffffff;
}

#speakers A {
  color: #ffffff;
  text-decoration: none;
}

#venue {
  background-color: #be1621;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans",sans-serif;
}

#venue a {
  color: #d0d0cf;
}

#partners {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

#partners a {
  padding: 20px;
}

#share_openalt {
  background-color: #636362;
  color: #ffffff;
}

#share_openalt a {
  color: #d77a67;
}

#contact {
  background-color: #be1621;
  color: #ffffff;
}

#contact a {
  color: #d0d0cf;
}

.events_page section:nth-of-type(2n) {
  background-color: #ffffff;
  color: #000000;
}

.events_page section:nth-of-type(4n+1) {
  background-color: #636362;
  color: #ffffff;
}
.events_page section:nth-of-type(4n+3) {
  background-color: #be1621;
  color: #ffffff;
}

.button_web, .button_facebook, .button_twitter, .button_google, .button_linkedin, .button_ical, .button_qr, .button_video, .button_slides  {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 0;
  outline: 0;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center; 
}

.events_page section:nth-of-type(2n) .button_ical {
  background-image: url('../img/icons/cal-b.png');
}
.events_page section:nth-of-type(4n+1) .button_ical, .events_page section:nth-of-type(4n+3) .button_ical  {
  background-image: url('../img/icons/cal-w.png');
}

.events_page section:nth-of-type(2n) .button_qr {
  background-image: url('../img/icons/qr-b.png');
}

.events_page section:nth-of-type(4n+1) .button_qr, .events_page section:nth-of-type(4n+3) .button_qr  {
  background-image: url('../img/icons/qr-w.png');
}

.events_page section:nth-of-type(2n) .button_video {
  background-image: url('../img/icons/video-b.png');
}

.events_page section:nth-of-type(4n+1) .button_video, .events_page section:nth-of-type(4n+3) .button_video  {
  background-image: url('../img/icons/video-w.png');
}

.events_page section:nth-of-type(2n) .button_slides {
  background-image: url('../img/icons/slides-b.png');
}

.events_page section:nth-of-type(4n+1) .button_slides, .events_page section:nth-of-type(4n+3) .button_slides {
  background-image: url('../img/icons/slides-w.png');
}


.events_page section:nth-of-type(2n) .button_web {
  background-image: url('../img/icons/web-b.png');
}
.events_page section:nth-of-type(4n+1) .button_web, .events_page section:nth-of-type(4n+3) .button_web  {
  background-image: url('../img/icons/web-w.png');
}

.events_page section:nth-of-type(2n) .button_facebook {
  background-image: url('../img/icons/facebook-b.png');
}
.events_page section:nth-of-type(4n+1) .button_facebook, .events_page section:nth-of-type(4n+3) .button_facebook {
  background-image: url('../img/icons/facebook-w.png');
}

.events_page section:nth-of-type(2n) .button_twitter {
  background-image: url('../img/icons/twitter-b.png');
}
.events_page section:nth-of-type(4n+1) .button_twitter, .events_page section:nth-of-type(4n+3) .button_twitter  {
  background-image: url('../img/icons/twitter-w.png');
}

.events_page section:nth-of-type(2n) .button_google {
  background-image: url('../img/icons/google-b.png');
}
.events_page section:nth-of-type(4n+1) .button_google, .events_page section:nth-of-type(4n+3) .button_google  {
  background-image: url('../img/icons/google-w.png');
}

.events_page section:nth-of-type(2n) .button_linkedin {
  background-image: url('../img/icons/linkedin-b.png');
}
.events_page section:nth-of-type(4n+1) .button_linkedin, .events_page section:nth-of-type(4n+3) .button_linkedin  {
  background-image: url('../img/icons/linkedin-w.png');
}


.user_avatar {
  width: 100px;
  height: 100px;
}

.user_avatar_div {
  width: 140px;
  height: 160px;
}

.user_avatar:hover {
  width: 110px;
  height: 110px;
}

.speakers_avatar {
  float: left;
  margin: 10px;
  width: 120px;
  height: 120px;
}

.events_avatar {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}


.room_color_box {
  width: 14px;
  height: 14px;
  background-color: #00ffff;
  display:inline-block;
  vertical-align: middle;
  border: solid #9d9c9c 1px;
}

.clear {
  clear: both;
}

#partners_footer .partner {
/*  height: 34px; */
  margin: 5px 10px 5px 10px;
  text-align: center;

}

#partners_footer {
  border-top: solid #28292A 1px;
  vertical-align: middle;
  height: 44px; 
  width: 100%;
  background: none repeat scroll 0 0 white;
  bottom: 0;
  position: fixed;
  text-align: center;
}

/* override bootstrap defaults */

.navbar-inverse {
  border: 0;
  border-radius: 0;

}

.navbar-inverse a.navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #cccccc;
}

.navbar-inverse a.navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: rgba(190,24,35, 0.9);
}

/* end of bootstrap override */
