@use "sass:map";

/**
 * Only Bootstrap class adjustments
 */

$oa-nav-link-active-bg-color: $oa-pink;
$oa-nav-link-hover-bg-color: $oa-red;

/*
 * Fit the logo into brand
 */
.navbar-brand {
  display: inline-block;
  height: 40px;
  img {
    height: 100%;
  }
}

/*
 * Adapt dropdown colors inside dark navigation
 */
 .navbar-dark {
  .dropdown-menu {
    // inspired by .navbar-dark
    background-color: $dark;
    color: $navbar-dark-color;

    // inspired by .navbar-toggler
    border-color: $navbar-dark-toggler-border-color;
  
    .dropdown-item {
      // inspired by .nav-link
  
      background-color: unset;
      color: $navbar-dark-color;
  
      &.disabled {
        color: $navbar-dark-disabled-color;
      }
  
      &.active, &:active {
        color: $white !important;
        color: $navbar-dark-active-color;
      }
      // below .active, to take precedence
      @include hover-focus() {
        color: $white !important;
        color: $navbar-dark-hover-color;
      }
    }
  }
}

/*
 * Highlight active and hovered items more
 */
@media (min-width: map.get($grid-breakpoints, "lg")) {
  // stretch the links to full height
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .nav-link {
      display: inline-block;
      height: 100%;
      // top, bottom: original padding + the original padding removed from .navbar
      padding-top: calc(.5rem + .5rem);
      padding-bottom: calc(.5rem + .5rem);
      // left, right: increase to visually compensate
      padding-left: .8rem !important;
      padding-right: .8rem !important;
    }
  }
}
.navbar {
  // in collapsed state, add space around the link text for the background-color
  .navbar-collapse.show, .navbar-collapse.collapsing {
    .nav-link {
      // half of .dropdown-item
      padding-left: calc(1.5rem / 2);
      padding-right: calc(1.5rem / 2);
    }
  }
}
.navbar {
  .nav-link, .dropdown-item {
    &.active, &:active {
      color: $white !important;
      background-color: $oa-nav-link-active-bg-color;
    }
    // below .active, to take precedence
    @include hover-focus() {
      color: $white !important;
      background-color: $oa-nav-link-hover-bg-color;
    }
  }
}

/*
 * Fixed height with images vertically centered.
 * The desired height must be set on the '.carousel' itself.
 */
.carousel-inner {
  height: 100%;

  .carousel-item {
    height: 100%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
}