@use "sass:map";

/**
 * Global styles for the whole web, i.e. code in _layout and _includes
 */

$partners-footer-vertical-padding: 2px;
$partners-footer-logos-height: 40px;
$partners-footer-logos-horizontal-gap: 2rem;
$partners-footer-height: calc($partners-footer-logos-height + 2*$partners-footer-vertical-padding);

body {
  min-width: 350px;
}

main {
  padding-top: 2rem;
}

[id] {
  scroll-margin-top: 3.5rem; /* header .nav-link (paddings + line-height) */
}

.bg-oa-red {
  background-color: $oa-red;

  a {
    color: $oa-pink;

    &:hover,
    &:focus {
      color: $white;
    }
  }
}

.btn-oa-red {
  color: $white;
  background-color: $oa-red;
  border-color: $oa-red;

  &:focus,
  &:hover {
    color: $white;
    background-color: $oa-dark-red;
    border-color: $oa-dark-red;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $oa-pink;
  }
}

.btn-oa-pink {
  color: $white;
  background-color: $oa-pink;
  border-color: $oa-pink;

  &:focus,
  &:hover {
    color: $white;
    background-color: $oa-dark-red;
    border-color: $oa-dark-red;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $oa-pink;
  }
}

.btn-outline-oa-red {
  color: $oa-red;
  background-color: unset;
  border-color: $oa-red;

  &:focus,
  &:hover {
    color: $oa-dark-red;
    background-color: unset;
    border-color: $oa-dark-red;
  }
}

.btn-outline-oa-pink {
  color: $oa-pink;
  background-color: unset;
  border-color: $oa-pink;

  &:focus,
  &:hover {
    color: $oa-dark-red;
    background-color: unset;
    border-color: $oa-dark-red;
  }
}

.site-footer-placeholder {
  --site-footer-lines-of-text: 3;
  @media (min-width: map.get($grid-breakpoints, "lg")) {
    --site-footer-lines-of-text: 2;
  }

  height: calc(var(--site-footer-lines-of-text) * $line-height-base * $font-size-base);
}

footer.site-footer {
  bottom: $partners-footer-height;
  width: 100%;

  &.bg-dark {
    color: $white;

    a {
      color: $navbar-dark-active-color;
      
      @include hover-focus() {
        color: $navbar-dark-active-color;
      }
    }
  }
}

.partners-footer-placeholder {
  height: $partners-footer-height;
}

aside.partners-footer {
  height: $partners-footer-height;
  padding: $partners-footer-vertical-padding 0;

  ul, li {
    all: unset;
  }

  ul {
    gap: $partners-footer-logos-horizontal-gap;

    li > a {
      display: inline-block;
      height: $partners-footer-logos-height;

      img {
        height: 100%;
      }
    }
  }
}